<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h3 class="text-center font-weight-bold">Group: {{accountGroupDisplay}}</h3>
  <div class="container-fluid mt-4">
    <ul class="nav nav-tabs">
      <li class="nav-item mr-1">
        <a
          class="nav-link"
          routerLink="./users"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Users</a
        >
      </li>
      <li class="nav-item mr-1">
        <a
          class="nav-link"
          routerLink="./permissions"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Permissions</a
        >
      </li>
    </ul>
    <div class="contrast-img-bg group-home-border pt-5 pb-4 pl-5 pr-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
