@import "../../../variables.scss";

.nav-item .active {
  background: $app-light !important;
  color: $app-dark;
  font-weight: bold;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border: none;
  background: $app-dark;
  z-index: -1;
}
