<div class="page-view-container">
  <div class="register-password-reset-related-container">
    <form
      [formGroup]="forgotpasswordForm"
      (ngSubmit)="onSubmit(forgotpasswordForm)"
    >
      <div class="form-group required">
        <label for="email">What is your account email?</label>
        <input
          formControlName="email"
          type="text"
          class="form-control"
          id="email"
        />
        <small
          class="form-text text-danger"
          *ngIf="email.dirty && email.errors?.required"
          >Email is required</small
        >
        <small class="form-text text-danger" *ngIf="email.errors?.email"
          >Email must be valid</small
        >
      </div>
      <div class="text-center mt-4">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      <swal #errorAlert [showConfirmButton]="false">
        <div *swalPortal>
          <small>Error when trying to send reset email...</small>
        </div>
      </swal>
      <swal #infoAlert [showConfirmButton]="false">
        <div *swalPortal>
          <small>{{serverMessage}}</small>
        </div>
      </swal>
    </form>
  </div>
</div>
