<div class="d-md-flex justify-content-between">
  <div>
    <label for="group-search">Search</label>
    <form
      [formGroup]="filterWaitTimesForm"
      class="form-inline"
      (ngSubmit)="filterWaitTimes()"
    >
      <select
        id="selectSourceSearch"
        class="form-control mr-sm-2"
        formControlName="source"
      >
        <option
          value="{{waitSource.source}}"
          *ngFor="let waitSource of waitTimeSources"
          >{{waitSource.type}}: {{waitSource.source}}</option
        >
      </select>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button
        class="btn btn-outline-secondary ml-2 my-2 my-sm-0"
        type="button"
        (click)="cancelFilter()"
      >
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </form>
  </div>

  <div>
    <button
      class="btn btn-primary"
      type="button"
      (click)="createWaitTimeModal.fire()"
    >
      Add Wait Time
    </button>
  </div>
</div>

<div class="mt-4 mb-4 text-center" *ngIf="filteredWaitTimes.length === 0">
  There are currently no wait times...
</div>

<div class="mt-4 mb-4" *ngFor="let waitTime of filteredWaitTimes">
  <div
    class="p-1 px-md-4 py-md-3 bg-gradient-primary-500 border border-bottom-0 rounded-top border-dark"
  >
    <div class="d-md-flex align-items-center justify-content-between">
      <h6 class="mb-0 font-weight-bold">{{waitTime.title}}</h6>
      <div class="font-weight-bold">{{waitTime.source}}</div>
      <div>
        <fa-icon
          [icon]="faEdit"
          (click)="editWaitTime($event)"
          [attr.data-waittimeid]="waitTime.waitTimeId"
          [attr.data-waittime]="waitTime.waitTime"
          [attr.data-title]="waitTime.title"
          class="delete-item-icon"
        ></fa-icon>
      </div>
      <div>
        <fa-icon
          [icon]="faTrashAlt"
          (click)="deleteWaitTime($event)"
          [attr.data-waittimeid]="waitTime.waitTimeId"
          class="delete-item-icon"
        ></fa-icon>
      </div>
    </div>

    <div class="mt-3 w-md-75 note-content-wrapper">{{waitTime.waitTime}}</div>
  </div>
  <div
    class="p-1 px-md-4 py-md-2 bg-gradient-dark text-light d-flex align-items-center justify-content-between rounded-bottom"
  >
    <div>{{moment(waitTime.createdAt).format("llll")}}</div>
  </div>
</div>

<swal #createWaitTimeModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">New Wait Time</h4>
    <small>
      <form [formGroup]="createWaitTimeForm" (ngSubmit)="createWaitTime()">
        <div class="form-group required text-left mt-4">
          <label for="selectWaitTimeLinkIdType">Select Wait Time Type</label>
          <select
            id="selectWaitTimeLinkIdType"
            class="form-control form-control-sm"
            formControlName="waitTimeLinkIdType"
          >
            <option
              value="{{waitTimeOption.waitTimeType}}^%$%^{{waitTimeOption.waitTimeLinkId}}"
              *ngFor="let waitTimeOption of waitTimeOptionDtos"
              >{{waitTimeOption.waitTimeType}}:
              {{waitTimeOption.source}}</option
            >
          </select>
          <small
            class="form-text text-danger"
            *ngIf="waitTimeLinkIdType.dirty && waitTimeLinkIdType.errors?.required"
            >Wait time type is required
          </small>
        </div>

        <div class="form-group text-left mt-4">
          <label for="title">Title</label>
          <input
            class="form-control"
            type="text"
            formControlName="title"
            id="title"
          />
          <small
            class="form-text text-danger"
            *ngIf="title.dirty && title.errors?.required"
            >Title is required</small
          >
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createWaitTime">Wait Time</label>
          <textarea
            type="text"
            id="createWaitTime"
            class="form-control form-control-sm"
            formControlName="waitTime"
            rows="5"
          ></textarea>
          <small
            class="form-text text-danger"
            *ngIf="waitTime.dirty && waitTime.errors?.required"
            >Wait time is required</small
          >
        </div>

        <div class="mt-4">
          <button
            [disabled]="!createWaitTimeForm.valid"
            [ngStyle]="{'cursor': !createWaitTimeForm.valid ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editWaitTimeModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Wait Time</h4>
    <small>
      <form [formGroup]="editWaitTimeForm" (ngSubmit)="editWaitTimeSubmit()">
        <div class="form-group text-left mt-4">
          <label for="updatedTitle">Title</label>
          <input
            class="form-control"
            type="text"
            formControlName="updatedTitle"
            id="updatedTitle"
          />
        </div>
        <div class="form-group required text-left mt-4">
          <label for="updatedWaitTime">Wait Time</label>
          <textarea
            type="text"
            id="updatedWaitTime"
            class="form-control form-control-sm"
            formControlName="updatedWaitTime"
            rows="5"
          ></textarea>
        </div>
        <div class="mt-4">
          <button
            [disabled]="!editWaitTimeForm.valid"
            [ngStyle]="{'cursor': !editWaitTimeForm.valid ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Update
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteWaitTimeAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this wait time?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="deleteWaitTimeConfirm()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>
