<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <h5 class="font-weight-bold">Providers</h5>
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <label for="group-search">Search</label>
        <form
          [formGroup]="searchProvidersForm"
          class="form-inline"
          (ngSubmit)="searchProvidersByName(searchProvidersForm)"
        >
          <input
            class="form-control mr-sm-2"
            id="provider-search"
            type="search"
            placeholder="Provider Name"
            aria-label="Search"
            formControlName="providerName"
            (search)="searchProvidersByName(searchProvidersForm)"
          />
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
            <fa-icon [icon]="faSearch"></fa-icon>
          </button>
        </form>
      </div>
      <div>
        <button
          class="btn btn-primary d-flex align-items-center"
          (click)="createProvider()"
        >
          <small><fa-icon [icon]="faPlus"></fa-icon></small
          ><span class="ml-1"> Add New Provider</span>
        </button>
      </div>
    </div>

    <div class="mt-3 d-md-flex align-items-center justify-content-between">
      <div class="d-md-flex align-items-center">
        <button
          class="btn btn-sm btn-primary"
          type="button"
          (click)="generateProviderReport()"
        >
          Generate Grant Report
        </button>

        <div
          class="ml-2 text-dark d-flex align-items-center"
          *ngIf="reportRequested && !reportFetched"
        >
          <div class="spinner-border spinner-border-sm" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <div class="ml-2 d-flex align-items-end">
            <span>Processing, it can take a while</span>
            <div class="ml-1 dot-waiting">
              <div class="bounce1"></div>
              <div class="bounce2"></div>
              <div class="bounce3"></div>
            </div>
          </div>
        </div>

        <a
          *ngIf="reportFetched"
          class="ml-2 btn btn-sm btn-info crop-text"
          [href]="sanitize(reportData.reportFile)"
          target="_blank"
          download="{{reportName}}"
        >
          Download {{reportName}}
        </a>
      </div>

      <div class="font-weight-bold">
        Number of Matching Records: {{totalElements}}
      </div>
    </div>

    <div class="w-100 table-wrapper mt-4">
      <table class="table">
        <thead class="bg-gradient-primary-500 text-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Provider Name</th>
            <th scope="col">Email</th>
            <th scope="col">Contact Number</th>
            <th scope="col"># Location and Services</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let provider of providersDisplay">
            <th scope="row">
              <img
                [src]="provider.logo"
                class="rounded-circle logo-img-small"
                alt="Provider Logo Image"
              />
            </th>
            <td valign="middle">
              <div class="d-flex align-items-start">
                <span>{{provider.providerName}}</span>
                <span
                  class="ml-2 badge badge-pill badge-dark font-italic p-2"
                  *ngIf="provider.standalone"
                  >Standalone</span
                >
                <span
                  class="ml-2 badge badge-pill badge-warning font-italic p-2"
                  *ngIf="!provider.approved"
                  >Pending Approval</span
                >
              </div>
            </td>
            <td>{{provider.email}}</td>
            <td>{{pn(provider.contactNumber)}}</td>
            <td>{{provider.locationCount}} ({{provider.serviceCount}})</td>
            <td>
              <div class="d-flex">
                <div class="mr-4">
                  <fa-icon
                    [icon]="faEye"
                    (click)="openProviderView($event)"
                    [attr.data-providerid]="provider.providerInfoId"
                    class="open-view-icon"
                  ></fa-icon>
                </div>
                <div>
                  <fa-icon
                    [icon]="faTrashAlt"
                    (click)="deleteProvider($event)"
                    [attr.data-providerid]="provider.providerInfoId"
                    class="delete-item-icon"
                    *ngIf="provider.locationCount === 0"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="text-center" *ngIf="providersDisplay.length === 0">
        <p>There are currently no providers</p>
      </div>
    </div>

    <div class="mt-4 w-100 d-flex justify-content-center">
      <pagination
        [totalItems]="totalElements"
        [itemsPerPage]="pageSize"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        [boundaryLinks]="true"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></pagination>
    </div>
  </div>
</div>

<swal #confirmDeleteAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this provider?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancelDelete()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>
