<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="d-flex justify-content-between align-items-center">
      <span><h5 class="mb-0 font-weight-bold">Age Groups</h5></span>
      <button
        class="btn btn-primary d-flex align-items-center"
        (click)="createAgeGroupModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add New Age Group</span>
      </button>
    </div>

    <div class="w-100 table-wrapper mt-3">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Group</th>
            <th scope="col">Service Count</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ageGroup of ageGroupDtos">
            <td>Age: {{ageGroup.ageStart}} - {{ageGroup.ageEnd}}</td>
            <td>{{ageGroup.serviceCount}}</td>
            <td>
              <div class="d-flex">
                <div class="mr-4">
                  <fa-icon
                    [icon]="faEdit"
                    [attr.data-agegroupid]="ageGroup.serviceAgeGroupId"
                    [attr.data-agestart]="ageGroup.ageStart"
                    [attr.data-ageend]="ageGroup.ageEnd"
                    (click)="editAgeGroup($event)"
                    class="edit-view-icon"
                  ></fa-icon>
                </div>
                <div *ngIf="ageGroup.serviceCount === 0">
                  <fa-icon
                    [icon]="faTrashAlt"
                    [attr.data-agegroupid]="ageGroup.serviceAgeGroupId"
                    (click)="deleteAgeGroup($event)"
                    class="delete-item-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="ageGroupDtos.length === 0">
        <p>There are currently no age groups</p>
      </div>
    </div>
  </div>
</div>

<swal #createAgeGroupModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">New Age Group</h4>
    <small>
      <form [formGroup]="createAgeGroupForm" (ngSubmit)="createAgeGroup()">
        <div class="form-group required text-left mt-4">
          <label for="createAgeStart">Start Age</label>
          <input
            type="number"
            id="createAgeStart"
            step="1"
            class="form-control form-control-sm"
            formControlName="ageStart"
          />
          <small
            class="form-text text-danger"
            *ngIf="ageStart.dirty && ageStart.errors?.required"
            >Start age is required</small
          >
          <small class="form-text text-danger" *ngIf="ageStart.errors?.integer"
            >Start age must be integers</small
          >
          <small class="form-text text-danger" *ngIf="ageStart.errors?.min"
            >Start age must be at least 0</small
          >
          <small class="form-text text-danger" *ngIf="ageStart.errors?.max"
            >Start age must be at most 255</small
          >
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createAgeEnd">End Age</label>
          <input
            type="number"
            id="createAgeEnd"
            step="1"
            class="form-control form-control-sm"
            formControlName="ageEnd"
          />
          <small
            class="form-text text-danger"
            *ngIf="ageEnd.dirty && ageEnd.errors?.required"
            >End age is required</small
          >
          <small class="form-text text-danger" *ngIf="ageEnd.errors?.integer"
            >End age must be integers</small
          >
          <small class="form-text text-danger" *ngIf="ageEnd.errors?.min"
            >End age must be at least 0</small
          >
          <small class="form-text text-danger" *ngIf="ageEnd.errors?.max"
            >End age must be at most 255</small
          >
          <small
            class="form-text text-danger"
            *ngIf="ageEnd.dirty && !ageEndGreater"
            >End age must be greater than or equal to start age</small
          >
        </div>

        <div class="mt-4">
          <button
            [disabled]="!createAgeGroupForm.valid || !ageEndGreater"
            [ngStyle]="{'cursor': (!createAgeGroupForm.valid || !ageEndGreater) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editAgeGroupModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Age Group</h4>
    <small>
      <form [formGroup]="editAgeGroupForm" (ngSubmit)="editAgeGroupSubmit()">
        <div class="form-group required text-left mt-4">
          <label for="editAgeStart">Start Age</label>
          <input
            type="number"
            id="editAgeStart"
            step="1"
            class="form-control form-control-sm"
            formControlName="editAgeStart"
          />
          <small
            class="form-text text-danger"
            *ngIf="editAgeStart.dirty && editAgeStart.errors?.required"
            >Start age is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="editAgeStart.errors?.integer"
            >Start age must be integers</small
          >
          <small class="form-text text-danger" *ngIf="editAgeStart.errors?.min"
            >Start age must be at least 0</small
          >
          <small class="form-text text-danger" *ngIf="editAgeStart.errors?.max"
            >Start age must be at most 255</small
          >
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editAgeEnd">End Age</label>
          <input
            type="number"
            id="editAgeEnd"
            step="1"
            class="form-control form-control-sm"
            formControlName="editAgeEnd"
          />
          <small
            class="form-text text-danger"
            *ngIf="editAgeEnd.dirty && editAgeEnd.errors?.required"
            >End age is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="editAgeEnd.errors?.integer"
            >End age must be integers</small
          >
          <small class="form-text text-danger" *ngIf="editAgeEnd.errors?.min"
            >End age must be at least 0</small
          >
          <small class="form-text text-danger" *ngIf="editAgeEnd.errors?.max"
            >End age must be at most 255</small
          >
          <small
            class="form-text text-danger"
            *ngIf="editAgeEnd.dirty && !editAgeEndGreater"
            >End age must be greater than or equal to start age</small
          >
        </div>

        <div class="mt-4">
          <button
            [disabled]="!editAgeGroupForm.valid || !editAgeEndGreater"
            [ngStyle]="{'cursor': (!editAgeGroupForm.valid || !editAgeEndGreater) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteAgeGroupAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this age group?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteAgeGroup()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
