<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="bk-btn" (click)="goBack()">
    <div class="bk-btn-triangle"></div>
    <div class="bk-btn-bar"></div>
  </div>
  <h3 class="text-center font-weight-bold">
    <img
      [src]="location.logo"
      class="logo-img-small rounded-circle"
      alt="provider logo"
    />
    {{location.providerName}}
  </h3>

  <div class="container-fluid mt-4 contrast-img-bg p-4">
    <div class="d-md-flex align-items-center">
      <div>
        Location: {{location.locationName}}
      </div>
      <button
        class="ml-auto btn btn-primary btn-sm"
        *ngIf="location.otherLocations.length > 0"
        (click)="viewOtherLocationsModal.fire()"
      >
        View Other Locations
      </button>
    </div>
  </div>
  <div class="container-fluid mt-4 contrast-img-bg p-4">
    <div class="row">
      <div class="col-md-8">
        <div class="mt-2" *ngIf="location.description">
          <h5 class="mb-0">Description:</h5>
          <div [innerHTML]="location.description | securedHtml"></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mt-3" *ngIf="location.website">
          Website:
          <a href="{{location.website}}" target="_blank"
            >{{location.website}}</a
          >
        </div>

        <div *ngIf="location.linkedin">
          LinkedIn:
          <a href="{{location.linkedin}}" target="_blank"
            >{{location.linkedin}}</a
          >
        </div>

        <div *ngIf="location.twitter">
          Twitter:
          <a href="{{location.twitter}}" target="_blank"
            >{{location.twitter}}</a
          >
        </div>

        <div *ngIf="location.facebook">
          Facebook:
          <a href="{{location.facebook}}" target="_blank"
            >{{location.facebook}}</a
          >
        </div>

        <div *ngIf="location.instagram">
          Instagram:
          <a href="{{location.instagram}}" target="_blank"
            >{{location.instagram}}</a
          >
        </div>

        <div *ngIf="location.youtube">
          YouTube:
          <a href="{{location.youtube}}" target="_blank"
            >{{location.youtube}}</a
          >
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-8">
        <div class="mt-3" *ngFor="let service of location.locationServiceDtos">
          <div class="border rounded mb-0 p-4">
            <div class="text-center bg-dark text-light">
              <p>
                <span class="h5">Category: </span>
                <strong>{{service.category}}</strong>
              </p>
              <p class="mb-0">{{service.categoryDescription}}</p>
            </div>
            <div class="text-center bg-primary text-dark">
              <p>
                <span class="h5">Service: </span>
                <strong>{{service.serviceName}}</strong>
              </p>
              <p>{{service.serviceDescription}}</p>
            </div>

            <dl class="row mt-3">
              <dt class="col-sm-3">Insurance:</dt>
              <dd class="col-sm-9 border-bottom">
                <div *ngFor="let insurance of service.insurances">
                  <p>{{insurance}}</p>
                </div>
              </dd>

              <dt class="col-sm-3">Age Groups:</dt>
              <dd class="col-sm-9 border-bottom">
                <div *ngFor="let ageGroup of service.locationAgeGroupDtos">
                  <p>{{ageGroup.ageStart}} - {{ageGroup.ageEnd}}</p>
                </div>
              </dd>

              <dt class="col-sm-3">Delivery Method:</dt>
              <dd class="col-sm-9">
                <div *ngFor="let delivery of service.deliveries">
                  <p>{{delivery}}</p>
                </div>
              </dd>
            </dl>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="mt-3">
          <div *ngIf="location.address">
            Address:
            <a
              href="https://www.google.com/maps/place/{{location.address}}"
              target="_blank"
              >{{location.address}}</a
            >
          </div>

          <div class="mt-3" *ngIf="location.contactNumbers.length > 0">
            <div>Contact Number(s):</div>
            <div *ngFor="let contactNumber of location.contactNumbers">
              {{pn(contactNumber)}}
            </div>
          </div>

          <div class="mt-3" *ngIf="location.faxNumbers.length > 0">
            <div>Fax Number(s):</div>
            <div *ngFor="let contactNumber of location.faxNumbers">
              {{pn(contactNumber)}}
            </div>
          </div>

          <div
            class="mt-3"
            *ngIf="location.emails.length > 0 || location.additionalEmails.length > 0"
          >
            <div>Email(s):</div>
            <div *ngFor="let email of location.emails">
              <a href="mailto:{{email}}">{{email}}</a>
            </div>

            <div *ngFor="let email of location.additionalEmails">
              <a href="mailto:{{email}}">{{email}}</a>
            </div>
          </div>

          <button
            class="mt-3 btn btn-dark btn-sm"
            type="button"
            *ngIf="location.files.length > 0"
            [attr.data-providerinfoid]="location.providerInfoId"
            (click)="viewProviderFiles($event)"
          >
            View Provider Files
          </button>

          <div class="mt-1">
            <div *ngFor="let file of location.files; let i = index">
              File {{i+1}}: {{file}}
            </div>
          </div>

          <br />

          <div *ngIf="hasInternalPermission" class="mt-3">
            <div *ngIf="location.internalMailingAddress">
              Mailing Address:
              <a
                href="https://www.google.com/maps/place/{{location.internalMailingAddress}}"
                target="_blank"
                >{{location.address}}</a
              >
            </div>

            <div
              class="mt-3"
              *ngIf="location.internalAdminContactNumbers.length > 0"
            >
              <div>Administrative Contact Number(s):</div>
              <div
                *ngFor="let contactNumber of location.internalAdminContactNumbers"
              >
                {{pn(contactNumber)}}
              </div>
            </div>

            <div
              class="mt-3"
              *ngIf="location.internalMktContactNumbers.length > 0"
            >
              <div>Marketing Contact Number(s):</div>
              <div
                *ngFor="let contactNumber of location.internalMktContactNumbers"
              >
                {{pn(contactNumber)}}
              </div>
            </div>

            <div class="mt-3" *ngIf="location.internalAdminEmails.length > 0">
              <div>Administrative Email(s):</div>
              <div *ngFor="let email of location.internalAdminEmails">
                <a href="mailto:{{email}}">{{email}}</a>
              </div>
            </div>

            <div class="mt-3" *ngIf="location.internalMktEmails.length > 0">
              <div>Marketing Email(s):</div>
              <div *ngFor="let email of location.internalMktEmails">
                <a href="mailto:{{email}}">{{email}}</a>
              </div>
            </div>

            <div class="mt-3 d-flex align-items-center">
              <div>
                <button
                  class="btn btn-dark btn-sm"
                  type="button"
                  [attr.data-providerinfoid]="location.providerInfoId"
                  (click)="viewProviderNotes($event)"
                >
                  Notes
                </button>
              </div>

              <div class="ml-3">
                <button
                  class="btn btn-dark btn-sm"
                  type="button"
                  [attr.data-providerinfoid]="location.providerInfoId"
                  (click)="viewProviderWaitTimes($event)"
                >
                  Wait Times
                </button>
              </div>

              <div class="ml-3">
                <button
                  class="btn btn-dark btn-sm"
                  type="button"
                  [attr.data-providerinfoid]="location.providerInfoId"
                  (click)="viewProviderAccounts($event)"
                >
                  Accounts
                </button>
              </div>
            </div>

            <button
              class="mt-3 btn btn-primary"
              type="button"
              [attr.data-providerinfoid]="location.providerInfoId"
              (click)="viewProvider($event)"
            >
              View All Provider Details
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #viewOtherLocationsModal [showConfirmButton]="false">
  <div *swalPortal>
    <small *ngFor="let otherLocation of location.otherLocations"
      ><div class="mt-3">
        <button
          [attr.data-locationid]="otherLocation.locationId"
          (click)="viewOtherLocation($event)"
          class="btn btn-sm btn-dark"
        >
          {{otherLocation.locationName}}
        </button>
      </div></small
    >
  </div>
</swal>
