<div>
  <div class="d-md-flex align-items-center justify-content-around">
    <button class="btn btn-warning" (click)="goBackToAllProviders()">
      All Providers
    </button>
    <button class="btn btn-primary" (click)="goToInfoPage()">Info</button>
    <button class="btn btn-primary" (click)="goToFilesPage()">
      File Share
    </button>
    <button class="btn btn-primary" (click)="goToWaitTimesPage()">
      Wait Times
    </button>
    <button class="btn btn-primary" (click)="goToAccountsPage()">
      Accounts
    </button>
  </div>
  <hr />
  <router-outlet></router-outlet>
</div>
