<div class="w-100 pb-4">
  <div
    class="d-flex justify-content-between py-2 px-3"
    *ngFor="let permission of allPermissions"
  >
    <div>
      <p class="mb-0">
        {{permission.permissionNameDisplay}}
      </p>
    </div>
    <div>
      <div>
        <input
          type="checkbox"
          [checked]="permission.checked"
          [attr.data-permission]="permission.permission"
          (change)="updateGroupPermission($event)"
          [disabled]="accountGroup === adminGroup"
        />
      </div>
    </div>
  </div>
</div>

<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>
