<div class="text-right" *ngIf="isAllowedToLinkOrUnlink">
  <button
    class="btn btn-primary"
    type="button"
    (click)="linkAccountModal.fire()"
  >
    Link Account
  </button>
</div>
<div class="w-100 table-wrapper mt-3">
  <table class="table">
    <thead class="bg-gradient-primary-500">
      <tr>
        <th scope="col">Username</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts" class="bg-gradient-light">
        <td>{{account.username}}</td>
        <td>{{account.firstName}} {{account.lastName}}</td>
        <td>{{account.email}}</td>
        <td>
          <div class="d-flex" *ngIf="isAllowedToLinkOrUnlink">
            <div>
              <fa-icon
                [icon]="faTrashAlt"
                (click)="unlinkProviderAccount($event)"
                [attr.data-username]="account.username"
                class="delete-item-icon"
              ></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="accounts.length === 0">
    <p>There are currently no accounts linked with this provider...</p>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to remove this account from this provider?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancelDelete()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #linkAccountModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Link Account</h4>
    <small>
      <form [formGroup]="linkAccountForm" (ngSubmit)="searchAndLinkAccount()">
        <div class="form-group required text-left mt-4">
          <label for="username">Existing Account</label>
          <input
            type="text"
            id="username"
            class="form-control form-control-sm"
            formControlName="username"
          />
        </div>
        <div class="mt-4">
          <button class="btn btn-primary" type="submit">
            Search and Link
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>
