<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h3 class="text-center font-weight-bold">System Permissions</h3>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <p>
      All permissions are system defined and you cannot make modifications on
      this page.<br />This is a <strong>View Only</strong> page.
    </p>
    <div class="w-100 table-wrapper">
      <table class="table mt-2">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Permission</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let permission of permissions">
            <td>{{permission.permissionNameDisplay}}</td>
            <td>{{permission.description}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
