<div class="d-flex align-items-center justify-content-center mb-3" *ngIf="!provider.providerInfoDto.createApproved">
  <span class="badge badge-pill badge-info font-italic p-2">
    Provider Newly Created Waiting for Approval
  </span>
</div>

<div>
  <button class="ml-auto btn btn-dark d-flex align-items-center" type="button" (click)="addLocation()">
    <small>
      <fa-icon [icon]="faPlus"></fa-icon>
    </small><span class="ml-1"> Add Location</span>
  </button>
</div>

<div class="mt-4" *ngFor="let location of provider.providerLocationDtos">
  <div class="d-flex flex-wrap justify-content-around align-items-center mb-3">
    <div>
      <button class="btn btn-primary" (click)="openLocationView($event)" [attr.data-locationid]="location.locationId"
        type="button">
        Show Location: {{location.locationName}}
      </button>
    </div>
    <div>
      <fa-icon [icon]="faTrashAlt" (click)="deleteLocation($event)" [attr.data-locationid]="location.locationId"
        class="delete-item-icon"></fa-icon>
    </div>
    <div class="ml-2 ml-md-4">
      <span class="ml-2 ml-md-4">{{location.locationServiceDtos.length}} Services</span>
      <span class="ml-2 ml-md-4">
        {{location.serviceCounties.length}} Counties
      </span>

      <span *ngIf="location.createApproved">
        <span *ngIf="location.deleteRequested"
          class="ml-2 ml-md-4 badge badge-pill badge-danger font-italic p-2">Waiting for Delete Approval</span>
        <span *ngIf="location.modifyRequested"
          class="ml-2 ml-md-4 badge badge-pill badge-warning font-italic p-2">Waiting for Update Approval</span>
      </span>
      <span *ngIf="!location.createApproved" class="ml-2 ml-md-4 badge badge-pill badge-info font-italic p-2">
        Waiting for Create Approval
      </span>
    </div>
  </div>

  <div *ngIf="showLocationId == location.locationId" class="mb-4 bg-gradient-primary-500 p-2 p-md-4">
    <div *ngIf="location.internal">
      <span class="badge badge-pill badge-light font-italic p-1">
        This is an internal location
      </span>
      <button class="ml-3 btn btn-sm btn-warning" *ngIf="hasAdminEditPerm" type="button"
        (click)="publishLocation(location.locationId)">
        Publish Location
      </button>
    </div>
    <div *ngIf="!location.internal">
      <button class="btn btn-sm btn-warning" *ngIf="hasAdminEditPerm" type="button"
        (click)="unpublishLocation(location.locationId)">
        Make This Location Internal
      </button>
    </div>

    <div class="mt-3 d-md-flex align-items-center">
      <span *ngIf="!locationNameEditMode">Location Name: {{location.locationName}}</span>
      <div *ngIf="locationNameEditMode" class="d-md-flex align-items-center">
        <input type="text" class="form-control" [(ngModel)]="editLocationNameValue" placeholder="New Location Name" />

        <span class="ml-3">
          <fa-icon [icon]="faSave" (click)="saveEditLocationName($event)" [attr.data-locationid]="location.locationId"
            class="save-item-icon"></fa-icon>
        </span>

        <span class="ml-3">
          <fa-icon [icon]="faTimes" (click)="cancelEditLocationName()" class="cancel-view-icon"></fa-icon>
        </span>
      </div>

      <span *ngIf="!locationNameEditMode" class="ml-3">
        <fa-icon [icon]="faEdit" (click)="editLocationName($event)" [attr.data-locationname]="location.locationName"
          class="edit-view-icon"></fa-icon>
      </span>
    </div>
    <div *ngIf="location.modifiedLocationName">
      {{location.modifiedLocationName}}
      <span class="badge badge-pill badge-warning font-italic p-1">Waiting for Update Approval</span>
    </div>

    <div class="mt-3 d-md-flex">
      <span class="d-flex align-items-center"><span>Mailing Address: {{location.mailingStreet}},
          {{location.mailingCity}}, {{location.mailingState}}
          {{location.mailingZip}}</span>
        <span class="ml-2 badge badge-pill badge-light font-italic p-1">
          Internal Only
        </span></span>
      <span class="ml-3">
        <fa-icon [icon]="faEdit" [attr.data-addressid]="location.mailingAddressId" [attr.data-addresstype]="'Mailing'"
          [attr.data-city]="location.mailingCity" [attr.data-street]="location.mailingStreet"
          [attr.data-state]="location.mailingState" [attr.data-zip]="location.mailingZip"
          (click)="editLocationAddress($event)" class="edit-view-icon"></fa-icon>
      </span>
    </div>
    <div *ngIf="location.modifiedMailingAddress">
      {{location.modifiedMailingAddress.modifiedStreet}},
      {{location.modifiedMailingAddress.modifiedCity}},
      {{location.modifiedMailingAddress.modifiedState}}
      {{location.modifiedMailingAddress.modifiedZip}}
      <span class="badge badge-pill badge-warning font-italic p-1">Waiting for Update Approval</span>
    </div>

    <div class="mt-3"
      *ngIf="location.serviceStreet && location.serviceCity && location.serviceState && location.serviceZip">
      <span>Service Address: {{location.serviceStreet}}, {{location.serviceCity}},
        {{location.serviceState}} {{location.serviceZip}}</span>
      <span class="ml-3">
        <fa-icon [icon]="faEdit" [attr.data-addressid]="location.serviceAddressId" [attr.data-addresstype]="'Service'"
          [attr.data-city]="location.serviceCity" [attr.data-street]="location.serviceStreet"
          [attr.data-state]="location.serviceState" [attr.data-zip]="location.serviceZip"
          (click)="editLocationAddress($event)" class="edit-view-icon"></fa-icon>
      </span>
    </div>
    <div *ngIf="location.modifiedServiceAddress">
      {{location.modifiedServiceAddress.modifiedStreet}},
      {{location.modifiedServiceAddress.modifiedCity}},
      {{location.modifiedServiceAddress.modifiedState}}
      {{location.modifiedServiceAddress.modifiedZip}}
      <span class="badge badge-pill badge-warning font-italic p-1">Waiting for Update Approval</span>
    </div>

    <div class="mt-3">
      <div class="d-md-flex align-items-center justify-content-between">
        <span class="mr-2">Emails</span>
        <button class="btn btn-sm btn-dark d-flex align-items-center" type="button" (click)="editEmailModal.fire()">
          <small>
            <fa-icon [icon]="faPlus"></fa-icon>
          </small><span class="ml-1"> Add Email</span>
        </button>
      </div>
      <div
        class="d-flex justify-content-between align-items-center form-field-background py-1 py-md-2 px=2 px-md-4 mt-2"
        *ngFor="let email of location.emailDtos">
        <span>{{email.email}}</span>
        <span>{{email.type}}</span>
        <div>
          <fa-icon [icon]="faTrashAlt" (click)="deleteEditEmail($event)" [attr.data-editemailid]="email.emailId"
            class="delete-item-icon"></fa-icon>
        </div>
      </div>

      <div
        class="d-flex justify-content-between align-items-center form-field-background py-1 py-md-2 px=2 px-md-4 mt-2"
        *ngFor="let email of location.unapprovedAddedEmails">
        <span>{{email.email}}</span>
        <span>{{email.type}}</span>
        <div>
          <fa-icon [icon]="faTrashAlt" (click)="deleteEditEmail($event)" [attr.data-editemailid]="email.emailId"
            class="delete-item-icon"></fa-icon>
        </div>
        <span class="badge badge-pill badge-info font-italic p-1">
          Waiting for Create Approval
        </span>
      </div>

      <div
        class="d-flex justify-content-between align-items-center form-field-background py-1 py-md-2 px=2 px-md-4 mt-2"
        *ngFor="let email of location.unapprovedDeletedEmails">
        <span>{{email.email}}</span>
        <span>{{email.type}}</span>
        <span class="badge badge-pill badge-danger font-italic p-1">
          Waiting for Delete Approval
        </span>
      </div>
    </div>

    <div class="mt-3">
      <div class="d-md-flex align-items-center justify-content-between">
        <span class="mr-2">Contact Numbers</span>
        <button class="btn btn-sm btn-dark d-flex align-items-center" type="button"
          (click)="editContactNumberModal.fire()">
          <small>
            <fa-icon [icon]="faPlus"></fa-icon>
          </small><span class="ml-1"> Add Contact Number</span>
        </button>
      </div>
      <div
        class="d-flex justify-content-between align-items-center form-field-background py-1 py-md-2 px=2 px-md-4 mt-2"
        *ngFor="let contactNumber of location.contactNumberDtos">
        <span>{{pn(contactNumber.number)}}</span>
        <span>{{contactNumber.type}}</span>
        <div>
          <fa-icon [icon]="faTrashAlt" (click)="deleteEditContactNumber($event)"
            [attr.data-editnumberid]="contactNumber.contactNumberId" class="delete-item-icon"></fa-icon>
        </div>
      </div>

      <div
        class="d-flex justify-content-between align-items-center form-field-background py-1 py-md-2 px=2 px-md-4 mt-2"
        *ngFor="let contactNumber of location.unapprovedAddedContactNumbers">
        <span>{{pn(contactNumber.number)}}</span>
        <span>{{contactNumber.type}}</span>
        <div>
          <fa-icon [icon]="faTrashAlt" (click)="deleteEditContactNumber($event)"
            [attr.data-editnumberid]="contactNumber.contactNumberId" class="delete-item-icon"></fa-icon>
        </div>
        <span class="badge badge-pill badge-info font-italic p-1">
          Waiting for Create Approval
        </span>
      </div>

      <div
        class="d-flex justify-content-between align-items-center form-field-background py-1 py-md-2 px=2 px-md-4 mt-2"
        *ngFor="let contactNumber of location.unapprovedDeletedContactNumbers">
        <span>{{pn(contactNumber.number)}}</span>
        <span>{{contactNumber.type}}</span>
        <span class="badge badge-pill badge-danger font-italic p-1">
          Waiting for Delete Approval
        </span>
      </div>
    </div>

    <div class="mt-3">
      <div class="d-md-flex align-items-center justify-content-between">
        <span class="mr-2">Services</span>
        <button class="btn btn-sm btn-dark d-flex align-items-center" type="button" (click)="editServiceModal.fire()">
          <small>
            <fa-icon [icon]="faPlus"></fa-icon>
          </small><span class="ml-1"> Add Service</span>
        </button>
      </div>
      <div *ngFor="let service of location.locationServiceDtos"
        class="form-field-background py-1 py-md-2 px=2 px-md-4 mt-2 d-flex justify-content-between">
        <div>
          <div *ngIf="service.internal" class="mt-1">
            <span class="badge badge-pill badge-light font-italic p-1">
              This is an internal service
            </span>
            <button class="ml-3 btn btn-sm btn-warning" *ngIf="hasAdminEditPerm" type="button"
              (click)="publishService(service.identifier)">
              Publish Service
            </button>
          </div>
          <div *ngIf="!service.internal" class="mt-1">
            <button class="btn btn-sm btn-warning" *ngIf="hasAdminEditPerm" type="button"
              (click)="unpublishService(service.identifier)">
              Make This Service Internal
            </button>
          </div>

          <div class="mt-2">Service Name: {{service.serviceName}}</div>
          <div>Service Description: {{service.serviceDescription}}</div>
          <div>Service Category: {{service.category}}</div>
          <div>Category Description: {{service.categoryDescription}}</div>

          <div>Age Groups:</div>
          <ul>
            <li *ngFor="let ageGroup of service.locationAgeGroupDtos">
              Ages {{ageGroup.ageStart}} - {{ageGroup.ageEnd}}
            </li>
          </ul>
        </div>
        <div>
          <div>Deliveries:</div>
          <ul>
            <li *ngFor="let delivery of service.deliveries">{{delivery}}</li>
          </ul>

          <div>Insurances Accepted:</div>
          <ul>
            <li *ngFor="let insurance of service.insurances">{{insurance}}</li>
          </ul>

          <div class="text-right">
            <fa-icon [icon]="faTrashAlt" (click)="deleteEditService($event)"
              [attr.data-editidentifier]="service.identifier" class="delete-item-icon"></fa-icon>

            <fa-icon [icon]="faClone" class="copy-item-icon" [attr.data-editidentifier]="service.identifier"
              (click)="cloneServiceFire($event)"></fa-icon>
          </div>
        </div>
      </div>

      <div *ngFor="let service of location.unapprovedAddedGroupedServices"
        class="form-field-background py-1 py-md-2 px=2 px-md-4 mt-2 d-flex justify-content-between">
        <div>
          <div *ngIf="service.internal" class="mt-1">
            <span class="badge badge-pill badge-light font-italic p-1">
              This is an internal service
            </span>
            <button class="ml-3 btn btn-sm btn-warning" *ngIf="hasAdminEditPerm" type="button"
              (click)="publishService(service.identifier)">
              Publish Service
            </button>
          </div>
          <div *ngIf="!service.internal" class="mt-1">
            <button class="btn btn-sm btn-warning" *ngIf="hasAdminEditPerm" type="button"
              (click)="unpublishService(service.identifier)">
              Make This Service Internal
            </button>
          </div>

          <div class="mt-2">Service Name: {{service.serviceName}}</div>
          <div>Service Description: {{service.serviceDescription}}</div>
          <div>Service Category: {{service.category}}</div>
          <div>Category Description: {{service.categoryDescription}}</div>

          <div>Age Groups:</div>
          <ul>
            <li *ngFor="let ageGroup of service.locationAgeGroupDtos">
              Ages {{ageGroup.ageStart}} - {{ageGroup.ageEnd}}
            </li>
          </ul>
        </div>

        <div>
          <div>Deliveries:</div>
          <ul>
            <li *ngFor="let delivery of service.deliveries">{{delivery}}</li>
          </ul>

          <div>Insurances Accepted:</div>
          <ul>
            <li *ngFor="let insurance of service.insurances">{{insurance}}</li>
          </ul>

          <div class="text-right">
            <fa-icon [icon]="faTrashAlt" (click)="deleteEditService($event)"
              [attr.data-editidentifier]="service.identifier" class="delete-item-icon"></fa-icon>
          </div>
          <div class="text-right">
            <span class="badge badge-pill badge-info font-italic p-1">
              Waiting for Create Approval
            </span>
          </div>
        </div>
      </div>

      <div *ngFor="let service of location.unapprovedDeletedGroupedServices"
        class="form-field-background py-1 py-md-2 px=2 px-md-4 mt-2 d-flex justify-content-between">
        <div>
          <div>Service Name: {{service.serviceName}}</div>
          <div>Service Description: {{service.serviceDescription}}</div>
          <div>Service Category: {{service.category}}</div>
          <div>Category Description: {{service.categoryDescription}}</div>

          <div>Age Groups:</div>
          <ul>
            <li *ngFor="let ageGroup of service.locationAgeGroupDtos">
              Ages {{ageGroup.ageStart}} - {{ageGroup.ageEnd}}
            </li>
          </ul>
        </div>
        <div>
          <div>Deliveries:</div>
          <ul>
            <li *ngFor="let delivery of service.deliveries">{{delivery}}</li>
          </ul>

          <div>Insurances Accepted:</div>
          <ul>
            <li *ngFor="let insurance of service.insurances">{{insurance}}</li>
          </ul>

          <div class="text-right">
            <fa-icon [icon]="faTrashAlt" (click)="deleteEditService($event)"
              [attr.data-editidentifier]="service.identifier" class="delete-item-icon"></fa-icon>
          </div>
          <div class="text-right">
            <span class="badge badge-pill badge-danger font-italic p-1">
              Waiting for Delete Approval
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3 d-flex align-items-center justify-content-between">
      <button class="mt-3 btn btn-sm btn-dark d-flex align-items-center" type="button"
        (click)="editServiceCountiesFire()">
        <small>
          <fa-icon [icon]="faEdit"></fa-icon>
        </small><span class="ml-1"> Edit Service Counties</span>
      </button>

      <button class="btn btn-sm btn-warning d-flex align-items-center" type="button"
        (click)="unapprovedCountiesViewFire()" *ngIf="location.modifiedCounties.length > 0">
        <small>
          <fa-icon [icon]="faEye"></fa-icon>
        </small><span class="ml-1"> Unapproved Updated Counties</span>
      </button>
    </div>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>

<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteLocationAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>
      Are you sure you want to delete this location with all its contact
      information and services?
    </h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteLocation()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #editAddressModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">
      Edit {{editAddressType}} Address
    </h4>
    <small>
      <form [formGroup]="editAddressForm" (ngSubmit)="editAddressSubmit()">
        <div class="form-group required text-left mt-4">
          <label for="editStreet">Street Address</label>
          <input type="text" id="editStreet" class="form-control form-control-sm" formControlName="editStreet" />
          <small class="form-text text-danger" *ngIf="editStreet.dirty && editStreet.errors?.required">Street is
            required</small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editCity">City</label>
          <input type="text" id="editCity" class="form-control form-control-sm" formControlName="editCity" />
          <small class="form-text text-danger" *ngIf="editCity.dirty && editCity.errors?.required">City is
            required</small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editState">State</label>
          <select name="editState" formControlName="editState" id="editState" class="form-control form-control-sm">
            <option *ngFor="let stateOption of stateOptions" value="{{stateOption}}">{{stateOption}}</option>
          </select>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editZip">Zip</label>
          <input class="form-control form-control-sm" type="text" id="editZip" formControlName="editZip" />
          <small class="form-text text-danger" *ngIf="editZip.dirty && editZip.errors?.required">Zipcode is
            required</small>
          <small class="form-text text-danger" *ngIf="editZip.errors?.zipcode">Zipcode must be valid</small>
        </div>

        <div class="mt-4">
          <button [disabled]="!editAddressForm.valid"
            [ngStyle]="{'cursor': !editAddressForm.valid ? 'not-allowed' : 'pointer'}" class="btn btn-primary"
            type="submit">
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editEmailModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Email</h4>
    <small>
      <form [formGroup]="editEmailForm" (ngSubmit)="submitEditEmail()">
        <div class="form-group required text-left mt-4">
          <label for="editEmail">Email</label>
          <input type="text" id="editEmail" class="form-control form-control-sm" formControlName="editEmail" />
          <small class="form-text text-danger" *ngIf="editEmail.dirty && editEmail.errors?.required">Email is
            required</small>
          <small class="form-text text-danger" *ngIf="editEmail.errors?.email">Email must be valid</small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editEmailType">Email Type</label>
          <select name="editEmailType" id="editEmailType" formControlName="editContactType"
            class="form-control form-control-sm">
            <option *ngFor="let contactTypeOption of contactTypeOptions" value="{{contactTypeOption.type}}">
              {{contactTypeOption.type}}
              ({{contactTypeOption.description}})</option>
          </select>
        </div>

        <div class="mt-4">
          <button class="btn btn-primary" [disabled]="!editEmailForm.valid"
            [ngStyle]="{'cursor': !editEmailForm.valid ? 'not-allowed' : 'pointer'}">
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteEditEmailAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>
      Are you sure you want to delete this email?
    </h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteEditEmail()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #confirmDeleteEditContactNumberAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>
      Are you sure you want to delete this contact number?
    </h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteEditContactNumber()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #confirmDeleteEditServiceAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>
      Are you sure you want to delete this service?
    </h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteEditService()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #editEmailModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Email</h4>
    <small>
      <form [formGroup]="editEmailForm" (ngSubmit)="submitEditEmail()">
        <div class="form-group required text-left mt-4">
          <label for="editEmail">Email</label>
          <input type="text" id="editEmail" class="form-control form-control-sm" formControlName="editEmail" />
          <small class="form-text text-danger" *ngIf="editEmail.dirty && editEmail.errors?.required">Email is
            required</small>
          <small class="form-text text-danger" *ngIf="editEmail.errors?.email">Email must be valid</small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editEmailType">Email Type</label>
          <select name="editEmailType" id="editEmailType" formControlName="editContactType"
            class="form-control form-control-sm">
            <option *ngFor="let contactTypeOption of contactTypeOptions" value="{{contactTypeOption.type}}">
              {{contactTypeOption.type}}
              ({{contactTypeOption.description}})</option>
          </select>
        </div>

        <div class="mt-4">
          <button class="btn btn-primary" [disabled]="!editEmailForm.valid"
            [ngStyle]="{'cursor': !editEmailForm.valid ? 'not-allowed' : 'pointer'}">
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editContactNumberModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Contact Number</h4>
    <small>
      <form [formGroup]="editContactNumberForm" (ngSubmit)="submitEditContactNumber()">
        <div class="form-group required text-left mt-4">
          <label for="editContactNumber">Contact Number</label>
          <input type="text" id="editContactNumber" class="form-control form-control-sm"
            formControlName="editContactNumber" />
          <small class="form-text text-danger"
            *ngIf="editContactNumber.dirty && editContactNumber.errors?.required">Contact number is required</small>
          <small class="form-text text-danger" *ngIf="editContactNumber.errors?.pattern">Contact number must be
            valid</small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editContactNumberType">Contact Number Type</label>
          <select name="editContactNumberType" id="editContactNumberType" formControlName="editContactType"
            class="form-control form-control-sm">
            <option *ngFor="let contactTypeOption of contactTypeOptions" value="{{contactTypeOption.type}}">
              {{contactTypeOption.type}}
              ({{contactTypeOption.description}})</option>
          </select>
        </div>

        <div class="mt-4">
          <button class="btn btn-primary" [disabled]="!editContactNumberForm.valid"
            [ngStyle]="{'cursor': !editContactNumberForm.valid ? 'not-allowed' : 'pointer'}">
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editServiceCountyModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Service Counties</h4>
    <small>
      <form [formGroup]="editServiceCountyForm" (ngSubmit)="submitEditServiceCounty()">
        <div class="form-group required text-left mt-4">
          <label for="editServiceCountiesSelect">Select Service Counties</label>
          <ng-multiselect-dropdown [settings]="countySelectSettings" [placeholder]="'  '" [data]="michiganCounties"
            formControlName="editCounties">
          </ng-multiselect-dropdown>
        </div>

        <div class="mt-4">
          <span class="text-center font-weight-normal text-danger">Please click on the "Save" button after selecting the
            Counties in
            order to save.</span>
        </div>

        <div class="mt-4">
          <button class="btn btn-primary" [disabled]="!editServiceCountyForm.valid"
            [ngStyle]="{'cursor': !editServiceCountyForm.valid ? 'not-allowed' : 'pointer'}">
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editServiceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Service</h4>
    <small>
      <form [formGroup]="editServiceForm" (ngSubmit)="submitEditService()">
        <div class="form-group required text-left mt-4">
          <label for="editServiceSelect">Select Service</label>
          <select name="editServiceSelect" id="editServiceSelect" formControlName="editService"
            class="form-control form-control-sm">
            <ng-container *ngFor="let serviceOptionsUnderCategory of serviceOptionsUnderCategories">
              <option class="bg-gradient-primary-500" disabled>{{serviceOptionsUnderCategory.category}}
                {{serviceOptionsUnderCategory.catDescription && "(" +
                serviceOptionsUnderCategory.catDescription + ")"}}</option>
              <option *ngFor="let serviceOption of serviceOptionsUnderCategory.serviceDtos"
                value="{{serviceOption.serviceId}}">&nbsp;&nbsp;&nbsp;&nbsp;{{serviceOption.service}}
                {{serviceOption.description && "(" + serviceOption.description +
                ")"}}</option>
            </ng-container>
          </select>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editDeliverySelect">Select Deliveries</label>
          <ng-multiselect-dropdown [settings]="deliverySelectSettings" [placeholder]="'  '"
            [data]="serviceDeliveryOptions" formControlName="editServiceDeliveries">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editInsuranceSelect">Select Insurances</label>
          <ng-multiselect-dropdown [settings]="insuranceSelectSettings" [placeholder]="'  '" [data]="insuranceOptions"
            formControlName="editInsurances">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editAgeGroupSelect">Select Age Groups</label>
          <ng-multiselect-dropdown [settings]="ageGroupSelectSettings" [placeholder]="'  '" [data]="ageGroupOptions"
            formControlName="editAgeGroups">
          </ng-multiselect-dropdown>
        </div>

        <div class="mt-4 d-flex justify-content-between align-items-center">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="editInternalService"
                formControlName="editInternalOnly" />
              <label class="form-check-label" for="editInternalService">
                Internal Only?
              </label>
            </div>
          </div>

          <div>
            <button class="btn btn-primary" [disabled]="!editServiceForm.valid"
              [ngStyle]="{'cursor': !editServiceForm.valid ? 'not-allowed' : 'pointer'}">
              Add
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #unapprovedUpdatedServiceCountyModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-warning text-light py-2 px-3">
      Unapproved Updated Service Counties
    </h4>
    <small class="mt-3">
      <div *ngFor="let county of unapprovedCounties; let i = index;" class="mt-1 bg-gradient-primary-500 py-2">
        {{i+1}}. {{county.county}}
      </div>
    </small>
  </div>
</swal>

<swal #cloneServiceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Clone Service</h4>
    <small>
      <form [formGroup]="cloneServiceForm" (ngSubmit)="submitCloneService()">
        <div class="form-group required text-left mt-4">
          <label for="cloneServiceSelect">Select Service</label>
          <select name="cloneService" id="cloneService" formControlName="cloneService"
            class="form-control form-control-sm">
            <ng-container *ngFor="let serviceOptionsUnderCategory of serviceOptionsUnderCategories">
              <option class="bg-gradient-primary-500" disabled>{{serviceOptionsUnderCategory.category}}
                {{serviceOptionsUnderCategory.catDescription && "(" +
                serviceOptionsUnderCategory.catDescription + ")"}}</option>
              <option *ngFor="let serviceOption of serviceOptionsUnderCategory.serviceDtos"
                value="{{serviceOption.service}}">
                &nbsp;&nbsp;&nbsp;&nbsp;{{serviceOption.service}}
                {{"(" + serviceOption.description +
                ")"}} </option>
            </ng-container>
          </select>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="cloneDeliverySelect">Select Deliveries</label>
          <ng-multiselect-dropdown [settings]="deliverySelectSettings" [placeholder]="'  '"
            [data]="serviceDeliveryOptions" formControlName="cloneServiceDeliveries">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="cloneInsuranceSelect">Select Insurances</label>
          <ng-multiselect-dropdown [settings]="insuranceSelectSettings" [placeholder]="'  '" [data]="insuranceOptions"
            formControlName="cloneInsurances">
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editAgeGroupSelect">Select Age Groups</label>
          <ng-multiselect-dropdown [settings]="ageGroupSelectSettings" [placeholder]="'  '" [data]="ageGroupOptions"
            formControlName="cloneAgeGroups">
          </ng-multiselect-dropdown>

        </div>

        <div class="mt-4 d-flex justify-content-between align-items-center">
          <div class="form-group">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="cloneInternalService"
                formControlName="cloneInternalOnly" />
              <label class="form-check-label" for="cloneInternalService">
                Internal Only?
              </label>
            </div>
          </div>

          <div>
            <button class="btn btn-primary" [disabled]="!cloneServiceForm.valid"
              [ngStyle]="{'cursor': !cloneServiceForm.valid ? 'not-allowed' : 'pointer'}">
              Clone
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>