<div class="page-view-container img-bg">
    <h3 class="text-center font-weight-bold">
        User Activity Report
    </h3>
    <div class="container-fluid mt-4 pt-4 pb-5 contrast-img-bg">
        <div class="w-100 table-wrapper">
            <table class="table mt-4">
                <tr>
                    <div class="row" [formGroup]="activityReportForm">
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                            <label>Start Date</label>
                            <input type="text" class="form-control" formControlName="fromDate" bsDatepicker
                                [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}"
                                value="{dateInputFormat | date: 'YYYY-MM-dd' }">
                            <small class="form-text text-danger"
                                *ngIf="(fromDate.touched || fromDate.dirty) && fromDate.errors?.required">
                                please enter start date</small>
                        </div>
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                            <label>End Date</label>
                            <input type="text" class="form-control" formControlName="toDate" bsDatepicker
                                [bsConfig]="{dateInputFormat: 'YYYY-MM-DD'}" value="{dateInputFormat: 'YYYY-MM-DD'}">
                            <small class="form-text text-danger"
                                *ngIf="(toDate.touched || toDate.dirty) && toDate.errors?.required">
                                please enter end date</small>
                                <small class="form-text text-danger" *ngIf="toDate.touched && activityReportForm.hasError('notValid')">
                                End date cannot be before start date. <em>Please enter a valid date range.</em>
                            </small>
                        </div>
                        <div class="col-xs-12 col-12 col-md-4 form-group">
                            <label>Report Name</label>
                            <input type="text" class="form-control" formControlName="fileName">
                            <small class="form-text text-danger" *ngIf="fileName.dirty && fileName.errors?.required">
                            Report name is required</small>
                        </div>
                    </div>
                </tr>
                <hr>
                <div class="d-flex align-items-center">
                    <div class="btnRow ">
                        <tr>Guest Search Data <button class="btn btn-primary" [disabled]="!activityReportForm.valid"
                                (click)="getUserActivity()">Download CSV </button>

                        </tr>
                    </div>
                    <div class="btnRow d-flex align-items-center">
                        <tr>Guest Data <button class="btn btn-primary" [disabled]="!activityReportForm.valid"
                                (click)="getUsers()">Download
                                CSV</button> </tr>
                    </div>
                </div>
            </table>
        </div>
    </div>