<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h4 class="font-weight-bold text-center">About</h4>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="m-1 text-center">
      <h5>UX Version</h5>
      <p>{{aboutPageDto.uxVersion}}</p>
    </div>
    <div class="m-1 p-1 text-center">
      <h5>Core Version</h5>
      <p>{{aboutPageDto.coreVersion}}</p>
    </div>
  </div>
</div>
