<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg py-3">
    <div class="d-flex justify-content-between align-items-center">
      <span><h5 class="mb-0 font-weight-bold">Regions</h5></span>
      <button
        class="btn btn-primary d-flex align-items-center"
        (click)="createRegionModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add New Region</span>
      </button>
    </div>

    <div
      class="w-100 table-wrapper mt-3"
      *ngFor="let region of existingRegionDtos"
    >
      <div class="d-flex justify-content-between align-items-center">
        <h5>{{region.region}}</h5>
        <div class="d-flex align-items-center">
          <fa-icon
            [icon]="faEdit"
            [attr.data-regionid]="region.regionId"
            [attr.data-region]="region.region"
            (click)="editRegion($event)"
            class="edit-view-icon float-right mr-2"
          ></fa-icon>
          <fa-icon
            [icon]="faTrashAlt"
            [attr.data-regionid]="region.regionId"
            (click)="deleteExistingRegion($event)"
            class="delete-item-icon"
          ></fa-icon>
        </div>
      </div>
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Counties</th>
            <th scope="col">Number of Services</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let county of region.counties">
            <td>{{county.county}}</td>
            <td>{{county.numberOfServices}}</td>
          </tr>
          <tr>
            <td class="font-weight-bold">Number of Services in Region</td>
            <td>{{region.numberOfServices}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-3 text-center" *ngIf="existingRegionDtos.length === 0">
      There are currently no regions...
    </div>
  </div>
</div>

<swal #editRegionModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Region</h4>
    <small>
      <form
        [formGroup]="editExistingRegionForm"
        (ngSubmit)="editRegionSubmit()"
      >
        <div class="form-group text-left mt-4">
          <label for="region">Change Region Name</label>
          <input
            type="text"
            id="regionName"
            formControlName="newRegionName"
            class="form-control form-control-sm"
          />
          <small
            class="form-text text-danger"
            *ngIf="newRegionName.dirty && newRegionName.errors?.required"
            >Region name is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="newRegionName.dirty && editRegionAlreadyExist"
            >Region already exists</small
          >
        </div>
        <div class="form-group text-left mt-4">
          <label for="newCountiesList">Add/Remove Counties</label>
          <ng-multiselect-dropdown
            [settings]="countySelectSettings"
            [placeholder]="'  '"
            [data]="editCountyOptions"
            formControlName="newCountiesList"
          ></ng-multiselect-dropdown>
        </div>
        <div class="mt-4">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!editExistingRegionForm.valid || editRegionAlreadyExist"
            [ngStyle]="{'cursor': (!editExistingRegionForm.valid || editRegionAlreadyExist) ? 'not-allowed' : 'pointer'}"
          >
            Submit Changes
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createRegionModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Create Region</h4>
    <small>
      <form [formGroup]="createNewRegionForm" (ngSubmit)="createRegion()">
        <div class="form-group required text-left mt-4">
          <label for="region">Region Name</label>
          <input
            type="text"
            class="form-control form-control-sm"
            id="regionName"
            formControlName="regionName"
          />
          <small
            class="form-text text-danger"
            *ngIf="regionName.dirty && regionName.errors?.required"
            >Region name is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="regionName.dirty && regionAlreadyExists"
            >Region already exists</small
          >
        </div>
        <div class="form-group required text-left mt-4">
          <label for="countiesSelected">Add Counties</label>
          <ng-multiselect-dropdown
            [settings]="countySelectSettings"
            [placeholder]="'  '"
            [data]="createCountyOptions"
            formControlName="countiesSelected"
          ></ng-multiselect-dropdown>
        </div>
        <div class="mt-4">
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!createNewRegionForm.valid || regionAlreadyExists"
            [ngStyle]="{'cursor': (!createNewRegionForm.valid || regionAlreadyExists) ? 'not-allowed' : 'pointer'}"
          >
            Create
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteRegionAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this region?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteRegion()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>
<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
