<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="d-flex justify-content-between align-items-center">
      <span><h5 class="mb-0 font-weight-bold">Service Categories</h5></span>
      <button
        class="btn btn-primary d-flex align-items-center"
        (click)="createServiceCategoryModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add New Category</span>
      </button>
    </div>

    <div class="w-100 table-wrapper mt-3">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Category</th>
            <th scope="col">Service Count</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceCategory of serviceCategories">
            <td>
              <span
                >{{serviceCategory.serviceCategory}}
                <span
                  *ngIf="serviceCategory.description"
                  [tooltip]="serviceCategory.description"
                  placement="right"
                  containerClass="tooltip"
                  class="ml-1"
                >
                  <fa-icon
                    [icon]="faInfoCircle"
                    class="show-info-icon"
                  ></fa-icon> </span
              ></span>
            </td>
            <td>{{serviceCategory.serviceCount}}</td>
            <td>
              <div class="d-flex">
                <div class="mr-4">
                  <fa-icon
                    [icon]="faEdit"
                    [attr.data-categoryid]="serviceCategory.serviceCategoryId"
                    [attr.data-servicecategory]="serviceCategory.serviceCategory"
                    [attr.data-description]="serviceCategory.description"
                    (click)="editServiceCategory($event)"
                    class="edit-view-icon"
                  ></fa-icon>
                </div>
                <div *ngIf="serviceCategory.serviceCount === 0">
                  <fa-icon
                    [icon]="faTrashAlt"
                    [attr.data-categoryid]="serviceCategory.serviceCategoryId"
                    (click)="deleteServiceCategory($event)"
                    class="delete-item-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="serviceCategories.length === 0">
        <p>There are currently no categories</p>
      </div>
    </div>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #editServiceCategoryModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Service Category</h4>
    <small>
      <form
        [formGroup]="editServiceCategoryForm"
        (ngSubmit)="editServiceCategorySubmit()"
      >
        <div class="form-group required text-left mt-4">
          <label for="editCategory">Category Name</label>
          <input
            type="text"
            id="editCategory"
            class="form-control form-control-sm"
            formControlName="editCategory"
            placeholder="New Category"
          />
          <small
            class="form-text text-danger"
            *ngIf="editCategory.dirty && editCategory.errors?.required"
            >Category is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="editCategory.dirty && editCategoryAlreadyExist"
            >Category already exists</small
          >
        </div>
        <div class="form-group text-left mt-4">
          <label for="editDescription">Description</label>
          <textarea
            type="text"
            id="editDescription"
            rows="5"
            class="form-control form-control-sm"
            formControlName="editDescription"
          ></textarea>
        </div>
        <div class="mt-4">
          <button
            [disabled]="!editServiceCategoryForm.valid || editCategoryAlreadyExist"
            [ngStyle]="{'cursor': (!editServiceCategoryForm.valid || editCategoryAlreadyExist) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createServiceCategoryModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">New Service Category</h4>
    <small>
      <form
        [formGroup]="createServiceCategoryForm"
        (ngSubmit)="createServiceCategory()"
      >
        <div class="form-group required text-left mt-4">
          <label for="createCategory">Category Name</label>
          <input
            type="text"
            id="createCategory"
            class="form-control form-control-sm"
            formControlName="category"
          />
          <small
            class="form-text text-danger"
            *ngIf="category.dirty && category.errors?.required"
            >Category is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="category.dirty && categoryAlreadyExist"
            >Category already exists</small
          >
        </div>
        <div class="form-group text-left mt-4">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            rows="5"
            class="form-control form-control-sm"
            formControlName="description"
          ></textarea>
        </div>
        <div class="mt-4">
          <button
            [disabled]="!createServiceCategoryForm.valid || categoryAlreadyExist"
            [ngStyle]="{'cursor': (!createServiceCategoryForm.valid || categoryAlreadyExist) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteCategoryAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this service category?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteCategory()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
