<div class="page-view-container profile-outer-bg">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <img
        class="rounded-circle profile-img-small"
        [src]="imageBuffer"
        alt="User Profile Image"
      />
      <span class="ml-2"
        ><a class="font-weight-bold text-dark" routerLink="/"
          >{{firstName}} {{lastName}}</a
        ></span
      >
    </div>
    <div>
      <span class="font-weight-bold text-dark">{{accountRole}}</span>
    </div>
  </div>
  <div class="container mt-4">
    <ul class="nav nav-tabs font-weight-bold">
      <li class="nav-item mr-1" *ngIf="!hasProfile">
        <a
          class="nav-link"
          routerLink="/profile/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Profile
        </a>
      </li>
      <li class="nav-item mr-1" *ngIf="hasProfile && onProfileChild == 'show'">
        <a
          class="nav-link"
          routerLink="/profile/show"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Profile
        </a>
      </li>
      <li class="nav-item mr-1" *ngIf="hasProfile && onProfileChild == 'edit'">
        <a
          class="nav-link"
          routerLink="/profile/edit"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Profile</a
        >
      </li>
      <li class="nav-item" *ngIf="isProvider && !hasProviderProfile">
        <a
          class="nav-link"
          routerLink="/provider/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Provider</a
        >
      </li>
      <li class="nav-item" *ngIf="isProvider && hasProviderProfile">
        <a
          class="nav-link"
          routerLink="/providers"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Provider</a
        >
      </li>
      <li class="nav-item" *ngIf="isFamily">
        <a
          class="nav-link"
          routerLink="/family/create"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Family</a
        >
      </li>
      <!-- <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/events"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Events</a>
      </li> -->
    </ul>
    <div class="profile-border bg-light pt-5 pb-4 pl-5 pr-5">
      <router-outlet></router-outlet>
    </div>

    <div
      class="mt-4 alert alert-warning text-center"
      role="alert"
      [innerHTML]="technicalSupportNote | securedHtml"
    ></div>
  </div>
</div>
