@import "../../../variables.scss";

.profile-outer-bg {
  background: $app-light;
  background: -webkit-linear-gradient(to right, $app-light, $app-primary-500);
  background: linear-gradient(to right, $app-light, $app-primary-500);
}

.profile-border {
  border: 1px solid $app-dark;
}

.nav-item .active {
  background: $app-light !important;
  border: 1px solid $app-dark !important;
  border-bottom: none !important;
}

.nav-tabs .nav-link {
  border: none;
  background: $app-dark;
}

.nav-item {
  background: $app-dark;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
