<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h3 class="text-center font-weight-bold">
    Approvals
  </h3>

  <div class="container-fluid mt-4 pt-4 pb-5 contrast-img-bg">
    <h5 class="text-center font-weight-bold">Accounts</h5>
    <div class="w-100 table-wrapper">
      <table class="table mt-4">
        <thead class="bg-secondary">
          <tr>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Role Requested</th>
            <th scope="col">Created At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of unapprovedAccounts">
            <td>{{account.username}}</td>
            <td><a href="mailto:{{account.email}}">{{account.email}}</a></td>
            <td>{{displayRole(account.roleRequested, 5)}}</td>
            <td>{{moment(account.createdAt).format("llll")}}</td>
            <td>
              <div class="d-flex">
                <div class="mr-4">
                  <fa-icon
                    [icon]="faCheck"
                    [attr.data-username]="account.username"
                    (click)="approveAccount($event)"
                    class="approve-icon"
                  ></fa-icon>
                </div>
                <div>
                  <fa-icon
                    [icon]="faTimes"
                    [attr.data-username]="account.username"
                    (click)="disapproveAccount($event)"
                    class="disapprove-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="unapprovedAccounts.length === 0">
        There is currently no account to approve...
      </div>
    </div>
  </div>

  <div class="container-fluid mt-4 pt-4 pb-5 contrast-img-bg">
    <h5 class="text-center font-weight-bold">Providers</h5>
    <div class="w-100 table-wrapper">
      <table class="table mt-4">
        <thead class="bg-secondary">
          <tr>
            <th scope="col">Provider</th>
            <th scope="col">Submitted By</th>
            <th scope="col">Updated At</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let provider of unapprovedModifiedProviders">
            <td>{{provider.providerName}}</td>
            <td>{{provider.editedBy}}</td>
            <td>{{moment(provider.updatedAt).format("llll")}}</td>
            <td>
              <div class="d-flex">
                <div class="mr-4">
                  <fa-icon
                    [icon]="faEye"
                    [attr.data-providerid]="provider.providerInfoId"
                    (click)="viewModifiedProviderForApproval($event)"
                    class="open-view-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="unapprovedModifiedProviders.length === 0">
        There is currently no provider to approve...
      </div>
    </div>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmApproveAccountAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to approve this account?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-secondary" (click)="cancelApprove()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button
          class="btn btn-sm btn-primary"
          (click)="confirmApproveAccount()"
        >
          Approve
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #confirmDisapproveAccountAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to disapprove and remove this account?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-secondary" (click)="cancelDisapprove()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button
          class="btn btn-sm btn-primary"
          (click)="confirmDisapproveAccount()"
        >
          Disapprove
        </button>
      </div>
    </div>
  </div>
</swal>
