<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg p-2 p-md-4">
    <div>
      <div class="font-weight-bold text-center">
        Do you want to create a standalone Provider, initialize a new Provider
        with a new User Account or link a new Provider with an existing User
        Account?
      </div>
      <div class="mt-3 d-flex align-items-center justify-content-around">
        <div class="form-check mr-3">
          <input
            class="form-check-input"
            type="radio"
            id="standaloneProviderAccount"
            value="standalone"
            name="standAloneNewOrExisting"
            [(ngModel)]="standAloneNewOrExisting"
            (change)="detectNewOrExisting()"
          />
          <label class="form-check-label" for="standaloneProviderAccount">
            Standalone
          </label>
        </div>

        <div class="form-check mr-3">
          <input
            class="form-check-input"
            type="radio"
            id="newProviderAccount"
            value="new"
            name="standAloneNewOrExisting"
            [(ngModel)]="standAloneNewOrExisting"
            (change)="detectNewOrExisting()"
          />
          <label class="form-check-label" for="newProviderAccount">
            New Account
          </label>
        </div>

        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            id="existingAccount"
            name="standAloneNewOrExisting"
            value="existing"
            [(ngModel)]="standAloneNewOrExisting"
            (change)="detectNewOrExisting()"
          />
          <label class="form-check-label" for="existingAccount">
            Existing Account
          </label>
        </div>
      </div>
    </div>

    <div
      *ngIf="standAloneNewOrExisting === 'new'"
      class="mt-4 register-password-reset-related-container"
    >
      <form
        [formGroup]="createUserForm"
        (ngSubmit)="createNewUser(createUserForm)"
        class="text-left"
      >
        <div class="form-group row required">
          <label for="username" class="col-sm-4 col-form-label">Username</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
              (blur)="checkUsername()"
            />
            <small
              class="form-text text-danger"
              *ngIf="username.dirty && username.errors?.required"
              >Username is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="username.errors?.pattern"
              >Username must contain no special characters or whitespace</small
            >
            <small
              class="form-text text-danger"
              *ngIf="username.errors?.maxlength"
              >Username must be 50 characters or less</small
            >
            <small class="form-text text-danger" *ngIf="!usernameAvailable">
              This username is unavailable
            </small>
          </div>
        </div>
        <div class="form-group row required">
          <label for="email" class="col-sm-4 col-form-label">Email</label>
          <div class="col-sm-8">
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              (blur)="checkEmailAndEnabled()"
            />
            <small
              class="form-text text-danger"
              *ngIf="userEmail.dirty && userEmail.errors?.required"
              >Email is required</small
            >
            <small class="form-text text-danger" *ngIf="userEmail.errors?.email"
              >Email must be valid</small
            >
            <small class="form-text text-danger" *ngIf="!emailAvailable"
              >This email is unavailable</small
            >
          </div>
        </div>
        <div class="form-group row required">
          <label for="password" class="col-sm-4 col-form-label">Password</label>
          <div class="col-sm-8">
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
            <small
              class="form-text text-danger"
              *ngIf="password.dirty && password.errors?.required"
              >Password is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="password.errors?.minlength"
              >Password must be at least 8 characters</small
            >
            <small
              class="form-text text-danger"
              *ngIf="password.dirty && password.errors?.strong"
              >Password must contain at least 1 uppercase letter, 1 lowercase
              letter, 1 digit and no whitespace</small
            >
          </div>
        </div>
        <div class="form-group row required">
          <label for="confirmPassword" class="col-sm-4 col-form-label"
            >Confirm Password</label
          >
          <div class="col-sm-8">
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
            />
            <small
              class="form-text text-danger"
              *ngIf="confirmPassword.dirty && !passwordsMatch"
              >Passwords must match</small
            >
          </div>
        </div>

        <div class="mt-4 text-right">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!createUserForm.valid || !passwordsMatch || !usernameAvailable || !emailAvailable"
            [ngStyle]="{'cursor': (!createUserForm.valid || !passwordsMatch || !usernameAvailable || !emailAvailable) ? 'not-allowed' : 'pointer'}"
          >
            Create And Link
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="newAccountToLink" class="mt-3 text-center">
      {{newAccountToLink.username}} will be linked with this provider profile
    </div>

    <div *ngIf="standAloneNewOrExisting === 'existing'" class="mt-4 d-flex">
      <form
        [formGroup]="searchExistingAccountForm"
        class="form-inline mx-auto"
        (ngSubmit)="searchExistingAccountToLink()"
      >
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Username"
          aria-label="Search"
          formControlName="username"
        />
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
          Search and Link
        </button>
      </form>
    </div>

    <div *ngIf="existingAccountToLink" class="mt-3 text-center">
      <div *ngIf="!existingAccountToLink.error">
        <img
          [src]="existingAccountToLink.image"
          alt="user profile"
          class="rounded-circle profile-img-xs mr-2"
        />
        <span
          >{{existingAccountToLink.firstName}}
          {{existingAccountToLink.lastName}}</span
        >
        <span> ({{existingAccountToLink.username}})</span>
        <span> will be linked with this provider profile</span>
      </div>
      <div
        *ngIf="existingAccountToLink.error && standAloneNewOrExisting !== 'new'"
      >
        {{existingAccountToLink.error}}
      </div>
    </div>

    <div *ngIf="showProviderForm">
      <hr />
      <div class="d-flex justify-content-between align-items-center mt-4">
        <span class="d-flex align-items-center"
          ><h5 class="mb-0 font-weight-bold mr-2">Provider</h5>
          <button
            class="btn btn-sm btn-primary"
            type="button"
            (click)="createDemographicsModal.fire()"
          >
            Demographics
          </button></span
        >

        <button
          class="btn btn-sm btn-primary d-flex align-items-center"
          type="button"
          (click)="showLocationForm = true"
        >
          <small><fa-icon [icon]="faPlus"></fa-icon></small
          ><span class="ml-0 ml-md-1"> Add New Location</span>
        </button>
      </div>

      <div
        *ngIf="locations.length === 0"
        class="mt-4 text-center bg-gradient-primary-500 py-2 px-3"
      >
        Please add at least one service location
      </div>

      <div
        class="mt-4 py-2 px-3"
        *ngFor="let location of locations; let i = index"
      >
        <div
          class="w-100 p-1 bg-gradient-primary-500 d-flex justify-content-between align-items-center"
        >
          <div>{{location.locationName}}</div>
          <div>
            {{location.services.length}} Services
          </div>
          <div>
            {{location.serviceCounties.length}} Counties
          </div>
          <div>
            <fa-icon
              [icon]="faTrashAlt"
              (click)="deleteLocation($event)"
              [attr.data-locationid]="location.locationId"
              class="delete-item-icon"
            ></fa-icon>
          </div>
        </div>

        <div
          class="w-100 p-1 bg-gradient-primary-500 d-flex align-items-center justify-content-around"
        >
          <button
            class="btn btn-primary btn-sm"
            [attr.data-locationid]="location.locationId"
            (click)="showNotSavedLocation($event)"
            type="button"
          >
            Show Details
          </button>

          <button
            class="btn btn-dark btn-sm"
            type="button"
            (click)="showNotSavedLocationId = -1"
          >
            Hide Details
          </button>
        </div>

        <div
          class="w-100 p-3 bg-dark text-light"
          *ngIf="location.locationId === showNotSavedLocationId"
        >
          <div>Location Name: <span>{{location.locationName}}</span></div>

          <div>
            Mailing Address:
            <span
              >{{location.mailingStreetAddress}}, {{location.mailingCity}},
              {{location.mailingState}} {{location.mailingZip}}</span
            >
          </div>

          <div
            *ngIf="location.serviceStreetAddress && location.serviceCity && location.serviceState && location.serviceZip"
          >
            Service Address:
            <span
              >{{location.serviceStreetAddress}}, {{location.serviceCity}},
              {{location.serviceState}} {{location.serviceZip}}</span
            >
          </div>

          <div class="mt-4">
            <span><h6 class="mb-0 font-weight-bold required">Emails</h6></span>
          </div>
          <div
            class="mt-3 d-flex justify-content-between align-items-center form-field-background py-2 px-3"
            *ngFor="let email of location.emails"
          >
            <div>{{email.email}}</div>
            <div>
              {{email.contactType}}
            </div>
          </div>

          <div class="mt-4">
            <span><h6 class="mb-0 font-weight-bold required">Phone</h6></span>
          </div>
          <div
            class="mt-3 d-flex justify-content-between align-items-center form-field-background py-2 px-3"
            *ngFor="let contactNumber of location.contactNumbers"
          >
            <div>{{pn(contactNumber.contactNumber)}}</div>
            <div>
              {{contactNumber.contactType}}
            </div>
          </div>

          <div class="mt-4">
            <span
              ><h6 class="mb-0 font-weight-bold required">Services</h6></span
            >
          </div>
          <div
            class="mt-3 d-flex justify-content-around align-items-center form-field-background pt-3 px-3"
            *ngFor="let service of location.services"
          >
            <div>
              <div>Service Name: {{service.serviceDisplay}}</div>
              <div>Service Category: {{service.serviceCategory}}</div>
              <div class="mt-3">Service Deliveries:</div>
              <ul>
                <li *ngFor="let serviceDelivery of service.serviceDeliveries">
                  {{serviceDelivery.delivery}}
                </li>
              </ul>
            </div>
            <div>
              <div>Insurances Accepted:</div>
              <ul>
                <li *ngFor="let insurance of service.insurances">
                  {{insurance.insuranceName}}
                </li>
              </ul>
              <div>Age Groups:</div>
              <ul>
                <li *ngFor="let ageGroup of service.ageGroups">
                  {{ageGroup.ageGroupDisplay}}
                </li>
              </ul>
            </div>
          </div>

          <div class="mt-4 d-flex align-items-center justify-content-around">
            <button
              class="btn btn-primary btn-sm"
              type="button"
              (click)="showUnsavedCounties = true"
            >
              View Counties
            </button>

            <button
              class="btn btn-light btn-sm"
              type="button"
              (click)="showUnsavedCounties = false"
            >
              Hide Counties
            </button>
          </div>

          <div
            class="mt-2"
            *ngIf="showUnsavedCounties && location.locationId === showNotSavedLocationId"
          >
            <div
              *ngFor="let county of location.serviceCounties"
              class="text-center form-field-background py-1 mt-1"
            >
              {{county.county}}
            </div>
          </div>
        </div>

        <div class="w-100 p-1 bg-secondary">
          <div class="text-center text-danger font-weight-bold">
            You need to save the application to modify this location
            information.
          </div>
        </div>
      </div>

      <div
        class="mt-4 p-2 p-md-4 bg-gradient-primary-500"
        *ngIf="showLocationForm"
      >
        <form
          [formGroup]="createLocationForm"
          (ngSubmit)="submitCreateLocation()"
        >
          <div class="form-group row required">
            <label for="locationName" class="col-sm-4 col-form-label"
              >Location Name</label
            >
            <div class="col-sm-8">
              <input
                class="form-control"
                id="locationName"
                formControlName="locationName"
                type="text"
              />
              <small
                class="form-text text-danger"
                *ngIf="locationName.dirty && locationName.errors?.required"
                >Location name is required</small
              >
            </div>
          </div>

          <div class="d-flex justify-content-between">
            <div>Mailing Address (used for Internal Purposes Only):</div>
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="internal"
                  formControlName="internalOnly"
                />
                <label class="form-check-label" for="internal">
                  Internal Only?
                </label>
              </div>
            </div>
          </div>

          <div class="form-field-background pt-3 px-3">
            <div class="row mx-auto justify-content-between no-padding">
              <div class="form-group row required col-12 col-lg-6 no-padding">
                <label
                  for="mailingStreetAddress"
                  class="col-sm-4 col-form-label"
                  >Street Address</label
                >
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="text"
                    formControlName="mailingStreetAddress"
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="mailingStreetAddress.dirty && mailingStreetAddress.errors?.required"
                    >Mailing Street Address is required</small
                  >
                </div>
              </div>

              <div class="form-group row required col-12 col-lg-6 no-padding">
                <label for="mailingCity" class="col-sm-4 col-form-label"
                  >City</label
                >
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="text"
                    id="mailingCity"
                    formControlName="mailingCity"
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="mailingCity.dirty && mailingCity.errors?.required"
                    >City is required</small
                  >
                </div>
              </div>
            </div>

            <div class="row mx-auto justify-content-between no-padding">
              <div class="form-group row required col-12 col-lg-6 no-padding">
                <label for="mailingState" class="col-sm-4 col-form-label"
                  >State</label
                >
                <div class="col-sm-8">
                  <select
                    name="mailingState"
                    formControlName="mailingState"
                    id="mailingState"
                    class="form-control"
                  >
                    <option
                      *ngFor="let stateOption of stateOptions"
                      value="{{stateOption}}"
                      >{{stateOption}}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group row required col-12 col-lg-6 no-padding">
                <label for="mailingZip" class="col-sm-4 col-form-label"
                  >Zip</label
                >
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="text"
                    id="mailingZip"
                    formControlName="mailingZip"
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="mailingZip.dirty && mailingZip.errors?.required"
                    >Zipcode is required</small
                  >
                  <small
                    class="form-text text-danger"
                    *ngIf="mailingZip.errors?.zipcode"
                    >Zipcode must be valid</small
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="mt-3">
            <div class="form-group">
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="checkbox"
                  id="serviceAddress"
                  formControlName="serviceAddressSame"
                  (change)="markServiceAddressSame()"
                />
                <label class="form-check-label" for="serviceAddress">
                  Service Address same as Mailing Address?
                </label>
              </div>
            </div>
          </div>

          <div class="form-field-background pt-3 px-3">
            <div class="row mx-auto justify-content-between no-padding">
              <div class="form-group row col-12 col-lg-6 no-padding">
                <label
                  for="serviceStreetAddress"
                  class="col-sm-4 col-form-label"
                  >Street Address</label
                >
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="text"
                    id="serviceStreetAddress"
                    formControlName="serviceStreetAddress"
                  />
                </div>
              </div>

              <div class="form-group row col-12 col-lg-6 no-padding">
                <label for="serviceCity" class="col-sm-4 col-form-label"
                  >City</label
                >
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    formControlName="serviceCity"
                    type="text"
                    id="serviceCity"
                  />
                </div>
              </div>
            </div>

            <div class="row mx-auto justify-content-between no-padding">
              <div class="form-group row col-12 col-lg-6 no-padding">
                <label for="serviceState" class="col-sm-4 col-form-label"
                  >State</label
                >
                <div class="col-sm-8">
                  <select
                    name="serviceState"
                    formControlName="serviceState"
                    id="serviceState"
                    class="form-control"
                  >
                    <option
                      *ngFor="let stateOption of stateOptions"
                      value="{{stateOption}}"
                      >{{stateOption}}</option
                    >
                  </select>
                </div>
              </div>
              <div class="form-group row col-12 col-lg-6 no-padding">
                <label for="serviceZip" class="col-sm-4 col-form-label"
                  >Zip</label
                >
                <div class="col-sm-8">
                  <input
                    class="form-control"
                    type="text"
                    id="serviceZip"
                    formControlName="serviceZip"
                  />
                  <small
                    class="form-text text-danger"
                    *ngIf="serviceZip.errors?.zipcode"
                    >Zipcode must be valid</small
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-4">
            <span><h6 class="mb-0 font-weight-bold required">Email</h6></span>
            <button
              class="btn btn-sm btn-dark d-flex align-items-center"
              type="button"
              (click)="createEmailModal.fire()"
            >
              <small><fa-icon [icon]="faPlus"></fa-icon></small
              ><span class="ml-1"> Add Email</span>
            </button>
          </div>

          <div
            *ngIf="emails.length === 0"
            class="mt-3 text-center form-field-background py-2 px-3"
          >
            Please add at least one administrative email for contact
          </div>

          <div
            class="mt-3 d-flex justify-content-between align-items-center form-field-background py-2 px-3"
            *ngFor="let email of emails; let i = index"
          >
            <div>{{email.email}}</div>
            <div>
              {{email.contactType}}
            </div>
            <div>
              <fa-icon
                [icon]="faTrashAlt"
                (click)="deleteEmail($event)"
                [attr.data-emailid]="email.emailId"
                class="delete-item-icon"
              ></fa-icon>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-4">
            <span><h6 class="mb-0 font-weight-bold required">Phone</h6></span>
            <button
              class="btn btn-sm btn-dark d-flex align-items-center"
              type="button"
              (click)="createContactNumberModal.fire()"
            >
              <small><fa-icon [icon]="faPlus"></fa-icon></small
              ><span class="ml-1"> Add Contact Number</span>
            </button>
          </div>

          <div
            *ngIf="contactNumbers.length === 0"
            class="mt-3 text-center form-field-background py-2 px-3"
          >
            Please add at least one administrative phone number for contact
          </div>

          <div
            class="mt-3 d-flex justify-content-between align-items-center form-field-background py-2 px-3"
            *ngFor="let contactNumber of contactNumbers; let i = index"
          >
            <div>{{pn(contactNumber.contactNumber)}}</div>
            <div>
              {{contactNumber.contactType}}
            </div>
            <div>
              <fa-icon
                [icon]="faTrashAlt"
                (click)="deleteContactNumber($event)"
                [attr.data-contactnumberid]="contactNumber.contactNumberId"
                class="delete-item-icon"
              ></fa-icon>
            </div>
          </div>

          <div class="d-flex justify-content-between align-items-center mt-4">
            <span
              ><h6 class="mb-0 font-weight-bold required" type="button">
                Service
              </h6></span
            >
            <button
              class="btn btn-sm btn-dark d-flex align-items-center"
              type="button"
              (click)="createServiceModal.fire()"
            >
              <small><fa-icon [icon]="faPlus"></fa-icon></small
              ><span class="ml-1"> Add Service</span>
            </button>
          </div>

          <div
            *ngIf="services.length === 0"
            class="mt-3 text-center form-field-background py-2 px-3"
          >
            Please add at least one service for this location
          </div>

          <div
            class="mt-3 d-flex justify-content-around align-items-center form-field-background pt-3 px-3"
            *ngFor="let service of services; let i = index"
          >
            <div>
              <div>Service Name: {{service.serviceDisplay}}</div>
              <div>Service Category: {{service.serviceCategory}}</div>
              <div style="margin-top: 1rem;">Service Deliveries:</div>
              <ul>
                <li *ngFor="let serviceDelivery of service.serviceDeliveries">
                  {{serviceDelivery.delivery}}
                </li>
              </ul>
            </div>
            <div>
              <div>Insurances Accepted:</div>
              <ul>
                <li *ngFor="let insurance of service.insurances">
                  {{insurance.insuranceName}}
                </li>
              </ul>
              <div>Age Groups:</div>
              <ul>
                <li *ngFor="let ageGroup of service.ageGroups">
                  {{ageGroup.ageGroupDisplay}}
                </li>
              </ul>
              <div class="text-right">
                <fa-icon
                  [icon]="faTrashAlt"
                  (click)="deleteService($event)"
                  [attr.data-serviceid]="service.serviceId"
                  class="delete-item-icon"
                ></fa-icon>
              </div>
            </div>
          </div>

          <div class="mt-4 d-flex justify-content-between align-items-center">
            <div>
              <button
                class="btn btn-sm btn-dark d-flex align-items-center"
                type="button"
                (click)="createServiceCountyModal.fire()"
              >
                <small><fa-icon [icon]="faPlus"></fa-icon></small
                ><span class="ml-1"> Add Service Counties</span>
              </button>
            </div>

            <div>
              <button
                class="btn btn-primary mr-3"
                type="button"
                (click)="cancelCreateLocationForm()"
              >
                Cancel
              </button>

              <button
                class="btn btn-primary"
                type="submit"
                [tooltip]="locationTooltip"
                placement="right"
                containerClass="tooltip"
                triggers="pointerenter:pointerout"
                [disabled]="!createLocationForm.valid || !hasAdministrativeEmails || ! hasAdministrativeContactNumbers"
                [ngStyle]="{'cursor': (!createLocationForm.valid || !hasAdministrativeEmails || ! hasAdministrativeContactNumbers) ? 'not-allowed' : 'pointer'}"
              >
                Complete
              </button>
            </div>
          </div>
        </form>
      </div>

      <div class="mt-4 text-right">
        <button
          class="btn btn-primary mr-3"
          type="button"
          (click)="cancelCreateProviderForm()"
        >
          Cancel
        </button>

        <button
          class="btn btn-primary"
          type="button"
          [tooltip]="providerTooltip"
          placement="right"
          containerClass="tooltip"
          triggers="pointerenter:pointerout"
          [disabled]="!createProviderForm.valid"
          [ngStyle]="{'cursor': !createProviderForm.valid ? 'not-allowed' : 'pointer'}"
          (click)="submitCreateProvider()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<swal #createEmailModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Email</h4>
    <small>
      <form [formGroup]="createEmailForm" (ngSubmit)="submitCreateEmail()">
        <div class="form-group required text-left mt-4">
          <label for="createEmail">Email</label>
          <input
            type="text"
            id="createEmail"
            class="form-control form-control-sm"
            formControlName="email"
          />
          <small
            class="form-text text-danger"
            *ngIf="email.dirty && email.errors?.required"
            >Email is required</small
          >
          <small class="form-text text-danger" *ngIf="email.errors?.email"
            >Email must be valid</small
          >
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createEmailType">Email Type</label>
          <select
            name="createEmailType"
            id="createEmailType"
            formControlName="contactType"
            class="form-control form-control-sm"
          >
            <option
              *ngFor="let contactTypeOption of contactTypeOptions"
              value="{{contactTypeOption.type}}"
              >{{contactTypeOption.type}}
              ({{contactTypeOption.description}})</option
            >
          </select>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="!createEmailForm.valid"
            [ngStyle]="{'cursor': !createEmailForm.valid ? 'not-allowed' : 'pointer'}"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createContactNumberModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Contact Number</h4>
    <small>
      <form
        [formGroup]="createContactNumberForm"
        (ngSubmit)="submitCreateContactNumber()"
      >
        <div class="form-group required text-left mt-4">
          <label for="createContactNumber">Contact Number</label>
          <input
            type="text"
            id="createContactNumber"
            class="form-control form-control-sm"
            formControlName="contactNumber"
          />
          <small
            class="form-text text-danger"
            *ngIf="contactNumber.dirty && contactNumber.errors?.required"
            >Contact number is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="contactNumber.errors?.pattern"
            >Contact number must be valid</small
          >
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createContactNumberType">Contact Number Type</label>
          <select
            name="createContactNumberType"
            id="createContactNumberType"
            formControlName="contactType"
            class="form-control form-control-sm"
          >
            <option
              *ngFor="let contactTypeOption of contactTypeOptions"
              value="{{contactTypeOption.type}}"
              >{{contactTypeOption.type}}
              ({{contactTypeOption.description}})</option
            >
          </select>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="!createContactNumberForm.valid"
            [ngStyle]="{'cursor': !createContactNumberForm.valid ? 'not-allowed' : 'pointer'}"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createServiceCountyModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Service Counties</h4>
    <small>
      <form
        [formGroup]="createServiceCountyForm"
        (ngSubmit)="submitCreateServiceCounty()"
      >
        <div class="form-group required text-left mt-4">
          <label for="createServiceCountiesSelect"
            >Select Service Counties</label
          >
          <ng-multiselect-dropdown
            [settings]="countySelectSettings"
            [placeholder]="'  '"
            [data]="michiganCounties"
            formControlName="counties"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="mt-4">
          <span class="text-center font-weight-normal text-danger"
            >Please click on the "Add" button after selecting the Counties in
            order to save.</span
          >
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="!createServiceCountyForm.valid"
            [ngStyle]="{'cursor': !createServiceCountyForm.valid ? 'not-allowed' : 'pointer'}"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createServiceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Service</h4>
    <small>
      <form [formGroup]="createServiceForm" (ngSubmit)="submitCreateService()">
        <div class="form-group required text-left mt-4">
          <label for="createServiceSelect">Select Service</label>
          <select
            name="createServiceSelect"
            id="createServiceSelect"
            formControlName="service"
            class="form-control form-control-sm"
          >
            <ng-container
              *ngFor="let serviceOptionsUnderCategory of serviceOptionsUnderCategories"
            >
              <option class="bg-gradient-primary-500" disabled
                >{{serviceOptionsUnderCategory.category}}
                {{serviceOptionsUnderCategory.catDescription && "(" +
                serviceOptionsUnderCategory.catDescription + ")"}}</option
              >
              <option
                *ngFor="let serviceOption of serviceOptionsUnderCategory.serviceDtos"
                value="{{serviceOption.serviceId}}"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{serviceOption.service}}
                {{serviceOption.description && "(" + serviceOption.description +
                ")"}}</option
              >
            </ng-container>
          </select>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createDeliverySelect">Select Deliveries</label>
          <ng-multiselect-dropdown
            [settings]="deliverySelectSettings"
            [placeholder]="'  '"
            [data]="serviceDeliveryOptions"
            formControlName="serviceDeliveries"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createInsuranceSelect">Select Insurances</label>
          <ng-multiselect-dropdown
            [settings]="insuranceSelectSettings"
            [placeholder]="'  '"
            [data]="insuranceOptions"
            formControlName="insurances"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createAgeGroupSelect">Select Age Groups</label>
          <ng-multiselect-dropdown
            [settings]="ageGroupSelectSettings"
            [placeholder]="'  '"
            [data]="ageGroupOptions"
            formControlName="ageGroups"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="mt-4 d-flex justify-content-between align-items-center">
          <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="internalService"
                formControlName="internalOnly"
              />
              <label class="form-check-label" for="internalService">
                Internal Only?
              </label>
            </div>
          </div>

          <div>
            <button
              class="btn btn-primary"
              [disabled]="!createServiceForm.valid"
              [ngStyle]="{'cursor': !createServiceForm.valid ? 'not-allowed' : 'pointer'}"
            >
              Add
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal
  #createDemographicsModal
  [showConfirmButton]="false"
  [allowOutsideClick]="false"
>
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Provider Demographics</h4>
    <small>
      <form
        [formGroup]="createDemographicsForm"
        (ngSubmit)="submitOrEditDemographicsForm()"
      >
        <div class="alert alert-warning" role="alert">
          Image uploaded should be less than 2MB and should be cropped into
          square format
        </div>

        <div class="d-flex justify-content-around align-items-center">
          <div>
            <div class="form-group required text-left mt-4">
              <label for="providerName">Provider Name</label>
              <input
                type="text"
                id="providerName"
                class="form-control"
                formControlName="providerName"
                (input)="checkProviderName()"
              />
              <small
                class="form-text text-danger"
                *ngIf="providerName.dirty && providerName.errors?.required"
                >Provider name is required</small
              >
              <small class="form-text text-danger" *ngIf="hasProviderName">
                The provider name already exists. Please contact Autism Alliance
                at
                <span class="font-italic font-weight-bold"
                  >directory@aaomi.org</span
                >
                for support.
              </small>
            </div>

            <div class="form-group text-left mt-4">
              <label for="providerName">Provider Website</label>
              <input
                type="text"
                id="providerWebsite"
                class="form-control"
                formControlName="website"
                placeholder="https://example.com"
              />
              <small
                class="form-text text-danger"
                *ngIf="website.dirty && website.errors?.isValidUrl"
                >Website URL must be valid</small
              >
            </div>
          </div>

          <div>
            <div class="pt-4">
              <img
                class="rounded-circle logo-img"
                [src]="imageBuffer"
                alt="uploaded logo"
              />
            </div>
            <div class="text-center mt-4">
              <input
                type="file"
                id="BtnBrowseHidden"
                name="files"
                style="display: none;"
                formControlName="logo"
                (change)="onSelectFile($event)"
              />
              <label
                for="BtnBrowseHidden"
                id="LblBrowse"
                class="btn btn-sm btn-primary"
              >
                Upload Logo
              </label>
            </div>
          </div>
        </div>

        <div class="mt-1 d-flex align-items-center">
          <div class="mr-2"><span>Description</span></div>
          <div class="flex-grow-1"><hr /></div>
        </div>
        <div class="form-group mt-2">
          <angular-editor
            id="description"
            formControlName="description"
            [config]="editorConfig"
          ></angular-editor>
        </div>

        <div class="mt-1 d-flex align-items-center">
          <div class="mr-2"><span>Social Media</span></div>
          <div class="flex-grow-1"><hr /></div>
        </div>

        <div class="form-group row mt-2">
          <label for="facebook" class="col-sm-4 col-form-label">Facebook</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="facebook"
              formControlName="facebook"
              placeholder="https://www.facebook.com"
            />
            <small
              class="form-text text-danger"
              *ngIf="facebook.dirty && facebook.errors?.isValidUrl"
              >Facebook URL must be valid</small
            >
          </div>
        </div>

        <div class="form-group row">
          <label for="twitter" class="col-sm-4 col-form-label">Twitter</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="twitter"
              formControlName="twitter"
              placeholder="https://twitter.com"
            />
            <small
              class="form-text text-danger"
              *ngIf="twitter.dirty && twitter.errors?.isValidUrl"
              >Twitter URL must be valid</small
            >
          </div>
        </div>

        <div class="form-group row">
          <label for="linkedin" class="col-sm-4 col-form-label">LinkedIn</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="linkedin"
              formControlName="linkedin"
              placeholder="https://www.linkedin.com"
            />
            <small
              class="form-text text-danger"
              *ngIf="linkedin.dirty && linkedin.errors?.isValidUrl"
              >LinkedIn URL must be valid</small
            >
          </div>
        </div>

        <div class="form-group row">
          <label for="instagram" class="col-sm-4 col-form-label"
            >Instagram</label
          >
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="instagram"
              formControlName="instagram"
              placeholder="https://www.instagram.com"
            />
            <small
              class="form-text text-danger"
              *ngIf="instagram.dirty && instagram.errors?.isValidUrl"
              >Instagram URL must be valid</small
            >
          </div>
        </div>

        <div class="form-group row">
          <label for="youtube" class="col-sm-4 col-form-label">YouTube</label>
          <div class="col-sm-8">
            <input
              type="text"
              class="form-control"
              id="youtube"
              formControlName="youtube"
              placeholder="https://www.youtube.com"
            />
            <small
              class="form-text text-danger"
              *ngIf="youtube.dirty && youtube.errors?.isValidUrl"
              >YouTube URL must be valid</small
            >
          </div>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="hasProviderName || !createDemographicsForm.valid"
            [ngStyle]="{'cursor': (hasProviderName || !createDemographicsForm.valid) ? 'not-allowed' : 'pointer'}"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>Error when trying to create provider profile...</small>
  </div>
</swal>
<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>

<!-- <div
  class="p-5"
  style="width: 700px; word-break: break-all; word-wrap: break-word;"
>
  {{loggingDebug}}
</div>

<div class="mt-5 p-5">
  {{createLocationForm.valid}}
</div> -->
