<div class="w-100 table-wrapper mt-4">
  <table class="table">
    <thead class="bg-gradient-primary-500 text-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Provider Name</th>
        <th scope="col">Location Count</th>
        <th scope="col">Service Count</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let provider of providersDisplay">
        <th scope="row">
          <img
            [src]="provider.logo"
            class="rounded-circle logo-img-small"
            alt="Provider Logo Image"
          />
        </th>
        <td>{{provider.providerName}}</td>
        <td>{{provider.locationCount}}</td>
        <td>{{provider.serviceCount}}</td>
        <td>
          <div class="d-flex">
            <div class="mr-4">
              <fa-icon
                [icon]="faEye"
                (click)="openProviderView($event)"
                [attr.data-providerid]="provider.providerInfoId"
                class="open-view-icon"
              ></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="text-center" *ngIf="providersDisplay.length === 0">
    <p>There are currently no providers</p>
  </div>
</div>
