<div class="page-view-container changepassword-bg">
  <div class="container d-flex justify-content-between align-items-center">
    <div>
      <img
        class="rounded-circle profile-img-small"
        [src]="imageBuffer"
        alt="User Profile Image"
      />
      <span class="ml-2"
        ><a class="text-dark font-weight-bold" routerLink="/"
          >{{firstName}} {{lastName}}</a
        ></span
      >
    </div>
    <div class="text-dark font-weight-bold">
      <span>{{accountRole}}</span>
    </div>
  </div>
  <div class="container mt-4">
    <h3 class="text-center text-dark">Change Password</h3>
    <div class="mt-4 bg-gradient-light p-5 changepassword-border">
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit(changePasswordForm)"
      >
        <div class="changepassword-container">
          <div class="form-group required">
            <label for="oldPassword">Old Password</label>
            <input
              formControlName="oldPassword"
              type="password"
              class="form-control"
              id="oldPassword"
            />
            <small
              class="form-text text-danger"
              *ngIf="oldPassword.dirty && oldPassword.errors?.required"
              >Old password is required</small
            >
          </div>
          <div class="form-group required">
            <label for="newPassword">New Password</label>
            <input
              formControlName="newPassword"
              type="password"
              class="form-control"
              id="newPassword"
            />
            <small
              class="form-text text-danger"
              *ngIf="newPassword.dirty && newPassword.errors?.required"
              >Password is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="newPassword.errors?.minlength"
              >Password must be at least 8 characters</small
            >
            <small
              class="form-text text-danger"
              *ngIf="newPassword.dirty && newPassword.errors?.strong"
              >Password must contain at least 1 uppercase letter, 1 lowercase
              letter, 1 digit and no whitespace</small
            >
          </div>
          <div class="form-group required">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input
              formControlName="confirmNewPassword"
              type="password"
              class="form-control"
              id="confirmNewPassword"
            />
            <small
              class="form-text text-danger"
              *ngIf="confirmNewPassword.dirty && !passwordsMatch"
              >Passwords must match</small
            >
          </div>
        </div>
        <div class="mt-5 text-right">
          <button
            class="btn btn-primary"
            [disabled]="!changePasswordForm.valid || !passwordsMatch"
            [ngStyle]="{'cursor': (!changePasswordForm.valid || !passwordsMatch) ? 'not-allowed' : 'pointer'}"
            type="submit"
          >
            Change Password
          </button>
        </div>
        <swal #errorAlert [showConfirmButton]="false">
          <div *swalPortal>
            <small>Error when trying to change password...</small>
          </div>
        </swal>
        <swal #infoAlert [showConfirmButton]="false">
          <div *swalPortal>
            <small>{{serverMessage}}</small>
          </div>
        </swal>
      </form>
    </div>
  </div>
</div>
