@import "../../../variables.scss";

.changepassword-bg {
  background: $app-light;
  background: -webkit-linear-gradient(to right, $app-light, $app-primary-500);
  background: linear-gradient(to right, $app-light, $app-primary-500);
}

.changepassword-container {
  width: 100%;
  max-width: 500px;
}

.changepassword-border {
  border: 1px solid $app-dark;
}
