<div class="page-view-container">
  <div class="row flex-column-reverse flex-xl-row mx-auto mx-md-6 mx-lg-10 mx-xl-3">
    <div class="col-xl-7 mt-5 mt-xl-0">
      <div class="search-wrapper px-5 py-4 border border-dark">
        <h4 class="text-center font-weight-bold">Search</h4>
        <form [formGroup]="searchProviderForm">
          <div class="mt-4 form-group row mb-4">
            <label for="searchProviderName" class="col-sm-4 col-form-label">Provider Name</label>
            <div class="col-sm-8">
              <input type="text" id="providerName" class="form-control" formControlName="providerName" />
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchCountySelect" class="col-sm-4 col-form-label">Counties</label>
            <div class="col-sm-8">
              <ng-multiselect-dropdown [settings]="countySelectSettings" [placeholder]="'  '" [data]="countyOptions"
                formControlName="counties">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchRegionSelect" class="col-sm-4 col-form-label">Regions</label>
            <div class="col-sm-8">
              <ng-multiselect-dropdown [settings]="regionSelectSettings" [placeholder]="'  '" [data]="regionOptions"
                formControlName="regions">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchCategorySelect" class="col-sm-4 col-form-label">Service Categories</label>
            <div class="col-sm-8">
              <ng-multiselect-dropdown [settings]="categorySelectSettings" [placeholder]="'  '"
                [data]="serviceCategoryOptions" formControlName="serviceCategories">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchServiceSelect" class="col-sm-4 col-form-label">Services</label>
            <div class="col-sm-8">
              <ng-multiselect-dropdown [settings]="serviceSelectSettings" [placeholder]="'  '" [data]="serviceOptions"
                formControlName="services">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchDeliverySelect" class="col-sm-4 col-form-label">Service Deliveries</label>
            <div class="col-sm-8">
              <ng-multiselect-dropdown [settings]="deliverySelectSettings" [placeholder]="'  '"
                [data]="serviceDeliveryOptions" formControlName="serviceDeliveries">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchInsuranceSelect" class="col-sm-4 col-form-label">Insurances</label>
            <div class="col-sm-8">
              <ng-multiselect-dropdown [settings]="insuranceSelectSettings" [placeholder]="'  '"
                [data]="insuranceOptions" formControlName="insurances">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchAgeGroupSelect" class="col-sm-4 col-form-label">Age Groups</label>
            <div class="col-sm-8">
              <ng-multiselect-dropdown [settings]="ageGroupSelectSettings" [placeholder]="'  '" [data]="ageGroupOptions"
                formControlName="ageGroups">
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-4 form-group row mb-4">
            <label for="searchKeyword" class="col-sm-4 col-form-label">Keyword</label>
            <div class="col-sm-8">
              <input type="text" id="keyword" class="form-control" formControlName="keyword" />
            </div>
          </div>

          <div class="text-center">
            <button class="btn btn-primary" (click)="guestSearch($event)">Search</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-xl-5">
      <div class="bg-dark">
        <app-login></app-login>
      </div>
    </div>
  </div>

  <div class="container">
    <swal #guestSearchModal [showConfirmButton]="false">
      <div *swalPortal>
        <h4 class="bg-dark text-light py-2 px-3">Guest Search</h4>
        <p>Thank you for using our service. Please provide an email to display search results</p>
        <small>
          <form [formGroup]="guestSearchForm" (ngSubmit)="guestSearchSubmit()">

            <div class="form-group text-left mt-4">
              <div class="form-group text-left mt-4 required">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control form-control-sm" formControlName="email" />
                <small class="form-text text-danger"
                  *ngIf="(email.dirty || email.touched) && email.invalid && email.errors.email">
                  please enter a valid email address</small>
              </div>&nbsp;
            
                <div>
                <section class="checkbox">
                  <input type="checkbox" formControlName="hasANavigator">&nbsp;
                  <label>Check if you are assisted by a navigator. </label>
                </section>
              </div>
           
              <div>
                <section class="checkbox">
                  <input type="checkbox" formControlName="subscribedToNewsletter">&nbsp;
                  <label>Subscribe to our newsletter. </label>
                </section>
              </div>
              <div class="form-group required">
                <section class="checkbox">
                  <input type="checkbox"  required formControlName="acceptTerms" [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }">&nbsp;
                  <label>   I accept all <a href="https://autismallianceofmichigan.org/privacy-statementterms-of-use/" target="_blank">terms and conditions.</a> </label>
                  <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Please accept the terms and conditions</div>
                </section>
              </div>
              <div class="text-center">
                <button [ngStyle]="{'cursor' : 'pointer'}" class="btn btn-primary" type="submit">
                  Submit
                </button>
              </div>
             <div><span class="red"> * </span><span><em>indicates a required field</em></span></div>
            </div>
          </form>
        </small>
      </div>
    </swal>
  </div>

  <div class="mt-4 alert alert-warning text-center" role="alert" [innerHTML]="technicalSupportNote | securedHtml"></div>
</div>