@import "../../../variables.scss";

.search-wrapper {
  background: rgb(240, 240, 240);
  align-items: center;
  height: max-content;
  overflow: auto;
}

.right-bottom {
  bottom: 5%;
  right: 10%;
}

@media (min-width: $app-xl) {
  .search-wrapper {
    height: max-content;
  }

.form-control {
  width: 80%;
  margin-right: 0.5rem;
  margin-bottom: 1em;
}

.checkbox {
  margin-right: 0.5rem;
}
.red {
  color: red;
}
}
