<div class="w-100 table-wrapper">
  <table class="table">
    <thead class="bg-gradient-primary-500">
      <tr>
        <th scope="col">Log</th>
        <th scope="col">Edited By</th>
        <th scope="col">Provider</th>
        <th scope="col">Edited At</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let audit of audits" class="bg-gradient-light">
        <td>{{audit.changeLog}}</td>
        <td>{{audit.auditedBy}}</td>
        <td>{{audit.providerName}}</td>
        <td>{{moment(audit.auditedTime).format("llll")}}</td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="audits.length === 0">
    <p>There are currently no audit logs...</p>
  </div>
</div>
