<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="d-flex justify-content-between align-items-center">
      <span><h5 class="mb-0 font-weight-bold">Insurances</h5></span>
      <button
        class="btn btn-primary d-flex align-items-center"
        (click)="createInsuranceModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add New Insurance</span>
      </button>
    </div>

    <div class="w-100 table-wrapper mt-3">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Insurance</th>
            <th scope="col">Service Count</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let insurance of insuranceDtos">
            <td>{{insurance.insuranceName}}</td>
            <td>{{insurance.serviceCount}}</td>
            <td>
              <div class="d-flex">
                <div
                  class="mr-4"
                  *ngIf="insurance.website || insurance.contactNumber"
                >
                  <fa-icon
                    [icon]="faEye"
                    [attr.data-insurancename]="insurance.insuranceName"
                    [attr.data-contactnumber]="insurance.contactNumber"
                    [attr.data-website]="insurance.website"
                    (click)="showInsuranceDetails($event)"
                    class="open-view-icon"
                  ></fa-icon>
                </div>
                <div class="mr-4">
                  <fa-icon
                    [icon]="faEdit"
                    [attr.data-insuranceid]="insurance.insuranceId"
                    [attr.data-insurancename]="insurance.insuranceName"
                    [attr.data-contactnumber]="insurance.contactNumber"
                    [attr.data-website]="insurance.website"
                    (click)="editInsurance($event)"
                    class="edit-view-icon"
                  ></fa-icon>
                </div>
                <div *ngIf="insurance.serviceCount === 0">
                  <fa-icon
                    [icon]="faTrashAlt"
                    [attr.data-insuranceid]="insurance.insuranceId"
                    (click)="deleteInsurance($event)"
                    class="delete-item-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center" *ngIf="insuranceDtos.length === 0">
        <p>There are currently no insurances</p>
      </div>
    </div>
  </div>
</div>

<swal #createInsuranceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">New Insurance</h4>
    <small>
      <form [formGroup]="createInsuranceForm" (ngSubmit)="createInsurance()">
        <div class="form-group required text-left mt-4">
          <label for="createInsurance">Insurance Name</label>
          <input
            type="text"
            id="createInsurance"
            class="form-control form-control-sm"
            formControlName="insuranceName"
          />
          <small
            class="form-text text-danger"
            *ngIf="insuranceName.dirty && insuranceName.errors?.required"
            >Insurance name is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="insuranceName.dirty && insuranceAlreadyExist"
            >Insurance with the same name already exists</small
          >
        </div>

        <div class="form-group text-left mt-4">
          <label for="website">Website</label>
          <input
            class="form-control"
            type="text"
            placeholder="https://example.com"
            formControlName="website"
            id="website"
          />
          <small
            class="form-text text-danger"
            *ngIf="website.dirty && website.errors?.isValidUrl"
            >Website URL must be valid</small
          >
        </div>

        <div class="form-group text-left mt-4">
          <label for="contactNumber">Phone</label>
          <input
            class="form-control"
            type="tel"
            class="form-control form-control-sm"
            formControlName="contactNumber"
            id="contactNumber"
          />
          <small
            class="form-text text-danger"
            *ngIf="contactNumber.errors?.pattern"
            >Phone number must be valid</small
          >
        </div>

        <div class="mt-4">
          <button
            [disabled]="!createInsuranceForm.valid || insuranceAlreadyExist"
            [ngStyle]="{'cursor': (!createInsuranceForm.valid || insuranceAlreadyExist) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editInsuranceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Insurance</h4>
    <small>
      <form [formGroup]="editInsuranceForm" (ngSubmit)="editInsuranceSubmit()">
        <div class="form-group required text-left mt-4">
          <label for="editInsurance">Insurance Name</label>
          <input
            type="text"
            id="editInsurance"
            class="form-control form-control-sm"
            formControlName="editInsuranceName"
          />
          <small
            class="form-text text-danger"
            *ngIf="editInsuranceName.dirty && editInsuranceName.errors?.required"
            >Insurance name is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="editInsuranceName.dirty && editInsuranceAlreadyExist"
            >Insurance with the same name already exists</small
          >
        </div>

        <div class="form-group text-left mt-4">
          <label for="editWebsite">Website</label>
          <input
            class="form-control"
            type="text"
            placeholder="https://example.com"
            formControlName="editWebsite"
            id="editWebsite"
          />
          <small
            class="form-text text-danger"
            *ngIf="editWebsite.dirty && editWebsite.errors?.isValidUrl"
            >Website URL must be valid</small
          >
        </div>

        <div class="form-group text-left mt-4">
          <label for="editContactNumber">Phone</label>
          <input
            class="form-control"
            type="tel"
            class="form-control form-control-sm"
            formControlName="editContactNumber"
            id="editContactNumber"
          />
          <small
            class="form-text text-danger"
            *ngIf="editContactNumber.errors?.pattern"
            >Phone number must be valid</small
          >
        </div>

        <div class="mt-4">
          <button
            [disabled]="!editInsuranceForm.valid || editInsuranceAlreadyExist"
            [ngStyle]="{'cursor': (!editInsuranceForm.valid || editInsuranceAlreadyExist) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #showInsuranceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">{{currInsuranceName}}</h4>

    <div class="ml-2 mt-4 text-left" *ngIf="currInsuranceWebsite">
      <span>Website: </span
      ><a href="{{currInsuranceWebsite}}" target="_blank"
        >{{currInsuranceWebsite}}</a
      >
    </div>
    <div class="ml-2 mt-4 text-left" *ngIf="currInsuranceContactNumber">
      <span>Phone Number: </span><span>{{currInsuranceContactNumber}}</span>
    </div>
    <div class="mt-4">
      <button class="btn btn-primary" (click)="close()">Close</button>
    </div>
  </div>
</swal>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteInsuranceAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this insurance?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button
          class="btn btn-sm btn-danger"
          (click)="confirmDeleteInsurance()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
