<div>
  <div class="row justify-content-between">
    <div class="col-lg-6">
      <div class="form-group row align-items-middle bg-gradient-dark">
        <label for="firstName" class="col-sm-4 col-form-label text-light"
          >First Name</label
        >
        <label class="col-sm-8 col-form-label bg-gradient-primary-500"
          >{{firstName}}</label
        >
      </div>
      <div class="form-group row bg-gradient-dark">
        <label for="lastName" class="col-sm-4 col-form-label text-light"
          >Last Name</label
        >
        <label class="col-sm-8 col-form-label bg-gradient-primary-500"
          >{{lastName}}</label
        >
      </div>
      <div class="form-group row bg-gradient-dark">
        <label for="contactNumber" class="col-sm-4 col-form-label text-light"
          >Phone</label
        >
        <label class="col-sm-8 col-form-label bg-gradient-primary-500"
          >{{pn(contactNumber)}}</label
        >
      </div>
      <div class="form-group row bg-gradient-dark">
        <label for="website" class="col-sm-4 col-form-label text-light"
          >Website</label
        >
        <label class="col-sm-8 col-form-label bg-gradient-primary-500"
          ><a
            href="{{website}}"
            class="text-dark font-weight-bold"
            target="_blank"
            >{{website}}</a
          ></label
        >
      </div>
      <div class="form-group row mb-4 bg-gradient-dark">
        <label for="bio" class="col-sm-4 col-form-label text-light">Bio</label>
        <textarea
          class="col-sm-8 col-form-label bg-gradient-primary-500"
          rows="5"
          readonly
        >
{{bio}}</textarea
        >
      </div>
    </div>
    <div class="col-lg-6">
      <div class="profile-img-section">
        <img
          class="rounded-circle profile-img"
          [src]="imageBuffer"
          alt="uploaded image"
        />
      </div>
    </div>
  </div>
  <div
    class="mt-4 mt-md-2 mt-lg-0 d-md-flex justify-content-between align-items-center"
  >
    <div>
      <a routerLink="/changepassword" class="font-weight-bold"
        >Change Account Password</a
      >
    </div>
    <div class="mt-4 mt-md-0">
      <button type="click" class="btn btn-primary" (click)="edit()">
        Edit Profile
      </button>
    </div>
  </div>
</div>
