@import "../../../variables.scss";

textarea {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  cursor: default;
}

.profile-img-section {
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent; 
  background: -webkit-linear-gradient(
    to right,
    $app-light,
    $app-light,
    $app-light,
    $app-primary-500,
    $app-primary-500,
    $app-light,
    $app-light,
    $app-light
  ); 
  background: linear-gradient(
    to right,
    $app-light,
    $app-light,
    $app-light,
    $app-primary-500,
    $app-primary-500,
    $app-light,
    $app-light,
    $app-light
  ); 
}
