<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="d-flex justify-content-between align-items-center">
      <span><h5 class="mb-0 font-weight-bold">Service Deliveries</h5></span>
      <button
        class="btn btn-primary d-flex align-items-center"
        (click)="createServiceDeliveryModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add New Delivery Type</span>
      </button>
    </div>
    <div class="w-100 table-wrapper mt-3">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Delivery Types</th>
            <th scope="col">Service Count</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let serviceDelivery of serviceDeliveryDtos">
            <td>{{serviceDelivery.delivery}}</td>
            <td>{{serviceDelivery.serviceCount}}</td>
            <td>
              <div class="d-flex">
                <div class="mr-4">
                  <fa-icon
                    [icon]="faEdit"
                    [attr.data-servicedeliveryid]="serviceDelivery.serviceDeliveryId"
                    [attr.data-delivery]="serviceDelivery.delivery"
                    (click)="editServiceDelivery($event)"
                    class="edit-view-icon"
                  ></fa-icon>
                </div>
                <div *ngIf="serviceDelivery.serviceCount === 0">
                  <fa-icon
                    [icon]="faTrashAlt"
                    [attr.data-servicedeliveryid]="serviceDelivery.serviceDeliveryId"
                    (click)="deleteServiceDelivery($event)"
                    class="delete-item-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #editServiceDeliveryModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Delivery Type</h4>
    <small>
      <form
        [formGroup]="editServiceDeliveryForm"
        (ngSubmit)="editServiceDeliverySubmit()"
      >
        <div class="form-group required text-left mt-4">
          <label for="editServiceDeliveryName">Delivery Type</label>
          <input
            type="text"
            id="delivery"
            class="form-control form-control-sm"
            formControlName="editServiceDeliveryName"
            placeholder="New Delivery Type Name"
          />
          <small
            class="form-text text-danger"
            *ngIf="editServiceDeliveryName.dirty && editServiceDeliveryName.errors?.required"
            >Delivery type is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="editServiceDeliveryName.dirty && editServiceDeliveryAlreadyExists"
            >Delivery type already exists</small
          >
        </div>
        <div class="mt-4">
          <button
            [disabled]="!editServiceDeliveryForm.valid || editServiceDeliveryAlreadyExists"
            [ngStyle]="{'cursor': (!editServiceDeliveryForm.valid || editServiceDeliveryAlreadyExists) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createServiceDeliveryModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Delivery Type</h4>
    <small>
      <form
        [formGroup]="createServiceDeliveryForm"
        (ngSubmit)="createServiceDelivery()"
      >
        <div class="form-group required text-left mt-4">
          <label for="createServiceDeliveryName">Delivery Type</label>
          <input
            type="text"
            id="createServiceDeliveryName"
            class="form-control form-control-sm"
            formControlName="createServiceDeliveryName"
            placeholder="Delivery Type Name"
          />
          <small
            class="form-text text-danger"
            *ngIf="createServiceDeliveryName.dirty && createServiceDeliveryName.errors?.required"
            >Delivery type is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="createServiceDeliveryName.dirty && serviceDeliveryAlreadyExist"
            >Delivery type already exists</small
          >
        </div>
        <div class="mt-4">
          <button
            [disabled]="!createServiceDeliveryForm.valid || serviceDeliveryAlreadyExist"
            [ngStyle]="{'cursor': (!createServiceDeliveryForm.valid || serviceDeliveryAlreadyExist) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteServiceDeliveryModal [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this service delivery type?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button
          class="btn btn-sm btn-danger"
          (click)="deleteServiceDeliverySubmit()"
        >
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
