@import "../variables.scss";

.navbar-brand {
  height: calc(60px + 0.625rem);
  display: table-cell;
  vertical-align: middle;
}

.navbar-brand img {
  max-height: 60px;
}

.navbar-nav {
  min-height: calc(60px + 00.625rem);
}

// dropdown
.brands span[dropdown] {
  position: relative;
}

.brands span[dropdown].open .dropdown-menu {
  display: table;
}

.brands .dropdown-menu > div {
  display: block;
}

.dropdown-profile-icon {
  color: $app-secondary;
  border-radius: 50%;
  color: $app-secondary;
  border: 1.5px solid $app-secondary;
  width: 1.72rem;
  height: 1.72rem;
  text-align: center;
  margin-right: 0.25rem;
  font-weight: bold;
}

// messaging numbers
.number-circle {
  width: 1.5rem;
  line-height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  padding: 0.25rem;
  border: 1.5px solid $app-warning;
}

// search
.search-form .form-control {
  width: 80%;
  margin-right: 0.5rem;
}

.inner-addon {
  position: relative;
}

.inner-addon span {
  position: absolute;
  padding: 10px;
  color: $app-secondary;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $app-primary;
  }
}

.right-addon span {
  right: 2.5rem;
}

.right-addon input {
  padding-right: 30px;
}

// toggler in small screens
.navbar-toggler {
  border: none;
  outline: none;
  margin-left: auto;
  height: 60px;

  &:active,
  &:focus {
    color: $app-primary;
  }
}

// disclaimer
.bg-disclaimer {
  background: #4b5c6b;

  strong {
    color: $app-primary;
  }
}

@media (min-width: $app-md) {
  .brands span[dropdown].admin-nav {
    position: static;
  }

  .brands span[dropdown].open.admin-nav .dropdown-menu {
    width: 100%;
    left: 0;
    right: 0;
    border: none;
  }

  .brands .admin-nav .dropdown-menu > div {
    display: table-cell;
    border-left: 1px solid $app-dark;

    &:first-of-type {
      border-left: none;
    }
  }

  .search-form input {
    min-width: 350px;
    max-width: 400px;
  }

  .right-addon span {
    right: 0.5rem;
  }
}
