<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top mx-auto justify-content-lg-between"
>
  <div class="w-100 w-lg-initial d-flex brands">
    <a
      class="navbar-brand"
      routerLink="login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
      *ngIf="!isLoggedIn"
      ><img
        src="assets/images/navbar-brand.png"
        alt="AutismAlliance of Michigan Logo"
    /></a>

    <!-- Admin Nav -->
    <span class="ml-4 admin-nav" dropdown #adminDropdown="bs-dropdown">
      <a
        class="navbar-brand"
        href
        id="admin-dropdown-link"
        dropdownToggle
        (click)="false"
        aria-controls="admin-dropdown"
        *ngIf="isLoggedIn && hasAdminGroup"
        >Admin
        <svg
          class="bi bi-caret-down-fill"
          width="0.5em"
          height="0.5em"
          viewBox="0 0 16 16"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"
          />
        </svg>
      </a>
      <ul
        id="admin-dropdown"
        *dropdownMenu
        class="mt-0 dropdown-menu bg-gradient-primary-500"
        role="menu"
        aria-labelledby="admin-dropdown-link"
      >
        <div *ngFor="let adminChoices of adminChoicesGroups">
          <li *ngFor="let choice of adminChoices">
            <a
              class="dropdown-item pl-lg-4 pl-xl-5"
              (click)="adminDropdown.hide()"
              routerLink="{{choice.link}}"
              >{{choice.name}}</a
            >
          </li>
        </div>
      </ul>
    </span>
    <!-- Admin Nav ^ -->

    <!-- Navigator Nav -->
    <span dropdown #navigatorDropdown="bs-dropdown">
      <a
        class="navbar-brand"
        href
        id="navigator-dropdown-link"
        dropdownToggle
        (click)="false"
        aria-controls="navigator-dropdown"
        *ngIf="isLoggedIn && hasNavigatorGroup"
        >Navigator
        <svg
          class="bi bi-caret-down-fill"
          width="0.5em"
          height="0.5em"
          viewBox="0 0 16 16"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"
          />
        </svg>
      </a>
      <ul
        id="navigator-dropdown"
        *dropdownMenu
        class="mt-0 dropdown-menu bg-gradient-primary-500 navigator-menu"
        role="menu"
        aria-labelledby="navigator-dropdown-link"
      >
        <li *ngFor="let choice of navigatorChoices">
          <a
            class="dropdown-item"
            (click)="navigatorDropdown.hide()"
            routerLink="{{choice.link}}"
            >{{choice.name}}</a
          >
        </li>
      </ul>
    </span>
    <!-- Navigator Nav ^ -->

    <!-- Internal Nav -->
    <span dropdown #internalDropdown="bs-dropdown">
      <a
        class="navbar-brand"
        href
        id="internal-dropdown-link"
        dropdownToggle
        (click)="false"
        aria-controls="internal-dropdown"
        *ngIf="isLoggedIn && hasInternalGroup"
        >Internal
        <svg
          class="bi bi-caret-down-fill"
          width="0.5em"
          height="0.5em"
          viewBox="0 0 16 16"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 01.753 1.659l-4.796 5.48a1 1 0 01-1.506 0z"
          />
        </svg>
      </a>
      <ul
        id="internal-dropdown"
        *dropdownMenu
        class="mt-0 dropdown-menu bg-gradient-primary-500 internal-menu"
        role="menu"
        aria-labelledby="internal-dropdown-link"
      >
        <li *ngFor="let choice of internalChoices">
          <a
            class="dropdown-item"
            (click)="internalDropdown.hide()"
            routerLink="{{choice.link}}"
            >{{choice.name}}</a
          >
        </li>
      </ul>
    </span>
    <!-- Internal Nav ^ -->
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle Navigation"
      (click)="collapsed = !collapsed"
    >
      <svg
        class="bi bi-list"
        width="2em"
        height="2em"
        viewBox="0 0 16 16"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M2.5 11.5A.5.5 0 013 11h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 7h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5zm0-4A.5.5 0 013 3h10a.5.5 0 010 1H3a.5.5 0 01-.5-.5z"
          clip-rule="evenodd"
        />
      </svg>
    </button>
    <span class="m-2 p-3"><a href="https://autismallianceofmichigan.org" target="_blank" class="text-white">Autism Alliance Website</a></span>
    <span class="m-2 p-3"><a href="https://autismallianceofmichigan.org/events/" target="_blank" class="text-white">Community Calendar</a></span>
  </div>

  <div>
    <div
      id="navbarNav"
      [ngClass]="{ 'collapse':collapsed, 'navbar-collapse':true }"
      class="d-flex-wrap justify-content-between"
    >
      <div
        class="search-form form-inline my-2 my-lg-0 mr-md-3 inner-addon right-addon"
      >
        <input
          class="form-control form-control-sm mr-sm-2 w-md-100"
          type="search"
          placeholder="Search Providers"
          aria-label="Search"
          [(ngModel)]="searchKeyword"
        />
        <span>
          <fa-icon
            [icon]="faSearch"
            (click)="searchProvidersByKeyword()"
          ></fa-icon>
        </span>
      </div>
      <ul class="navbar-nav align-items-center" *ngIf="isLoggedIn">
        <li class="nav-item mr-auto user-options" *ngIf="isLoggedIn">
          <span dropdown>
            <a
              href
              id="user-dropdown-link"
              class="nav-link"
              dropdownToggle
              (click)="false"
              aria-controls="user-dropdown"
            >
              <svg
                class="bi bi-people-circle"
                width="1.5rem"
                height="1.5rem"
                viewBox="0 0 16 16"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 008 15a6.987 6.987 0 005.468-2.63z"
                />
                <path
                  fill-rule="evenodd"
                  d="M8 9a3 3 0 100-6 3 3 0 000 6z"
                  clip-rule="evenodd"
                />
                <path
                  fill-rule="evenodd"
                  d="M8 1a7 7 0 100 14A7 7 0 008 1zM0 8a8 8 0 1116 0A8 8 0 010 8z"
                  clip-rule="evenodd"
                />
              </svg>
            </a>
            <ul
              id="user-dropdown"
              *dropdownMenu
              class="mt-0 dropdown-menu dropdown-menu-right bg-gradient-primary-500"
              role="menu"
              aria-labelledby="user-dropdown-link"
            >
              <li>
                <a routerLink="/user/messages" class="dropdown-item">
                  Messages</a
                >
                <a
                  routerLink="/profile/show"
                  class="dropdown-item d-flex align-items-center"
                >
                  <fa-icon
                    [icon]="faUser"
                    class="dropdown-profile-icon"
                  ></fa-icon>
                  <span>User Profile</span></a
                >
              </li>
            </ul>
          </span>
        </li>
        <li class="nav-item mr-auto" *ngIf="isLoggedIn">
          <a
            class="nav-link"
            routerLink="login"
            (click)="[logout(), adminDropdown.hide(), navigatorDropdown.hide(), internalDropdown.hide()]"
            >Sign Out</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer class="bg-dark text-light">
  <div
    class="bg-disclaimer py-4 px-5"
    [innerHTML]="disclaimer | securedHtml"
  ></div>

  <div
    class="d-flex flex-column-reverse flex-md-row justify-content-between pt-4 px-5"
  >
    <div class="w-100 w-md-75 text-center text-md-left">
      <p>© Autism Alliance of Michigan</p>
    </div>

    <div class="w-100 w-md-25 d-flex justify-content-center">
      <div class="mr-3">
        <h4>
          <a
            href="https://www.facebook.com/AutismAllianceOfMichigan/"
            target="_blank"
            ><fa-icon [icon]="faFacebookF"></fa-icon
          ></a>
        </h4>
      </div>
      <div class="mr-3">
        <h4>
          <a href="https://twitter.com/AutismAlliance" target="_blank"
            ><fa-icon [icon]="faTwitter"></fa-icon
          ></a>
        </h4>
      </div>
      <div>
        <h4>
          <a href="https://autismallianceofmichigan.org/feed/" target="_blank"
            ><fa-icon [icon]="faRss"></fa-icon
          ></a>
        </h4>
      </div>
    </div>
  </div>
</footer>
