<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h4 class="font-weight-bold text-center">Messaging</h4>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <button class="btn btn-primary m-2" (click)="showInboxHideSent()">
          Inbox
        </button>
        <button class="btn btn-primary m-2" (click)="showSentHideInbox()">
          Sent
        </button>
      </div>
      <div class="d-flex align-items-center">
        <button class="btn btn-primary m-2" (click)="isInternalUser()">
          Compose Message
        </button>
      </div>
    </div>
    <div class="w-100 table-wrapper mt-3" *ngIf="showSent">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">To</th>
            <th scope="col">Subject</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of sentMessageDtos">
            <td>{{message.recipientUsernames.join(", ")}}</td>
            <td>
              {{message.subject}}
            </td>
            <td>
              {{moment(message.messageTime).format("llll")}}
            </td>
            <td>
              <fa-icon
                [icon]="faEye"
                [attr.data-messageid]="message.messageId"
                [attr.data-sender]="message.sender"
                [attr.data-subject]="message.subject"
                [attr.data-message]="message.message"
                (click)="viewMessage($event)"
                class="open-view-icon"
              >
              </fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="mt-4 mb-4 text-center" *ngIf="sentMessageDtos.length === 0">
        There are currently no sent messages...
      </div>
      <div class="mt-4 w-100 d-flex justify-content-center">
        <pagination
          [totalItems]="totalElementsSent"
          [itemsPerPage]="pageSize"
          (pageChanged)="pageChangedSentMessages($event)"
          [maxSize]="10"
          [boundaryLinks]="true"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></pagination>
      </div>
    </div>

    <div class="w-100 table-wrapper mt-3" *ngIf="showInbox">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">From</th>
            <th scope="col">Subject</th>
            <th scope="col">Date</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let message of receivedMessageDtos">
            <td>
              <span>{{message.sender}}</span>
            </td>
            <td [ngStyle]="{'cursor':'pointer'}">
              {{message.subject}}
            </td>
            <td>
              {{moment(message.messageTime).format("llll")}}
            </td>
            <td>
              <fa-icon
                [icon]="faEye"
                [attr.data-messageid]="message.messageId"
                [attr.data-sender]="message.sender"
                [attr.data-subject]="message.subject"
                [attr.data-message]="message.message"
                (click)="viewMessage($event)"
                class="open-view-icon"
              >
              </fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <div
        class="mt-4 mb-4 text-center"
        *ngIf="receivedMessageDtos.length === 0"
      >
        There are currently no received messages...
      </div>
      <div class="mt-4 w-100 d-flex justify-content-center">
        <pagination
          [totalItems]="totalElementsInbox"
          [itemsPerPage]="pageSize"
          (pageChanged)="pageChangedReceivedMessages($event)"
          [maxSize]="10"
          [boundaryLinks]="true"
          previousText="&lsaquo;"
          nextText="&rsaquo;"
          firstText="&laquo;"
          lastText="&raquo;"
        ></pagination>
      </div>
    </div>
  </div>
</div>

<swal #createMessageInternalUserModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Compose Message</h4>
    <small>
      <form [formGroup]="createMessageForm" (ngSubmit)="createMessage()">
        <div>
          <div class="form-group required text-left mt-4">
            <label for="accountGroups">Select Account Groups</label>
            <ng-multiselect-dropdown
              [settings]="accountGroupSelectSettings"
              [placeholder]="'  '"
              [data]="messageAccountGroupDtos"
              (onSelect)="onAccountGroupSelect($event)"
              (onSelectAll)="onSelectAllAccountGroups()"
              #accountGroupDropdown
            ></ng-multiselect-dropdown>
          </div>
          <div class="form-group required text-left mt-4">
            <label for="recipients">Select Recipients</label>
            <ng-multiselect-dropdown
              [settings]="recipientSelectSettings"
              [placeholder]="'  '"
              [data]="accountGroupUsers"
              formControlName="recipients"
              #recipientDropdown
            ></ng-multiselect-dropdown>
          </div>
        </div>
        <div class="form-group required text-left mt-4">
          <label for="subject">Message Subject </label>
          <input
            type="text"
            id="subject"
            formControlName="subject"
            class="form-control form-control-sm"
          />
          <small
            class="form-text text-danger"
            *ngIf="subject.dirty && subject.errors?.required"
            >Subject is required</small
          >
        </div>
        <div class="form-group required text-left mt-4">
          <label for="message">Message</label>
          <textarea
            type="text"
            id="message"
            class="form-control form-control-sm"
            formControlName="message"
            rows="5"
          ></textarea>
          <small
            class="form-text text-danger"
            *ngIf="message.dirty && message.errors?.required"
            >Message is required</small
          >
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-6 text-center">
            <button class="btn btn-primary" (click)="cancel()" type="button">
              Cancel
            </button>
          </div>
          <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
            <button
              [disabled]="!createMessageForm.valid"
              [ngStyle]="{'cursor': !createMessageForm.valid ? 'not-allowed' : 'pointer'}"
              class="btn btn-primary"
              type="submit"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createMessageExternalUserModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Compose Message</h4>
    <small>
      <form
        [formGroup]="createMessageForm"
        (ngSubmit)="createMessageExternalUser()"
      >
        <div>
          <div class="form-group required text-left mt-4">
            <label for="recipients">Select Account Groups</label>
            <ng-multiselect-dropdown
              [settings]="accountGroupSelectSettings"
              [placeholder]="'  '"
              [data]="messageAccountGroupDtos"
              formControlName="recipients"
            ></ng-multiselect-dropdown>
          </div>
        </div>
        <div class="form-group required text-left mt-4">
          <label for="subject">Message Subject </label>
          <input
            type="text"
            id="subject"
            formControlName="subject"
            class="form-control form-control-sm"
          />
        </div>
        <div class="form-group required text-left mt-4">
          <label for="message">Message</label>
          <textarea
            type="text"
            id="message"
            class="form-control form-control-sm"
            formControlName="message"
            rows="5"
          ></textarea>
        </div>
        <div class="row mt-4">
          <div class="col-12 col-md-6 text-center">
            <button class="btn btn-primary" (click)="cancel()">
              Cancel
            </button>
          </div>
          <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
            <button
              [disabled]="!createMessageForm.valid"
              [ngStyle]="{'cursor': !createMessageForm.valid ? 'not-allowed' : 'pointer'}"
              class="btn btn-primary"
              type="submit"
            >
              Send
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>
<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #cancelAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{cancelMessage}}</small>
  </div>
</swal>

<swal #showMessageModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">
      {{currSubject}}
    </h4>

    <div class="text-left mt-3">From: {{currSender}}</div>

    <div class="text-left mt-3">
      Message: {{currMessage}}
    </div>
  </div>
</swal>
