<div>
  <form
    [formGroup]="createProfileForm"
    (ngSubmit)="onSubmit(createProfileForm)"
  >
    <div class="row justify-content-between">
      <div class="col-lg-6">
        <div class="form-group row required">
          <label for="firstName" class="col-sm-4 col-form-label"
            >First Name</label
          >
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              formControlName="firstName"
            />
            <small
              class="form-text text-danger"
              *ngIf="firstName.dirty && firstName.errors?.required"
              >First name is required</small
            >
          </div>
        </div>
        <div class="form-group row required">
          <label for="lastName" class="col-sm-4 col-form-label"
            >Last Name</label
          >
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              formControlName="lastName"
            />
            <small
              class="form-text text-danger"
              *ngIf="lastName.dirty && lastName.errors?.required"
              >Last name is required</small
            >
          </div>
        </div>
        <div class="form-group row required">
          <label for="contactNumber" class="col-sm-4 col-form-label"
            >Phone</label
          >
          <div class="col-sm-8">
            <input
              class="form-control"
              type="tel"
              formControlName="contactNumber"
            />
            <small
              class="form-text text-danger"
              *ngIf="contactNumber.dirty && contactNumber.errors?.required"
              >Phone number is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="contactNumber.errors?.pattern"
              >Phone number must be valid</small
            >
          </div>
        </div>
        <div class="form-group row">
          <label for="website" class="col-sm-4 col-form-label">Website</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              placeholder="https://example.com"
              formControlName="website"
            />
            <small
              class="form-text text-danger"
              *ngIf="website.dirty && website.errors?.isValidUrl"
              >Website URL must be valid</small
            >
          </div>
        </div>
        <div class="form-group row mb-4">
          <label for="bio" class="col-sm-4 col-form-label">Bio</label>
          <div class="col-sm-8">
            <textarea
              class="form-control"
              type="text"
              formControlName="bio"
              rows="5"
            ></textarea>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <img
            class="rounded-circle profile-img"
            [src]="imageBuffer"
            alt="uploaded image"
          />
        </div>
        <div class="text-center mt-4">
          <div class="mb-2 alert alert-warning" role="alert">
            Image uploaded should be less than 2MB and should be cropped into
            square format
          </div>

          <input
            type="file"
            id="BtnBrowseHidden"
            name="files"
            style="display: none;"
            formControlName="image"
            (change)="onSelectFile($event)"
          />
          <label for="BtnBrowseHidden" id="LblBrowse" class="btn btn-primary">
            Upload Image
          </label>
        </div>
      </div>
    </div>
    <div
      class="mt-4 mt-md-2 mt-lg-0 d-md-flex justify-content-between align-items-center"
    >
      <div>
        <a routerLink="/changepassword" class="font-weight-bold"
          >Change Account Password</a
        >
      </div>
      <div class="mt-4 mt-md-0">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!createProfileForm.valid"
          [ngStyle]="{'cursor': !createProfileForm.valid ? 'not-allowed' : 'pointer'}"
        >
          Create Profile
        </button>
      </div>
    </div>
    <swal #errorAlert [showConfirmButton]="false">
      <div *swalPortal>
        <small>Error when trying to create user profile...</small>
      </div>
    </swal>
    <swal #infoAlert [showConfirmButton]="false">
      <div *swalPortal>
        <small>{{serverMessage}}</small>
      </div>
    </swal>
  </form>
</div>
