<div class="w-100 table-wrapper">
  <table class="table">
    <thead class="bg-gradient-primary-500">
      <tr>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col">Username</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersDisplay" class="bg-gradient-light">
        <th scope="row">
          <img
            [src]="user.image"
            class="rounded-circle profile-img-small"
            alt="User Profile Image"
          />
        </th>
        <td>{{user.firstName}} {{user.lastName}}</td>
        <td>{{user.username}}</td>
        <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
        <td>
          <div class="d-flex">
            <div class="mr-4">
              <fa-icon
                [icon]="faEye"
                (click)="openGroupUserView($event)"
                [attr.data-username]="user.username"
                class="open-view-icon"
              ></fa-icon>
            </div>
            <div *ngIf="!user.rootAdmin">
              <fa-icon
                [icon]="faTrashAlt"
                (click)="deleteGroupUser($event)"
                [attr.data-username]="user.username"
                class="delete-item-icon"
              ></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="users.length === 0">
    <p>There are currently no users in this group</p>
  </div>
</div>

<div class="mt-4 w-100 d-flex justify-content-center">
  <pagination
    [totalItems]="totalElements"
    [itemsPerPage]="pageSize"
    (pageChanged)="pageChanged($event)"
    [maxSize]="10"
    [boundaryLinks]="true"
    previousText="&lsaquo;"
    nextText="&rsaquo;"
    firstText="&laquo;"
    lastText="&raquo;"
  ></pagination>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this user?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancelDelete()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
