@import "../../../variables.scss";

.outer-bg {
  background: $app-light;
  background: -webkit-linear-gradient(
    to bottom left,
    $app-light,
    $app-primary-500
  );
  background: linear-gradient(to bottom left, $app-light, $app-primary-500);
}

.nav-item .active {
  background: $app-light !important;
  color: $app-dark;
  font-weight: bold;
}

.nav-tabs {
  border: none;
}

.nav-tabs .nav-link {
  border: none;
  background: $app-dark;
  z-index: -1;
}
