<div class="page-view-container outer-bg">
  <div class="d-flex justify-content-between align-items-center">
    <div *ngIf="!provider.accountDto" class="text-center">
      <div>Standalone</div>
      <div>Provider</div>
    </div>
    <div class="d-flex align-items-center" *ngIf="provider.accountDto">
      <div>
        <img [src]="profileImg" class="profile-img-small rounded-circle border border-light mr-2"
          alt="User Profile Image" />
      </div>
      <div>
        <div>
          {{provider.accountDto.firstName}} {{provider.accountDto.lastName}}
        </div>
        <div>{{provider.accountDto.email}}</div>
      </div>
    </div>
    <div class="text-right">
      <div>
        {{provider.providerInfoDto.providerName}}
      </div>
      <div class="mt-1 d-flex align-items-center">
        <button class="btn btn-sm btn-primary" type="button" (click)="viewOrEditDemographicsModal.fire()">
          View Demographics
        </button>

        <button class="btn btn-sm btn-warning ml-2" type="button" (click)="unapprovedDemographicsModal.fire()"
          *ngIf="provider.providerInfoDto.modifyRequested">
          View Unapproved Updated Demographics
        </button>
      </div>
    </div>
  </div>
  <div class="container-fluid mt-4">
    <ul class="nav nav-tabs">
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="./show" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Info</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="./notes" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Notes</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="./waittimes" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Wait Times</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="./audits" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Audit</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="./files" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">File Share</a>
      </li>
      <li class="nav-item mr-1">
        <a class="nav-link" routerLink="./accounts" routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">Accounts</a>
      </li>
      <!-- <li class="nav-item mr-1">
        <a
          class="nav-link"
          routerLink="./events"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}"
          >Events</a>
      </li> -->
    </ul>
    <div class="contrast-img-bg group-home-border pt-5 pb-4 pl-5 pr-5">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<swal #viewOrEditDemographicsModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Provider Demographics</h4>
    <small>
      <form [formGroup]="editDemographicsForm" (ngSubmit)="submitEditDemographicsForm()">
        <div class="alert alert-warning" role="alert" *ngIf="!isViewMode">
          Image uploaded should be less than 2MB and should be cropped into
          square format
        </div>

        <div class="d-flex justify-content-around align-items-center">
          <div>
            <div class="form-group required text-left mt-4">
              <label for="providerName">Provider Name</label>
              <input type="text" id="providerName" class="form-control" formControlName="providerName"
                [attr.disabled]="isViewMode || null" (input)="checkUpdateProviderName()" />
              <small class="form-text text-danger" *ngIf="providerName.dirty && providerName.errors?.required">Provider
                name is required</small>
              <small class="form-text text-danger" *ngIf="hasProviderName">
                The provider name already exists. Please contact Autism Alliance
                at
                <span class="font-italic font-weight-bold">directory@aaomi.org</span>
                for support.
              </small>
            </div>

            <div class="form-group text-left mt-4">
              <label for="providerName">Provider Website</label>
              <input type="text" id="providerWebsite" class="form-control" formControlName="website"
                placeholder="https://example.com" [attr.disabled]="isViewMode || null" />
              <small class="form-text text-danger" *ngIf="website.dirty && website.errors?.isValidUrl">Website URL must
                be valid</small>
            </div>
          </div>

          <div>
            <div class="pt-4">
              <img class="rounded-circle logo-img" [src]="imageBuffer" alt="uploaded logo" />
            </div>
            <div class="text-center mt-4">
              <input type="file" id="BtnBrowseHidden" name="files" style="display: none;" formControlName="logo"
                (change)="onSelectFile($event)" [attr.disabled]="isViewMode || null" />
              <label for="BtnBrowseHidden" id="LblBrowse" class="btn btn-sm btn-primary" *ngIf="!isViewMode">
                Upload Logo
              </label>
            </div>
          </div>
        </div>

        <div class="mt-1 d-flex align-items-center">
          <div class="mr-2"><span>Description</span></div>
          <div class="flex-grow-1">
            <hr />
          </div>
        </div>
        <div class="form-group mt-2">
          <div *ngIf="isViewMode" [innerHTML]="editDemographicsForm.value.description | securedHtml"></div>

          <angular-editor id="description" formControlName="description" [config]="editorConfig" *ngIf="!isViewMode">
          </angular-editor>
        </div>

        <div class="mt-1 d-flex align-items-center">
          <div class="mr-2"><span>Social Media</span></div>
          <div class="flex-grow-1">
            <hr />
          </div>
        </div>

        <div class="form-group row mt-2">
          <label for="facebook" class="col-sm-4 col-form-label">Facebook</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="facebook" formControlName="facebook"
              placeholder="https://www.facebook.com" [attr.disabled]="isViewMode || null" />
            <small class="form-text text-danger" *ngIf="facebook.dirty && facebook.errors?.isValidUrl">Facebook URL must
              be valid</small>
          </div>
        </div>

        <div class="form-group row">
          <label for="twitter" class="col-sm-4 col-form-label">Twitter</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="twitter" formControlName="twitter"
              placeholder="https://twitter.com" [attr.disabled]="isViewMode || null" />
            <small class="form-text text-danger" *ngIf="twitter.dirty && twitter.errors?.isValidUrl">Twitter URL must be
              valid</small>
          </div>
        </div>

        <div class="form-group row">
          <label for="linkedin" class="col-sm-4 col-form-label">LinkedIn</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="linkedin" formControlName="linkedin"
              placeholder="https://www.linkedin.com" [attr.disabled]="isViewMode || null" />
            <small class="form-text text-danger" *ngIf="linkedin.dirty && linkedin.errors?.isValidUrl">LinkedIn URL must
              be valid</small>
          </div>
        </div>

        <div class="form-group row">
          <label for="instagram" class="col-sm-4 col-form-label">Instagram</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="instagram" formControlName="instagram"
              placeholder="https://www.instagram.com" [attr.disabled]="isViewMode || null" />
            <small class="form-text text-danger" *ngIf="instagram.dirty && instagram.errors?.isValidUrl">Instagram URL
              must be valid</small>
          </div>
        </div>

        <div class="form-group row">
          <label for="youtube" class="col-sm-4 col-form-label">YouTube</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="youtube" formControlName="youtube"
              placeholder="https://www.youtube.com" [attr.disabled]="isViewMode || null" />
            <small class="form-text text-danger" *ngIf="youtube.dirty && youtube.errors?.isValidUrl">YouTube URL must be
              valid</small>
          </div>
        </div>

        <div *ngIf="isViewMode" class="mt-4 d-flex justify-content-between align-items-center">
          <button class="btn btn-primary" type="button" (click)="isViewMode = false">
            Edit
          </button>

          <button class="btn btn-primary" type="button" (click)="Swal.close()">
            Close
          </button>
        </div>

        <div class="mt-4 d-flex justify-content-between align-items-center" *ngIf="!isViewMode">
          <button class="btn btn-primary" type="button" (click)="isViewMode = true">
            Cancel
          </button>

          <button class="btn btn-primary" [disabled]="hasProviderName || !editDemographicsForm.valid"
            [ngStyle]="{'cursor': (hasProviderName || !editDemographicsForm.valid) ? 'not-allowed' : 'pointer'}">
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #unapprovedDemographicsModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-warning text-light py-2 px-3">
      Unapproved Updated Provider Demographics
    </h4>
    <small>
      <form [formGroup]="unapprovedDemographicsForm" (ngSubmit)="submitEditDemographicsForm()">
        <div class="d-flex justify-content-around align-items-center">
          <div>
            <div class="form-group required text-left mt-4">
              <label for="providerName">Provider Name</label>
              <input type="text" id="providerName" class="form-control" formControlName="providerName"
                [attr.disabled]="true" />
            </div>

            <div class="form-group text-left mt-4">
              <label for="providerName">Provider Website</label>
              <input type="text" id="providerWebsite" class="form-control" formControlName="website"
                [attr.disabled]="true" />
            </div>
          </div>

          <div>
            <div class="pt-4">
              <img class="rounded-circle logo-img" [src]="modifiedImageBuffer" alt="uploaded logo" />
            </div>
            <div class="text-center mt-4">
              <input type="file" id="BtnBrowseHidden" name="files" style="display: none;" formControlName="logo"
                [attr.disabled]="true" />
            </div>
          </div>
        </div>

        <div class="mt-1 d-flex align-items-center">
          <div class="mr-2"><span>Description</span></div>
          <div class="flex-grow-1">
            <hr />
          </div>
        </div>
        <div class="form-group mt-2">
          <div [innerHTML]="unapprovedDemographicsForm.value.description | securedHtml"></div>
        </div>

        <div class="mt-1 d-flex align-items-center">
          <div class="mr-2"><span>Social Media</span></div>
          <div class="flex-grow-1">
            <hr />
          </div>
        </div>

        <div class="form-group row mt-2">
          <label for="facebook" class="col-sm-4 col-form-label">Facebook</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="facebook" formControlName="facebook" [attr.disabled]="true" />
          </div>
        </div>

        <div class="form-group row">
          <label for="twitter" class="col-sm-4 col-form-label">Twitter</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="twitter" formControlName="twitter" [attr.disabled]="true" />
          </div>
        </div>

        <div class="form-group row">
          <label for="linkedin" class="col-sm-4 col-form-label">LinkedIn</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="linkedin" formControlName="linkedin" [attr.disabled]="true" />
          </div>
        </div>

        <div class="form-group row">
          <label for="instagram" class="col-sm-4 col-form-label">Instagram</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="instagram" formControlName="instagram" [attr.disabled]="true" />
          </div>
        </div>

        <div class="form-group row">
          <label for="youtube" class="col-sm-4 col-form-label">YouTube</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" id="youtube" formControlName="youtube" [attr.disabled]="true" />
          </div>
        </div>

        <button class="mt-4 btn btn-primary" type="button" (click)="Swal.close()">
          Close
        </button>
      </form>
    </small>
  </div>
</swal>