<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h3 class="text-center font-weight-bold">Roles</h3>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="w-100 table-wrapper">
      <table class="table">
        <thead class="bg-dark text-light">
          <tr>
            <th scope="col">Role</th>
            <th scope="col">Description</th>
            <th scope="col">Default Group</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let role of roles">
            <td>{{role.roleNameDisplay}}</td>
            <td>{{role.description}}</td>
            <td class="d-flex">
              <span class="mr-2">{{role.groupNameDisplay}}</span>
              <fa-icon
                class="role-edit-icon"
                [icon]="faEdit"
                (click)="editDefaultGroup(role.role, role.defaultGroup)"
              ></fa-icon>
            </td>
          </tr>
        </tbody>
      </table>
      <swal #changeGroupModal [showConfirmButton]="false">
        <div *swalPortal>
          <h4 class="bg-dark text-light py-2 px-3">Change Default Group</h4>
          <small>
            <div class="form-group text-left mt-4">
              <label for="accountGroupSelect">Select Account Group</label>
              <select
                [(ngModel)]="defaultGroupSelected"
                class="form-control form-control-sm"
                id="accountGroupSelect"
              >
                <option
                  [value]="groupName.groupName"
                  *ngFor="let groupName of groupNames"
                  >{{groupName.groupNameDisplay}}</option
                >
              </select>
            </div>
            <div class="mt-4">
              <button class="btn btn-primary" (click)="onSubmit()">Save</button>
            </div>
          </small>
        </div>
      </swal>

      <swal #infoAlert [showConfirmButton]="false">
        <div *swalPortal>
          <small>{{serverMessage}}</small>
        </div>
      </swal>
      <swal #errorAlert [showConfirmButton]="false">
        <div *swalPortal>
          <small>Error when trying to change group</small>
        </div>
      </swal>
    </div>
  </div>
</div>
