<div class="text-light login-form-container">
  <div class="m-4 alert alert-warning text-center">
    <div class="p-2 text-center">
      Internet Explorer or Legacy Edge is not supported by this application. Please use Google Chrome or Firefox for
      best performance.<br />
      Please contact emma.tryson@aaomi.org if you are facing issues or require further information.
      <br />
    </div>
    <div class="m-2">
      <b>Note:</b> Microsoft has announced <i>'End of Life'</i> for Internet Explorer and Edge Legacy. <a
        href="https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666"
        target="_blank">Click here</a> for more details.
    </div>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">
    <div class="form-group">
      <label for="username">Username or Email</label>
      <input formControlName="usernameOrEmail" type="text" class="form-control" id="usernameOrEmail" />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input formControlName="password" type="password" class="form-control" id="password" />
    </div>
    <div class="row mt-4">
      <div class="col-6">
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="rememberMe" value="rememberMe"
              formControlName="rememberMe" />
            <label class="form-check-label text-primary" for="rememberMe">
              Remember me
            </label>
          </div>
        </div>
      </div>
      <div class="col-6 text-right">
        <button type="submit" class="btn btn-primary" id="submit-btn">
          Sign In
        </button>
      </div>
    </div>
    <a routerLink="/forgotpassword">Forgot your password?</a>
    <div class="text-center mt-4">
      <a routerLink="/register" class="text-light">Don't have an account? Sign up</a>
    </div>
    <swal #errorAlert [showConfirmButton]="false">
      <div *swalPortal>
        <small>{{errorMessage}}</small>
      </div>
    </swal>
  </form>
</div>