<h4 class="text-center">New Location</h4>
<div class="my-4 p-2 p-md-4 bg-gradient-primary-500">
  <form [formGroup]="createLocationForm" (ngSubmit)="submitCreateLocation()">
    <div class="form-group row required">
      <label for="locationName" class="col-sm-4 col-form-label"
        >Location Name</label
      >
      <div class="col-sm-8">
        <input
          class="form-control"
          id="locationName"
          formControlName="locationName"
          type="text"
        />
        <small
          class="form-text text-danger"
          *ngIf="locationName.dirty && locationName.errors?.required"
          >Location name is required</small
        >
      </div>
    </div>

    <div>Mailing Address (used for Internal Purposes Only):</div>

    <div class="mt-3 form-field-background pt-3 px-3">
      <div class="row mx-auto justify-content-between no-padding">
        <div class="form-group row required col-12 col-lg-6 no-padding">
          <label for="mailingStreetAddress" class="col-sm-4 col-form-label"
            >Street</label
          >
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              formControlName="mailingStreetAddress"
            />
            <small
              class="form-text text-danger"
              *ngIf="mailingStreetAddress.dirty && mailingStreetAddress.errors?.required"
              >Mailing Street Address is required</small
            >
          </div>
        </div>

        <div class="form-group row required col-12 col-lg-6 no-padding">
          <label for="mailingCity" class="col-sm-4 col-form-label">City</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              id="mailingCity"
              formControlName="mailingCity"
            />
            <small
              class="form-text text-danger"
              *ngIf="mailingCity.dirty && mailingCity.errors?.required"
              >City is required</small
            >
          </div>
        </div>
      </div>

      <div class="row mx-auto justify-content-between no-padding">
        <div class="form-group row required col-12 col-lg-6 no-padding">
          <label for="mailingState" class="col-sm-4 col-form-label"
            >State</label
          >
          <div class="col-sm-8">
            <select
              name="mailingState"
              formControlName="mailingState"
              id="mailingState"
              class="form-control"
            >
              <option
                *ngFor="let stateOption of stateOptions"
                value="{{stateOption}}"
                >{{stateOption}}</option
              >
            </select>
          </div>
        </div>
        <div class="form-group row required col-12 col-lg-6 no-padding">
          <label for="mailingZip" class="col-sm-4 col-form-label">Zip</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              id="mailingZip"
              formControlName="mailingZip"
            />
            <small
              class="form-text text-danger"
              *ngIf="mailingZip.dirty && mailingZip.errors?.required"
              >Zipcode is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="mailingZip.errors?.zipcode"
              >Zipcode must be valid</small
            >
          </div>
        </div>
      </div>
    </div>

    <div class="mt-3">
      <div class="form-group">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="serviceAddress"
            formControlName="serviceAddressSame"
            (change)="markServiceAddressSame()"
          />
          <label class="form-check-label" for="serviceAddress">
            Service Address same as Mailing Address?
          </label>
        </div>
      </div>
    </div>

    <div class="form-field-background pt-3 px-3">
      <div class="row mx-auto justify-content-between no-padding">
        <div class="form-group row col-12 col-lg-6 no-padding">
          <label for="serviceStreetAddress" class="col-sm-4 col-form-label"
            >Street Address</label
          >
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              id="serviceStreetAddress"
              formControlName="serviceStreetAddress"
            />
          </div>
        </div>

        <div class="form-group row col-12 col-lg-6 no-padding">
          <label for="serviceCity" class="col-sm-4 col-form-label">City</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              formControlName="serviceCity"
              type="text"
              id="serviceCity"
            />
          </div>
        </div>
      </div>

      <div class="row mx-auto justify-content-between no-padding">
        <div class="form-group row col-12 col-lg-6 no-padding">
          <label for="serviceState" class="col-sm-4 col-form-label"
            >State</label
          >
          <div class="col-sm-8">
            <select
              name="serviceState"
              formControlName="serviceState"
              id="serviceState"
              class="form-control"
            >
              <option
                *ngFor="let stateOption of stateOptions"
                value="{{stateOption}}"
                >{{stateOption}}</option
              >
            </select>
          </div>
        </div>
        <div class="form-group row col-12 col-lg-6 no-padding">
          <label for="serviceZip" class="col-sm-4 col-form-label">Zip</label>
          <div class="col-sm-8">
            <input
              class="form-control"
              type="text"
              id="serviceZip"
              formControlName="serviceZip"
            />
            <small
              class="form-text text-danger"
              *ngIf="serviceZip.errors?.zipcode"
              >Zipcode must be valid</small
            >
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <span><h6 class="mb-0 font-weight-bold required">Email</h6></span>
      <button
        class="btn btn-sm btn-dark d-flex align-items-center"
        type="button"
        (click)="createEmailModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add Email</span>
      </button>
    </div>

    <div
      *ngIf="emails.length === 0"
      class="mt-3 text-center form-field-background py-2 px-3"
    >
      Please add at least one administrative email for contact
    </div>

    <div
      class="mt-3 d-flex justify-content-between align-items-center form-field-background py-2 px-3"
      *ngFor="let email of emails; let i = index"
    >
      <div>{{email.email}}</div>
      <div>
        {{email.contactType}}
      </div>
      <div>
        <fa-icon
          [icon]="faTrashAlt"
          (click)="deleteEmail($event)"
          [attr.data-emailid]="email.emailId"
          class="delete-item-icon"
        ></fa-icon>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <span><h6 class="mb-0 font-weight-bold required">Phone</h6></span>
      <button
        class="btn btn-sm btn-dark d-flex align-items-center"
        type="button"
        (click)="createContactNumberModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add Contact Number</span>
      </button>
    </div>

    <div
      *ngIf="contactNumbers.length === 0"
      class="mt-3 text-center form-field-background py-2 px-3"
    >
      Please add at least one administrative phone number for contact
    </div>

    <div
      class="mt-3 d-flex justify-content-between align-items-center form-field-background py-2 px-3"
      *ngFor="let contactNumber of contactNumbers; let i = index"
    >
      <div>{{pn(contactNumber.contactNumber)}}</div>
      <div>
        {{contactNumber.contactType}}
      </div>
      <div>
        <fa-icon
          [icon]="faTrashAlt"
          (click)="deleteContactNumber($event)"
          [attr.data-contactnumberid]="contactNumber.contactNumberId"
          class="delete-item-icon"
        ></fa-icon>
      </div>
    </div>

    <div class="d-flex justify-content-between align-items-center mt-4">
      <span
        ><h6 class="mb-0 font-weight-bold required" type="button">
          Service
        </h6></span
      >
      <button
        class="btn btn-sm btn-dark d-flex align-items-center"
        type="button"
        (click)="createServiceModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add Service</span>
      </button>
    </div>

    <div
      *ngIf="services.length === 0"
      class="mt-3 text-center form-field-background py-2 px-3"
    >
      Please add at least one service for this location
    </div>

    <div
      class="mt-3 d-flex justify-content-around align-items-center form-field-background pt-3 px-3"
      *ngFor="let service of services; let i = index"
    >
      <div>
        <div>Service Name: {{service.serviceDisplay}}</div>
        <div>Service Category: {{service.serviceCategory}}</div>
        <div style="margin-top: 1rem;">Service Deliveries:</div>
        <ul>
          <li *ngFor="let serviceDelivery of service.serviceDeliveries">
            {{serviceDelivery.delivery}}
          </li>
        </ul>
      </div>
      <div>
        <div>Insurances Accepted:</div>
        <ul>
          <li *ngFor="let insurance of service.insurances">
            {{insurance.insuranceName}}
          </li>
        </ul>
        <div>Age Groups:</div>
        <ul>
          <li *ngFor="let ageGroup of service.ageGroups">
            {{ageGroup.ageGroupDisplay}}
          </li>
        </ul>
        <div class="text-right">
          <fa-icon
            [icon]="faTrashAlt"
            (click)="deleteService($event)"
            [attr.data-serviceid]="service.serviceId"
            class="delete-item-icon"
          ></fa-icon>
        </div>
      </div>
    </div>

    <div class="mt-4 d-flex align-items-center justify-content-between">
      <div>
        <button
          class="btn btn-sm btn-dark d-flex align-items-center"
          type="button"
          (click)="createServiceCountyModal.fire()"
        >
          <small><fa-icon [icon]="faPlus"></fa-icon></small
          ><span class="ml-1"> Add Service County</span>
        </button>
      </div>

      <div>
        <button
          class="btn btn-primary mr-3"
          type="button"
          (click)="cancelCreateLocationForm()"
        >
          Cancel
        </button>

        <button
          class="btn btn-primary"
          type="submit"
          [tooltip]="locationTooltip"
          placement="right"
          containerClass="tooltip"
          triggers="pointerenter:pointerout"
          [disabled]="!createLocationForm.valid || !hasAdministrativeEmails || ! hasAdministrativeContactNumbers"
          [ngStyle]="{'cursor': (!createLocationForm.valid || !hasAdministrativeEmails || ! hasAdministrativeContactNumbers) ? 'not-allowed' : 'pointer'}"
        >
          Complete
        </button>
      </div>
    </div>
  </form>
</div>

<swal #createEmailModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Email</h4>
    <small>
      <form [formGroup]="createEmailForm" (ngSubmit)="submitCreateEmail()">
        <div class="form-group required text-left mt-4">
          <label for="createEmail">Email</label>
          <input
            type="text"
            id="createEmail"
            class="form-control form-control-sm"
            formControlName="email"
          />
          <small
            class="form-text text-danger"
            *ngIf="email.dirty && email.errors?.required"
            >Email is required</small
          >
          <small class="form-text text-danger" *ngIf="email.errors?.email"
            >Email must be valid</small
          >
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createEmailType">Email Type</label>
          <select
            name="createEmailType"
            id="createEmailType"
            formControlName="contactType"
            class="form-control form-control-sm"
          >
            <option
              *ngFor="let contactTypeOption of contactTypeOptions"
              value="{{contactTypeOption.type}}"
              >{{contactTypeOption.type}}
              ({{contactTypeOption.description}})</option
            >
          </select>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="!createEmailForm.valid"
            [ngStyle]="{'cursor': !createEmailForm.valid ? 'not-allowed' : 'pointer'}"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createContactNumberModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Contact Number</h4>
    <small>
      <form
        [formGroup]="createContactNumberForm"
        (ngSubmit)="submitCreateContactNumber()"
      >
        <div class="form-group required text-left mt-4">
          <label for="createContactNumber">Contact Number</label>
          <input
            type="text"
            id="createContactNumber"
            class="form-control form-control-sm"
            formControlName="contactNumber"
          />
          <small
            class="form-text text-danger"
            *ngIf="contactNumber.dirty && contactNumber.errors?.required"
            >Contact number is required</small
          >
          <small
            class="form-text text-danger"
            *ngIf="contactNumber.errors?.pattern"
            >Contact number must be valid</small
          >
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createContactNumberType">Contact Number Type</label>
          <select
            name="createContactNumberType"
            id="createContactNumberType"
            formControlName="contactType"
            class="form-control form-control-sm"
          >
            <option
              *ngFor="let contactTypeOption of contactTypeOptions"
              value="{{contactTypeOption.type}}"
              >{{contactTypeOption.type}}
              ({{contactTypeOption.description}})</option
            >
          </select>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="!createContactNumberForm.valid"
            [ngStyle]="{'cursor': !createContactNumberForm.valid ? 'not-allowed' : 'pointer'}"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createServiceCountyModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Service Counties</h4>
    <small>
      <form
        [formGroup]="createServiceCountyForm"
        (ngSubmit)="submitCreateServiceCounty()"
      >
        <div class="form-group required text-left mt-4">
          <label for="createServiceCountiesSelect"
            >Select Service Counties</label
          >
          <ng-multiselect-dropdown
            [settings]="countySelectSettings"
            [placeholder]="'  '"
            [data]="michiganCounties"
            formControlName="counties"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="mt-4">
          <span class="text-center font-weight-normal text-danger"
            >Please click on the "Add" button after selecting the Counties in
            order to save.</span
          >
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="!createServiceCountyForm.valid"
            [ngStyle]="{'cursor': !createServiceCountyForm.valid ? 'not-allowed' : 'pointer'}"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #createServiceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Add Service</h4>
    <small>
      <form [formGroup]="createServiceForm" (ngSubmit)="submitCreateService()">
        <div class="form-group required text-left mt-4">
          <label for="createServiceSelect">Select Service</label>
          <select
            name="createServiceSelect"
            id="createServiceSelect"
            formControlName="service"
            class="form-control form-control-sm"
          >
            <ng-container
              *ngFor="let serviceOptionsUnderCategory of serviceOptionsUnderCategories"
            >
              <option class="bg-gradient-primary-500" disabled
                >{{serviceOptionsUnderCategory.category}}
                {{serviceOptionsUnderCategory.catDescription && "(" +
                serviceOptionsUnderCategory.catDescription + ")"}}</option
              >
              <option
                *ngFor="let serviceOption of serviceOptionsUnderCategory.serviceDtos"
                value="{{serviceOption.serviceId}}"
                >&nbsp;&nbsp;&nbsp;&nbsp;{{serviceOption.service}}
                {{serviceOption.description && "(" + serviceOption.description +
                ")"}}</option
              >
            </ng-container>
          </select>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createDeliverySelect">Select Deliveries</label>
          <ng-multiselect-dropdown
            [settings]="deliverySelectSettings"
            [placeholder]="'  '"
            [data]="serviceDeliveryOptions"
            formControlName="serviceDeliveries"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createInsuranceSelect">Select Insurances</label>
          <ng-multiselect-dropdown
            [settings]="insuranceSelectSettings"
            [placeholder]="'  '"
            [data]="insuranceOptions"
            formControlName="insurances"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createAgeGroupSelect">Select Age Groups</label>
          <ng-multiselect-dropdown
            [settings]="ageGroupSelectSettings"
            [placeholder]="'  '"
            [data]="ageGroupOptions"
            formControlName="ageGroups"
          >
          </ng-multiselect-dropdown>
        </div>

        <div class="mt-4">
          <button
            class="btn btn-primary"
            [disabled]="!createServiceForm.valid"
            [ngStyle]="{'cursor': !createServiceForm.valid ? 'not-allowed' : 'pointer'}"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>
<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
