<div class="page-view-container bg-secondary">
	<div class="m-4 alert alert-warning text-center">
			<div class="p-2 text-center">
				Internet Explorer or Legacy Edge is not supported by this application. Please use Google Chrome or Firefox for best performance.<br/>
				Please contact emma.tryson@aaomi.org if you are facing issues or require further information.
					<br/>
		</div>
		<div class="m-2">
			<b>Note:</b> Microsoft has announced <i>'End of Life'</i> for Internet Explorer and Edge Legacy. <a href="https://techcommunity.microsoft.com/t5/microsoft-365-blog/microsoft-365-apps-say-farewell-to-internet-explorer-11-and/ba-p/1591666" target="_blank">Click here</a> for more details.		
		</div>
	</div>

  <div class="register-password-reset-related-container bg-light p-5">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm)">
      <div class="form-group required">
        <label for="role">Sign Up As</label>
        <select formControlName="role" class="form-control" id="role">
          <option value="SERVICE_PROVIDER">Service Provider</option>
        </select>
        <small
          class="form-text text-danger"
          *ngIf="role.dirty && role.errors?.required"
          >Role is required</small
        >
      </div>
      <div class="form-group required">
        <label for="username">Username</label>
        <input
          type="text"
          class="form-control"
          id="username"
          formControlName="username"
          (blur)="checkUsername()"
        />
        <small
          class="form-text text-danger"
          *ngIf="username.dirty && username.errors?.required"
          >Username is required</small
        >
        <small class="form-text text-danger" *ngIf="username.errors?.pattern"
          >Username must contain no special characters or whitespace</small
        >
        <small class="form-text text-danger" *ngIf="username.errors?.maxlength"
          >Username must be 50 characters or less</small
        >
        <small class="form-text text-danger" *ngIf="!usernameAvailable">
          This username is unavailable
        </small>
      </div>
      <div class="form-group required">
        <label for="email">Email</label>
        <input
          type="email"
          class="form-control"
          id="email"
          formControlName="email"
          (blur)="checkEmailAndEnabled()"
        />
        <small
          class="form-text text-danger"
          *ngIf="email.dirty && email.errors?.required"
          >Email is required</small
        >
        <small class="form-text text-danger" *ngIf="email.errors?.email"
          >Email must be valid</small
        >
        <small
          class="form-text text-danger"
          *ngIf="!emailAvailable && !accountEnabled"
          >This email is registered, but has not been verified. Please
          <span *ngIf="resendClicked">resend an email verification</span>
          <a
            *ngIf="!resendClicked"
            routerLink="."
            (click)="resendVerification()"
            >resend an email verification</a
          >
          <div *ngIf="resendClicked">
            <small>{{this.verificationResendConfirmation}}</small>
          </div>
        </small>
        <small
          class="form-text text-danger"
          *ngIf="!emailAvailable && accountEnabled"
          >This email is unavailable</small
        >
      </div>
      <div class="form-group required">
        <label for="password">Password</label>
        <input
          type="password"
          class="form-control"
          id="password"
          formControlName="password"
        />
        <small
          class="form-text text-danger"
          *ngIf="password.dirty && password.errors?.required"
          >Password is required</small
        >
        <small class="form-text text-danger" *ngIf="password.errors?.minlength"
          >Password must be at least 8 characters</small
        >
        <small
          class="form-text text-danger"
          *ngIf="password.dirty && password.errors?.strong"
          >Password must contain at least 1 uppercase letter, 1 lowercase
          letter, 1 digit and no whitespace</small
        >
      </div>
      <div class="form-group required">
        <label for="confirmPassword">Confirm Password</label>
        <input
          type="password"
          class="form-control"
          id="confirmPassword"
          formControlName="confirmPassword"
        />
        <small
          class="form-text text-danger"
          *ngIf="confirmPassword.dirty && !passwordsMatch"
          >Passwords must match</small
        >
      </div>
      <div class="form-group required">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            id="acceptTerms"
            formControlName="acceptTerms"
          />
          <label class="form-check-label" for="acceptTerms">
            I accept all the
            <a
              href="https://autismallianceofmichigan.org/privacy-statementterms-of-use/"
              target="_blank"
              >Terms and Conditions</a
            >
          </label>
          <small
            class="form-text text-danger"
            *ngIf="acceptTerms.touched && acceptTerms.errors?.required"
            >You need to agree to the Terms and Conditions</small
          >
        </div>
      </div>
      <div class="text-right">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="!signUpForm.valid || !passwordsMatch || !usernameAvailable || !emailAvailable"
          [ngStyle]="{'cursor': (!signUpForm.valid || !passwordsMatch || !usernameAvailable || !emailAvailable) ? 'not-allowed' : 'pointer'}"
        >
          Sign Up
        </button>
      </div>
      <div class="text-center mt-4">
        <a routerLink="/login" class="text-dark"
          >Already have an account? Sign in</a
        >
      </div>
      <swal #signupSubmit [showConfirmButton]="false">
        <div *swalPortal>
          <h6>{{registrationMessage}}</h6>
          <hr />
          <div>
            <small>
              If you have not received the email, you can
            </small>
          </div>
          <div class="mt-3">
            <button
              class="btn btn-primary"
              [disabled]="resendClicked"
              (click)="resendVerification()"
              [ngStyle]="{'cursor': resendClicked ? 'not-allowed' : 'pointer'}"
            >
              Resend Email
            </button>
          </div>
          <div *ngIf="resendClicked" class="pt-3">
            <small>{{this.verificationResendConfirmation}}</small>
          </div>
        </div>
      </swal>
      <swal #errorAlert [showConfirmButton]="false">
        <div *swalPortal>
          <small>Error when trying to create your account...</small>
        </div>
      </swal>
    </form>
  </div>
</div>
