<div class="page-view-container">
  <div
    class="register-password-reset-related-container"
    *ngIf="resetEmail && !linkValidMessage"
  >
    <form
      [formGroup]="passwordResetForm"
      (ngSubmit)="onSubmit(passwordResetForm)"
    >
      <div class="form-group required">
        <label for="email">Email</label>
        <input
          formControlName="email"
          type="text"
          class="form-control"
          id="email"
          [ngStyle]="{'cursor': email.disabled ? 'not-allowed' : 'pointer'}"
        />
        <small
          class="form-text text-danger"
          *ngIf="email.dirty && email.errors?.required"
          >Email is required</small
        >
        <small class="form-text text-danger" *ngIf="email.errors?.email"
          >Email must be valid</small
        >
      </div>
      <div class="form-group required">
        <label for="password">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          id="password"
        />
        <small
          class="form-text text-danger"
          *ngIf="password.dirty && password.errors?.required"
          >Password is required</small
        >
        <small class="form-text text-danger" *ngIf="password.errors?.minlength"
          >Password must be at least 8 characters</small
        >
        <small
          class="form-text text-danger"
          *ngIf="password.dirty && password.errors?.strong"
          >Password must contain at least 1 uppercase letter, 1 lowercase
          letter, 1 digit and no whitespace</small
        >
      </div>
      <div class="form-group required">
        <label for="confirmPassword">Confirm Password</label>
        <input
          formControlName="confirmPassword"
          type="password"
          class="form-control"
          id="confirmPassword"
        />
        <small
          class="form-text text-danger"
          *ngIf="confirmPassword.dirty && !passwordsMatch"
          >Passwords must match</small
        >
      </div>
      <div class="text-center mt-4">
        <button
          class="btn btn-primary"
          [disabled]="!passwordResetForm.valid || !passwordsMatch"
          [ngStyle]="{'cursor': (!passwordResetForm.valid || !passwordsMatch) ? 'not-allowed' : 'pointer'}"
          type="submit"
        >
          Reset Account
        </button>
      </div>
      <swal #errorAlert [showConfirmButton]="false">
        <div *swalPortal>
          <small>Error when trying to reset account...</small>
        </div>
      </swal>
      <swal #infoAlert [showConfirmButton]="false">
        <div *swalPortal>
          <div>
            <small>{{serverMessage}}</small>
          </div>
          <div>
            <small class="">Redirecting to login...</small>
          </div>
        </div>
      </swal>
    </form>
  </div>

  <div class="text-center" *ngIf="linkValidMessage">
    <div class="alert alert-danger" role="alert">
      {{linkValidMessage}}
    </div>
  </div>
</div>
