<div class="page-view-container">
  <div class="alert alert-warning" role="alert">
    <h5 class="text-center" [innerHTML]="searchSupportNote | securedHtml"></h5>
  </div>

  <div class="mt-2 px-2 py-2 bg-gradient-primary-500 border border-primary">
    <h4 class="text-center">Search</h4>
    <form [formGroup]="searchProviderForm" (ngSubmit)="submitSearchProvider()">
      <div class="mx-auto row w-100">
        <div class="col-md-6">
          <div class="mt-2 form-group row mb-2">
            <label for="searchProviderName" class="col-sm-4 col-form-label"
              >Provider Name</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="providerName"
                class="form-control"
                formControlName="providerName"
              />
            </div>
          </div>

          <div class="mt-2 form-group row mb-2">
            <label for="searchCountySelect" class="col-sm-4 col-form-label"
              >Counties</label
            >
            <div class="col-sm-8">
              <ng-multiselect-dropdown
                [settings]="countySelectSettings"
                [placeholder]="'  '"
                [data]="countyOptions"
                formControlName="counties"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-2 form-group row mb-2">
            <label for="searchRegionSelect" class="col-sm-4 col-form-label"
              >Regions</label
            >
            <div class="col-sm-8">
              <ng-multiselect-dropdown
                [settings]="regionSelectSettings"
                [placeholder]="'  '"
                [data]="regionOptions"
                formControlName="regions"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-2 form-group row mb-2">
            <label for="searchCategorySelect" class="col-sm-4 col-form-label"
              >Service Categories</label
            >
            <div class="col-sm-8">
              <ng-multiselect-dropdown
                [settings]="categorySelectSettings"
                [placeholder]="'  '"
                [data]="serviceCategoryOptions"
                formControlName="serviceCategories"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-2 form-group row mb-2">
            <label for="searchServiceSelect" class="col-sm-4 col-form-label"
              >Services</label
            >
            <div class="col-sm-8">
              <ng-multiselect-dropdown
                [settings]="serviceSelectSettings"
                [placeholder]="'  '"
                [data]="serviceOptions"
                formControlName="services"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mt-2 form-group row mb-2">
            <label for="searchDeliverySelect" class="col-sm-4 col-form-label"
              >Service Deliveries</label
            >
            <div class="col-sm-8">
              <ng-multiselect-dropdown
                [settings]="deliverySelectSettings"
                [placeholder]="'  '"
                [data]="serviceDeliveryOptions"
                formControlName="serviceDeliveries"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-2 form-group row mb-2">
            <label for="searchInsuranceSelect" class="col-sm-4 col-form-label"
              >Insurances</label
            >
            <div class="col-sm-8">
              <ng-multiselect-dropdown
                [settings]="insuranceSelectSettings"
                [placeholder]="'  '"
                [data]="insuranceOptions"
                formControlName="insurances"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-2 form-group row mb-2">
            <label for="searchAgeGroupSelect" class="col-sm-4 col-form-label"
              >Age Groups</label
            >
            <div class="col-sm-8">
              <ng-multiselect-dropdown
                [settings]="ageGroupSelectSettings"
                [placeholder]="'  '"
                [data]="ageGroupOptions"
                formControlName="ageGroups"
              >
              </ng-multiselect-dropdown>
            </div>
          </div>

          <div class="mt-2 form-group row mb-2">
            <label for="searchKeyword" class="col-sm-4 col-form-label"
              >Keyword</label
            >
            <div class="col-sm-8">
              <input
                type="text"
                id="keyword"
                class="form-control"
                formControlName="keyword"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary search-btn">Search</button>
          <mat-progress-spinner   
          class="mat-center"  
          mode="indeterminate"
          *ngIf="loading"
          color="accent"
          diameter=70
      ></mat-progress-spinner>

      </div>
    </form>
  </div>

  <div class="mt-4 d-md-flex align-items-center justify-content-around">
    <h5 class="mb-0">
      Number of Matching Records: {{totalElements}}
    </h5>
  </div>

  <div class="mt-4" *ngIf="hasInternalAccess">
    <h6 class="mb-0 font-weight-bold" *ngIf="hasInternalAccess">
      You can create reports based on existing search results:
    </h6>

    <div class="d-flex mt-2">
      <button
        class="btn btn-sm btn-dark"
        type="button"
        (click)="generateContactReport()"
      >
        Generate Provider Contact Report
      </button>

      <div
        class="ml-2 text-dark"
        *ngIf="contactReportRequested && !contactReportFetched"
      >
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <a
        *ngIf="contactReportFetched"
        class="ml-2 btn btn-sm btn-info crop-text"
        [href]="sanitize(contactReportData.reportFile)"
        target="_blank"
        download="{{contactReportName}}"
      >
        Download {{contactReportName}}
      </a>
    </div>

    <div class="d-flex mt-2">
      <button
        class="btn btn-sm btn-dark"
        type="button"
        (click)="generateStandaloneReport()"
      >
        Generate Standalone Provider Report
      </button>

      <div
        class="ml-2 text-dark"
        *ngIf="standaloneReportRequested && !standaloneReportFetched"
      >
        <div class="spinner-border spinner-border-sm" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <a
        *ngIf="standaloneReportFetched"
        class="ml-2 btn btn-sm btn-info crop-text"
        [href]="sanitize(standaloneReportData.reportFile)"
        target="_blank"
        download="{{standaloneReportName}}"
      >
        Download {{standaloneReportName}}
      </a>
    </div>

    <button
      *ngIf="providerReportRecords.length > 0"
      class="mt-2 btn btn-sm btn-info"
      type="button"
      (click)="providerReportView.fire()"
    >
      View/Create Customized Resource List
    </button>
  </div>

  <div class="mt-4 pb-4 px-4 bg-gradient-dark border border-secondary">
    <div
      class="mt-4 p-3 bg-gradient-light text-center"
      *ngIf="providerInfos.length === 0"
    >
      No Results
    </div>
    <div
      class="mt-4 p-3 bg-gradient-light"
      *ngFor="let providerInfo of providerInfos"
    >
      <div class="text-right">
        <button
          class="btn btn-info btn-sm mb-2"
          type="button"
          (click)="addToReport(providerInfo)"
          *ngIf="!reported(providerInfo.suitableLocationId) && hasInternalAccess"
        >
          Add to Report
        </button>

        <button
          class="btn btn-warning btn-sm mb-2"
          type="button"
          (click)="removeFromReport(providerInfo.suitableLocationId)"
          *ngIf="reported(providerInfo.suitableLocationId) && hasInternalAccess"
        >
          Remove from Report
        </button>
      </div>

      <div class="d-md-flex align-items-center">
        <img
          *ngIf="providerInfo.logo"
          class="search-provider-logo"
          [src]="providerInfo.logo"
          class="logo-img-small rounded-circle"
          alt="provider logo"
        />
        <span class="h5 mb-0 ml-3">
          {{providerInfo.providerName}} (Location:
          {{providerInfo.locationName}})
        </span>
        <span class="ml-3 show-view-alert">
          <fa-icon
            [icon]="faEye"
            (click)="viewSpecificLocation($event)"
            [attr.data-locationid]="providerInfo.suitableLocationId"
            class="open-view-icon"
          ></fa-icon>
        </span>
      </div>

      <div class="mt-3 d-md-flex align-items-center">
        <div class="ml-5">
          <div *ngIf="providerInfo.address">
            Address:
            <a
              href="https://www.google.com/maps/place/{{providerInfo.address}}"
              target="_blank"
              >{{providerInfo.address}}</a
            >
          </div>
          <div *ngIf="providerInfo.website">
            Website:
            <a href="{{providerInfo.website}}" target="_blank"
              >{{providerInfo.website}}</a
            >
          </div>
        </div>
        <div class="ml-5">
          <div *ngIf="providerInfo.contactNumber">
            Contact Number: {{pn(providerInfo.contactNumber)}}
          </div>
          <div *ngIf="providerInfo.email">
            Email:
            <a href="mailto:{{providerInfo.email}}">{{providerInfo.email}}</a>
          </div>
        </div>
        <div class="ml-5">
          <div *ngIf="providerInfo.facebook">
            Facebook:
            <a href="{{providerInfo.facebook}}" target="_blank"
              >{{providerInfo.facebook}}</a
            >
          </div>
          <div *ngIf="providerInfo.linkedin">
            LinkedIn:
            <a href="{{providerInfo.linkedin}}" target="_blank"
              >{{providerInfo.linkedin}}</a
            >
          </div>
          <div *ngIf="providerInfo.twitter">
            Twitter:
            <a href="{{providerInfo.twitter}}" target="_blank"
              >{{providerInfo.twitter}}</a
            >
          </div>
          <div *ngIf="providerInfo.instagram">
            Instagram:
            <a href="{{providerInfo.instagram}}" target="_blank"
              >{{providerInfo.instagram}}</a
            >
          </div>
          <div *ngIf="providerInfo.youtube">
            YouTube:
            <a href="{{providerInfo.youtube}}" target="_blank"
              >{{providerInfo.youtube}}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 w-100 d-flex justify-content-center">
    <pagination
      [totalItems]="totalElements"
      [itemsPerPage]="pageSize"
      (pageChanged)="pageChanged($event)"
      [maxSize]="10"
      [boundaryLinks]="true"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    ></pagination>
  </div>
</div>

<swal
  #providerReportView
  [showConfirmButton]="false"
  [showCloseButton]="true"
  width="90vw"
>
  <div *swalPortal>
    <div
      *ngIf="providerReportRecords.length > 0"
      id="customized-resource-list"
      class="text-left"
    >
      <h4 class="text-center font-weight-bold mt-3">
        <img
          src="../../../assets/images/navbar-brand.png"
          alt="logo"
          width="150"
        />
        MiNavigator Program - Customized Resource List
      </h4>

      <div class="input-group mt-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="navigator-name"
            >Navigator Name</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Navigator Name"
          aria-describedby="navigator-name"
        />
      </div>

      <br />

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="navigator-contact"
            >Navigator Contact Information</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Navigator Contact"
          aria-describedby="navigator-contact"
        />
      </div>

      <br />

      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="family-contact"
            >Family Contact Name</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          aria-label="Family Contact Name"
          aria-describedby="famiuly-contact"
        />
      </div>

      <br />
      <br />
      <br />

      <div class="p-3" *ngFor="let providerInfo of providerReportRecords">
        <div>
          <span class="h5 mb-0">
            <strong>
              {{providerInfo.providerName}} (Location:
              {{providerInfo.locationName}})</strong
            >
          </span>
        </div>

        <br />

        <div>
          <div *ngIf="providerInfo.address">
            Address:
            <a
              href="https://www.google.com/maps/place/{{providerInfo.address}}"
              target="_blank"
              >{{providerInfo.address}}</a
            >
          </div>
          <div *ngIf="providerInfo.website">
            Website:
            <a href="{{providerInfo.website}}" target="_blank"
              >{{providerInfo.website}}</a
            >
          </div>
        </div>

        <div>
          <div *ngIf="providerInfo.contactNumber">
            Contact Number: {{pn(providerInfo.contactNumber)}}
          </div>
          <div *ngIf="providerInfo.email">
            Email:
            <a href="mailto:{{providerInfo.email}}">{{providerInfo.email}}</a>
          </div>
        </div>

        <div>
          <div *ngIf="providerInfo.facebook">
            Facebook:
            <a href="{{providerInfo.facebook}}" target="_blank"
              >{{providerInfo.facebook}}</a
            >
          </div>
          <div *ngIf="providerInfo.linkedin">
            LinkedIn:
            <a href="{{providerInfo.linkedin}}" target="_blank"
              >{{providerInfo.linkedin}}</a
            >
          </div>
          <div *ngIf="providerInfo.twitter">
            Twitter:
            <a href="{{providerInfo.twitter}}" target="_blank"
              >{{providerInfo.twitter}}</a
            >
          </div>
          <div *ngIf="providerInfo.instagram">
            Instagram:
            <a href="{{providerInfo.instagram}}" target="_blank"
              >{{providerInfo.instagram}}</a
            >
          </div>
          <div *ngIf="providerInfo.youtube">
            YouTube:
            <a href="{{providerInfo.youtube}}" target="_blank"
              >{{providerInfo.youtube}}</a
            >
          </div>
        </div>

        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Note</span>
          </div>
          <textarea class="form-control" aria-label="Note"></textarea>
        </div>
      </div>

      <br />
      <br />

      <div [innerHTML]="disclaimer | securedHtml"></div>
    </div>

    <button class="mt-4 btn btn-primary" type="button" (click)="printReport()">
      Create Report
    </button>
  </div>
</swal>
