@import "../../../variables.scss";

.show-view-alert:hover::after {
  content: " View this location";
  color: $app-primary;
}

.mat-center {
  margin: auto;
  width: 50%;
  padding: 10px;
  position: relative
}

.search-btn {
  padding-bottom: 10px;
}