<div class="form-group text-right" *ngIf="hasCreatePermission">
  <input
    type="file"
    id="BtnBrowseHidden"
    name="files"
    style="display: none;"
    (change)="onSelectFile($event)"
  />
  <label
    for="BtnBrowseHidden"
    id="LblBrowse"
    class="ml-auto mb-0 btn btn-primary"
  >
    Upload File
  </label>
</div>

<div class="w-100 table-wrapper">
  <table class="table">
    <thead class="bg-gradient-primary-500">
      <tr>
        <th scope="col">File Name</th>
        <th scope="col">Uploaded At</th>
        <th scope="col">Author</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let file of files" class="bg-gradient-light">
        <td>{{file.fileName}}</td>
        <td>{{moment(file.createdAt).format("llll")}}</td>
        <td>{{file.author}}</td>
        <td>
          <div class="d-flex">
            <div class="mr-4">
              <a
                class="ml-2 crop-text"
                [href]="sanitize(file.file)"
                target="_blank"
                download="{{file.fileName}}"
              >
                <fa-icon
                  [icon]="faDownload"
                  class="download-file-icon"
                ></fa-icon>
              </a>
            </div>
            <div *ngIf="hasDeletePermission">
              <fa-icon
                [icon]="faTrashAlt"
                (click)="deleteProviderFile($event)"
                [attr.data-providerfileid]="file.providerFileId"
                class="delete-item-icon"
              ></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="text-center" *ngIf="files.length === 0">
    <p>There are currently no files...</p>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this file?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancelDelete()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
