@import "../../../variables.scss";

.crop-text {
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

td {
  min-width: 150px !important;
  max-width: 250px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-file-icon {
  color: black;

  &:hover {
    color: $app-primary;
  }
}
