<div class="d-md-flex justify-content-between">
  <div>
    <label for="group-search">Search</label>
    <form [formGroup]="filterNotesForm" class="form-inline" (ngSubmit)="filterNotes()">
      <select id="selectSourceSearch" class="form-control mr-sm-2" formControlName="source">
        <option value="{{note.source}}" *ngFor="let note of noteSources">{{note.type}}: {{note.source}}</option>
      </select>
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
        <fa-icon [icon]="faSearch"></fa-icon>
      </button>
      <button class="btn btn-outline-secondary ml-2 my-2 my-sm-0" type="button" (click)="cancelFilter()">
        <fa-icon [icon]="faTimes"></fa-icon>
      </button>
    </form>
  </div>

  <div>
    <button class="btn btn-primary" type="button" (click)="createNoteModal.fire()">
      Add Note
    </button>
  </div>
</div>

<div class="mt-4 mb-4 text-center" *ngIf="filteredNotes.length === 0">
  There is currently no note...
</div>

<div class="mt-4 mb-4" *ngFor="let note of filteredNotes">
  <div class="p-1 px-md-4 py-md-3 bg-gradient-primary-500 border border-bottom-0 rounded-top border-dark">
    <div class="d-flex align-items-center justify-content-between">
      <h6 class="mb-0 font-weight-bold">{{note.title}}</h6>
      <div class="font-weight-bold">{{note.source}}</div>
      <div>
        <fa-icon [icon]="faEdit" (click)="editNote($event)" [attr.data-noteid]="note.noteId" class="edit-note-icon">
        </fa-icon>
        <fa-icon [icon]="faTrashAlt" (click)="deleteNote($event)" [attr.data-noteid]="note.noteId"
          class="delete-item-icon"></fa-icon>
      </div>
    </div>

    <div class="mt-3 w-md-75 note-content-wrapper">{{note.note}}</div>
  </div>
  <div
    class="p-1 px-md-4 py-md-2 bg-gradient-dark text-light d-flex align-items-center justify-content-between rounded-bottom">
    <div>{{note.author}}</div>
    <div>{{moment(note.createdAt).format("llll")}}</div>
  </div>
</div>

<swal #createNoteModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">New Note</h4>
    <small>
      <form [formGroup]="createNoteForm" (ngSubmit)="createNote()">
        <div class="form-group required text-left mt-4">
          <label for="selectNoteLinkIdType">Select Note Type</label>
          <select id="selectNoteLinkIdType" class="form-control form-control-sm" formControlName="noteLinkIdType">
            <option value="{{noteOption.noteType}}^%$%^{{noteOption.noteLinkId}}"
              *ngFor="let noteOption of noteOptions">{{noteOption.noteType}}: {{noteOption.source}}</option>
          </select>
          <small class="form-text text-danger" *ngIf="noteLinkIdType.dirty && noteLinkIdType.errors?.required">Note type
            is required
          </small>
        </div>
        <div class="form-group text-left mt-4">
          <label for="title">Title</label>
          <input class="form-control" type="text" formControlName="title" id="title" />
          <small class="form-text text-danger" *ngIf="title.dirty && title.errors?.required">Title is
            required</small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createNote">Note</label>
          <textarea type="text" id="createNote" class="form-control form-control-sm" formControlName="note"
            rows="5"></textarea>
          <small class="form-text text-danger" *ngIf="note.dirty && note.errors?.required">Note is
            required</small>
        </div>

        <div class="mt-4">
          <button [disabled]="!createNoteForm.valid"
            [ngStyle]="{'cursor': !createNoteForm.valid ? 'not-allowed' : 'pointer'}" class="btn btn-primary"
            type="submit">
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editNoteModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Note</h4>
    <small>
      <form [formGroup]="editNoteForm" (ngSubmit)="revisedNote()">
        <div class="form-group text-left mt-4">
          <label for="editNoteTitle">Title</label>
          <input type="text" id="editNoteTitle" class="form-control form-control-sm" formControlName="title" />
          <small class="form-text text-danger" *ngIf="f.title.invalid">Please enter note title
          </small>
        </div>

        <div class="form-group text-left mt-4">
          <label for="editNote">Note</label>
          <input type="text" id="editNote" class="form-control form-control-sm" formControlName="note" />
<small class="form-text text-danger" *ngIf="f.note.invalid">Please enter note text
</small>
        </div>

        <div class="row mt-4">
          <div class="col-12 col-md-6 text-center">
            <button [ngStyle]="{'cursor': 'pointer'}" class="btn btn-primary" [disabled]="!editNoteForm.valid" type="submit">
              Save Note
            </button>
          </div>
          <div class="col-12 col-md-6 text-center">
            <button [ngStyle]="{'cursor': 'pointer'}" class="btn btn-danger" type="button" (click)="cancelEdit()">
              Cancel
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>


<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this note?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancelDelete()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>