<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h3 class="text-center font-weight-bold">
    Users
  </h3>
  <div class="container-fluid mt-4 pt-3 contrast-img-bg">
    <div>
      <div class="d-md-flex justify-content-between">
        <div>
          <label for="group-search">Search</label>
          <form
            [formGroup]="searchUsersForm"
            class="form-inline"
            (ngSubmit)="searchUsers(searchUsersForm)"
          >
            <input
              class="form-control mr-sm-2"
              id="user-username-search"
              type="search"
              placeholder="Username"
              aria-label="Search"
              formControlName="username"
              (search)="searchUsers(searchUsersForm)"
            />
            <input
              class="form-control mr-sm-2"
              id="user-group-search"
              type="search"
              placeholder="Group"
              aria-label="Search"
              formControlName="accountGroup"
              (search)="searchUsers(searchUsersForm)"
            />
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </form>
        </div>
        <div>
          <button
            class="btn btn-primary d-flex align-items-center"
            (click)="createUserModal.fire()"
          >
            <small><fa-icon [icon]="faPlus"></fa-icon></small
            ><span class="ml-1"> Create New User</span>
          </button>
        </div>
      </div>
    </div>

    <div class="w-100 table-wrapper">
      <table class="table mt-4">
        <thead class="bg-secondary">
          <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Groups</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usersDisplay">
            <th scope="row">
              <img
                [src]="user.image"
                class="rounded-circle profile-img-small"
                alt="User Profile Image"
              />
            </th>
            <td>{{user.firstName}} {{user.lastName}}</td>
            <td>{{user.username}}</td>
            <td><a href="mailto:{{user.email}}">{{user.email}}</a></td>
            <td class="group-td">
              <div *ngFor="let group of user.groupsDisplay; let i = index">
                <a routerLink="/admin/group/{{user.groups[i]}}">{{group}}</a>
              </div>
              <div
                *ngFor="let defaultGroup of user.defaultGroupsDisplay; let i = index"
              >
                <a
                  routerLink="/admin/group/{{user.defaultGroups[i]}}"
                  class="mr-2"
                  >{{defaultGroup}}</a
                >
                <fa-icon
                  [icon]="faExclamationCircle"
                  class="text-warning warn-group"
                ></fa-icon>
              </div>
            </td>
            <td>
              <div class="d-flex">
                <div class="mr-4">
                  <fa-icon
                    [icon]="faEye"
                    (click)="openUserView($event)"
                    [attr.data-username]="user.username"
                    class="open-view-icon"
                  ></fa-icon>
                </div>
                <div *ngIf="!user.enabled && user.groups.length === 0">
                  <fa-icon
                    [icon]="faTrashAlt"
                    (click)="deleteUser($event)"
                    [attr.data-username]="user.username"
                    class="delete-item-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="mt-4 w-100 d-flex justify-content-center">
      <pagination
        [totalItems]="totalElements"
        [itemsPerPage]="pageSize"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        [boundaryLinks]="true"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></pagination>
    </div>
  </div>

  <swal #infoAlert [showConfirmButton]="false">
    <div *swalPortal>
      <small>{{serverMessage}}</small>
    </div>
  </swal>
  <swal #errorAlert [showConfirmButton]="false">
    <div *swalPortal>
      <small>{{errorMessage}}</small>
    </div>
  </swal>

  <swal #createUserModal [showConfirmButton]="false">
    <div *swalPortal>
      <h4 class="bg-dark text-light py-2 px-3 mb-4">New User</h4>
      <small>
        <form
          [formGroup]="createUserForm"
          (ngSubmit)="onSubmit(createUserForm)"
          class="text-left"
        >
          <div class="form-group required">
            <label for="username">Username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              formControlName="username"
              (blur)="checkUsername()"
            />
            <small
              class="form-text text-danger"
              *ngIf="username.dirty && username.errors?.required"
              >Username is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="username.errors?.pattern"
              >Username must contain no special characters or whitespace</small
            >
            <small
              class="form-text text-danger"
              *ngIf="username.errors?.maxlength"
              >Username must be 50 characters or less</small
            >
            <small class="form-text text-danger" *ngIf="!usernameAvailable">
              This username is unavailable
            </small>
          </div>
          <div class="form-group required">
            <label for="email">Email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              formControlName="email"
              (blur)="checkEmailAndEnabled()"
            />
            <small
              class="form-text text-danger"
              *ngIf="email.dirty && email.errors?.required"
              >Email is required</small
            >
            <small class="form-text text-danger" *ngIf="email.errors?.email"
              >Email must be valid</small
            >
            <small class="form-text text-danger" *ngIf="!emailAvailable"
              >This email is unavailable</small
            >
          </div>
          <div class="form-group required">
            <label for="password">Password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
            <small
              class="form-text text-danger"
              *ngIf="password.dirty && password.errors?.required"
              >Password is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="password.errors?.minlength"
              >Password must be at least 8 characters</small
            >
            <small
              class="form-text text-danger"
              *ngIf="password.dirty && password.errors?.strong"
              >Password must contain at least 1 uppercase letter, 1 lowercase
              letter, 1 digit and no whitespace</small
            >
          </div>
          <div class="form-group required">
            <label for="confirmPassword">Confirm Password</label>
            <input
              type="password"
              class="form-control"
              id="confirmPassword"
              formControlName="confirmPassword"
            />
            <small
              class="form-text text-danger"
              *ngIf="confirmPassword.dirty && !passwordsMatch"
              >Passwords must match</small
            >
          </div>
          <div class="d-flex mt-4 justify-content-between">
            <div>
              <button
                class="btn btn-sm btn-primary"
                type="button"
                (click)="cancelCreate()"
              >
                Cancel
              </button>
            </div>
            <div>
              <button
                type="submit"
                class="btn btn-sm btn-primary"
                [disabled]="!createUserForm.valid || !passwordsMatch || !usernameAvailable || !emailAvailable"
                [ngStyle]="{'cursor': (!createUserForm.valid || !passwordsMatch || !usernameAvailable || !emailAvailable) ? 'not-allowed' : 'pointer'}"
              >
                Create User
              </button>
            </div>
          </div>
        </form>
      </small>
    </div>
  </swal>

  <swal #confirmDeleteAlert [showConfirmButton]="false">
    <div *swalPortal>
      <h6>Are you sure you want to delete this user?</h6>
      <div class="row mt-4">
        <div class="col-12 col-md-6 text-center">
          <button class="btn btn-sm btn-primary" (click)="cancelDelete()">
            Cancel
          </button>
        </div>
        <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
          <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
            Delete
          </button>
        </div>
      </div>
    </div>
  </swal>
</div>
