td {
  min-width: 260px !important;
  vertical-align: middle;
}

td.group-td {
  min-width: 300px !important;
}

.warn-group {
  cursor: pointer;

  &:hover::after,
  &:active::after,
  &:focus::after {
    content: " Not Approved";
  }
}
