<div class="d-md-flex justify-content-between">
  <div *ngIf="canAddEvent">
    <button
      class="btn btn-primary"
      type="button"
      (click)="createEventModal.fire()"
    >
      Add Event
    </button>
  </div>
</div>

<div class="w-100 table-wrapper mt-4">
  <table class="table">
    <thead class="bg-gradient-primary-500 text-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date and Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of filteredEvents">
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td class="date">{{moment(event.startDate).format("llll")}}</td>
        <td>
          <div class="d-flex">
            <div class="mr-4">
              <fa-icon
                [icon]="faEye"
                (click)="openEventView($event)"
                [attr.data-eventid]="event.eventId"
                class="open-view-icon"
              ></fa-icon>
            </div>
            <div>
              <fa-icon
                *ngIf="canModifyEvent(event)"
                [icon]="faTrashAlt"
                (click)="deleteEvent($event)"
                [attr.data-eventid]="event.eventId"
                class="delete-item-icon"
              ></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4 mb-4 text-center" *ngIf="filteredEvents.length === 0">
    There are currently no events...
  </div>
</div>

<swal #createEventModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">New Event</h4>
    <small>
      <form [formGroup]="createEventForm" (ngSubmit)="createEvent()">
        <div class="form-group required text-left mt-4">
          <label for="title">Title</label>
          <input
            class="form-control"
            type="text"
            formControlName="title"
            id="title"
          />
          <small
            class="form-text text-danger"
            *ngIf="title.dirty && title.errors?.required"
            >Title is required</small
          >
        </div>

        <div class="form-group text-left mt-4">
          <label for="description">Description</label>
          <textarea
            type="text"
            id="description"
            class="form-control form-control-sm"
            formControlName="description"
            rows="5"
          ></textarea>
        </div>

        <div class="form-group text-left mt-4">
          <label for="website">Event Website</label>
          <input class="form-control" type="text" formControlName="website" id="website" />
          <small
            class="form-text text-danger"
            *ngIf="website.dirty && website.errors?.isValidUrl"
            >Website must be a valid url</small
          >
        </div>

        <div class="form-row align-items-center mt-4">
          <div class="col-sm-4 form-group required text-left">
            <label for="cost">Event Cost</label>
            <input
              class="form-control"
              type="text"
              formControlName="cost"
              id="cost"
            />
            <small
              class="form-text text-danger"
              *ngIf="cost.dirty && cost.errors?.required"
              >Cost is required</small
            >
          </div>
          <div class="col-auto mt-4">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                formControlName="free"
                id="free"
              />
              <label class="form-check-label my-1" for="free">Free Event</label>
            </div>
          </div>
        </div>

        <div class="form-group text-left mt-4">
          <div class="text-left mt-4">
            <label for="BtnBrowseHidden" id="LblBrowse">
              Event Image
            </label>
            <input
              type="file"
              class="form-control-file"
              id="BtnBrowseHidden"
              name="files"
              formControlName="image"
              (change)="onSelectFile($event)"
            />
          </div>
        </div>

        <div class="form-row align-items-center mt-2">
          <div class="col-sm form-group required text-left">
            <label for="startDate">Start</label>
            <input type="text"
                    placeholder="Start Date"
                    id="startDate"
                    class="form-control"
                    bsDatepicker
                    formControlName="startDate"
                    [bsConfig]="{ adaptivePosition: true }">
            <small
              class="form-text text-danger"
              *ngIf="startDate.dirty && startDate.errors?.required"
              >Start Date is required</small>
          </div>
          <div class="col-sm mt-2">
            <timepicker formControlName="startTime"></timepicker>
          </div>
        </div>

        <div class="form-row align-items-center mt-2">
          <div class="col-sm form-group required text-left">
            <label for="endDate">End</label>
            <input type="text"
                    placeholder="End Date"
                    id="endDate"
                    class="form-control"
                    bsDatepicker
                    formControlName="endDate"
                    [bsConfig]="{ adaptivePosition: true }">
            <small
              class="form-text text-danger"
              *ngIf="endDate.dirty && endDate.errors?.required"
              >End Date is required</small>
          </div>
          <div class="col-sm mt-2">
            <timepicker formControlName="endTime"></timepicker>
          </div>
        </div>

        <div class="mt-4">
          <button
            [disabled]="!createEventForm.valid"
            [ngStyle]="{'cursor': !createEventForm.valid ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDeleteAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this event?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancelDelete()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
