<div class="page-view-container img-bg">
  <div class="container-fluid mt-4 contrast-img-bg p-2 p-md-4">
    <form [formGroup]="updateEventForm" (ngSubmit)="updateEvent()">
      <div class="form-group required text-left mt-4">
        <label for="title">Event Title</label>
        <input
          class="form-control"
          type="text"
          formControlName="title"
          id="title"
          [attr.disabled]="canModifyEvent ? null : ''"
        />
        <small
          class="form-text text-danger"
          *ngIf="title.dirty && title.errors?.required"
          >Title is required</small
        >
      </div>

      <div class="form-group text-left mt-4">
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          class="form-control form-control-sm"
          formControlName="description"
          rows="5"
          [attr.disabled]="canModifyEvent ? null : ''"
        ></textarea>
      </div>

      <div class="form-group text-left mt-4">
        <label for="website">Event Website</label>
        <input
          class="form-control"
          type="text"
          formControlName="website"
          id="website"
          [attr.disabled]="canModifyEvent ? null : ''"
        />
      </div>

      <div class="form-row align-items-center mt-4">
        <div class="col-sm-4 form-group required text-left">
          <label for="cost">Event Cost</label>
          <input
            class="form-control"
            type="text"
            formControlName="cost"
            id="cost"
            [attr.disabled]="canModifyEvent ? null : ''"
            />
          <small
            class="form-text text-danger"
            *ngIf="cost.dirty && cost.errors?.required"
            >Cost is required</small
          >
        </div>
        <div class="col-auto mt-4">
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              formControlName="free"
              id="free"
              [attr.disabled]="canModifyEvent ? null : ''"
              />
            <label class="form-check-label my-1" for="free">Free Event</label>
          </div>
        </div>
      </div>

      <div class="form-group text-left mt-4">
        <div class="text-left mt-4">
          <label for="BtnBrowseHidden" id="LblBrowse">
            Event Image
          </label>
          <input
            type="file"
            class="form-control-file"
            id="BtnBrowseHidden"
            name="files"
            formControlName="image"
            (change)="onSelectFile($event)"
            [attr.disabled]="canModifyEvent ? null : ''"
            />
          <img *ngIf="imageBuffer" [src]="imageBuffer" alt="uploaded image" />
        </div>
      </div>

      <div class="form-row align-items-center mt-2">
        <div class="col-sm form-group required text-left">
          <label for="startDate">Start</label>
          <input type="text"
                  placeholder="Start Date"
                  id="startDate"
                  class="form-control"
                  bsDatepicker
                  formControlName="startDate"
                  [attr.disabled]="canModifyEvent ? null : ''"
                  [bsConfig]="{ adaptivePosition: true }">
          <small
            class="form-text text-danger"
            *ngIf="startDate.dirty && startDate.errors?.required"
            >Start Date is required</small>
        </div>
        <div class="col-sm mt-2">
          <timepicker formControlName="startTime" [disabled]="!canModifyEvent"></timepicker>
        </div>
      </div>

      <div class="form-row align-items-center mt-2">
        <div class="col-sm form-group required text-left">
          <label for="endDate">End</label>
          <input type="text"
                  placeholder="End Date"
                  id="endDate"
                  class="form-control"
                  bsDatepicker
                  formControlName="endDate"
                  [attr.disabled]="canModifyEvent ? null : ''"
                  [bsConfig]="{ adaptivePosition: true }">
          <small
            class="form-text text-danger"
            *ngIf="endDate.dirty && endDate.errors?.required"
            >End Date is required</small>
        </div>
        <div class="col-sm mt-2">
          <timepicker formControlName="endTime" [disabled]="!canModifyEvent"></timepicker>
        </div>
      </div>

      <div class="form-group text-left mt-4">
          <label for="organizer">Organizer</label>
          <input type="text"
            placeholder="Organizer"
            id="organizer"
            class="form-control"
            formControlName="organizer"
          >
      </div>

      <div *ngIf="canModifyEvent" class="mt-4">
        <button
          [disabled]="!updateEventForm.valid"
          [ngStyle]="{'cursor': !updateEventForm.valid ? 'not-allowed' : 'pointer'}"
          class="btn btn-primary"
          type="submit"
        >
          Update
        </button>
      </div>
    </form>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>
