<div class="w-100 table-wrapper mt-4">
  <table class="table">
    <thead class="bg-gradient-primary-500 text-dark">
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Start Date and Time</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.title}}</td>
        <td>{{event.description}}</td>
        <td class="date">{{moment(event.startDate).format("llll")}}</td>
        <td>
          <div class="d-flex">
            <div class="mr-4">
              <fa-icon
                [icon]="faEye"
                (click)="openEventView($event)"
                [attr.data-eventid]="event.eventId"
                class="open-view-icon"
              ></fa-icon>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="mt-4 mb-4 text-center" *ngIf="events.length === 0">
    There are currently no events...
  </div>
</div>
