<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="container-fluid mt-4 contrast-img-bg py-4">
    <div class="d-flex justify-content-between align-items-center">
      <span><h5 class="mb-0 font-weight-bold">Services</h5></span>
      <button
        class="btn btn-primary d-flex align-items-center"
        (click)="createServiceModal.fire()"
      >
        <small><fa-icon [icon]="faPlus"></fa-icon></small
        ><span class="ml-1"> Add New Service</span>
      </button>
    </div>

    <div class="mt-4 text-center" *ngIf="categoryServicesDtos.length === 0">
      There are currently no services
    </div>

    <div class="mt-4" *ngFor="let categoryServicesDto of categoryServicesDtos">
      <div class="bg-gradient-primary-500 px-3 py-2">
        {{categoryServicesDto.category}}
      </div>
      <div class="mt-2 px-3 px-md-4 px-lg-5">
        <div
          class="d-flex justify-content-between mt-1"
          *ngFor="let serviceDto of categoryServicesDto.serviceDtos"
        >
          <span
            >{{serviceDto.service}}
            <span
              *ngIf="serviceDto.description"
              [tooltip]="serviceDto.description"
              placement="right"
              containerClass="tooltip"
              class="ml-1"
            >
              <fa-icon [icon]="faInfoCircle" class="show-info-icon"></fa-icon>
            </span>
          </span>
          <span *ngIf="serviceDto.internal">Internal Only</span>
          <div class="d-flex">
            <span class="mr-4" *ngIf="serviceDto.deletable">
              <fa-icon
                [icon]="faTrashAlt"
                [attr.data-serviceid]="serviceDto.serviceId"
                (click)="deleteService($event)"
                class="delete-item-icon"
              ></fa-icon>
            </span>
            <span>
              <fa-icon
                [icon]="faEdit"
                [attr.data-serviceid]="serviceDto.serviceId"
                [attr.data-servicecategory]="categoryServicesDto.category"
                [attr.data-servicename]="serviceDto.service"
                [attr.data-description]="serviceDto.description"
                [attr.data-internal]="serviceDto.internal"
                (click)="editServiceFire($event)"
                class="edit-view-icon"
              ></fa-icon>
            </span>
          </div>
        </div>
        <div class="mt-1" *ngIf="categoryServicesDto.serviceDtos.length === 0">
          There is currently no service under this category
        </div>
      </div>
    </div>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #createServiceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">New Service</h4>
    <small>
      <form [formGroup]="createServiceForm" (ngSubmit)="createServiceSubmit()">
        <div class="form-group required text-left mt-4">
          <label for="selectServiceCategory">Select Category</label>
          <select
            id="selectServiceCategory"
            class="form-control form-control-sm"
            formControlName="category"
          >
            <option
              [value]="category.serviceCategory"
              *ngFor="let category of serviceCategories"
              >{{category.serviceCategory}}</option
            >
          </select>
          <small
            class="form-text text-danger"
            *ngIf="category.dirty && category.errors?.required"
            >Category is required
          </small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="createServiceName">Service Name</label>
          <input
            type="text"
            id="createServiceName"
            class="form-control form-control-sm"
            formControlName="service"
          />
          <small
            class="form-text text-danger"
            *ngIf="service.dirty && service.errors?.required"
            >Service name is required
          </small>
          <small
            class="form-text text-danger"
            *ngIf="service.dirty && serviceAlreadyExist"
            >Service name already exists</small
          >
        </div>

        <div class="form-group text-left mt-4">
          <label for="createServiceDescription">Description</label>
          <textarea
            type="text"
            id="createServiceDescription"
            class="form-control form-control-sm"
            formControlName="description"
            rows="3"
          >
          </textarea>
        </div>

        <div class="mt-4 d-flex justify-content-between align-items-center">
          <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="internal"
                formControlName="internal"
              />
              <label class="form-check-label" for="internal">
                Internal Only?
              </label>
            </div>
          </div>

          <button
            [disabled]="!createServiceForm.valid || serviceAlreadyExist"
            [ngStyle]="{'cursor': (!createServiceForm.valid || serviceAlreadyExist)? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Add
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editServiceModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Edit Service</h4>
    <small>
      <form [formGroup]="editServiceForm" (ngSubmit)="editServiceSubmit()">
        <div class="form-group required text-left mt-4">
          <label for="editSelectServiceCategory">Select Category</label>
          <select
            id="editSelectServiceCategory"
            class="form-control form-control-sm"
            formControlName="editCategory"
          >
            <option
              [value]="category.serviceCategory"
              *ngFor="let category of serviceCategories"
              >{{category.serviceCategory}}</option
            >
          </select>
          <small
            class="form-text text-danger"
            *ngIf="editCategory.dirty && editCategory.errors?.required"
            >Category is required
          </small>
        </div>

        <div class="form-group required text-left mt-4">
          <label for="editServiceName">Service Name</label>
          <input
            type="text"
            id="editServiceName"
            class="form-control form-control-sm"
            formControlName="editService"
          />
          <small
            class="form-text text-danger"
            *ngIf="editService.dirty && editService.errors?.required"
            >Service name is required
          </small>
          <small
            class="form-text text-danger"
            *ngIf="editService.dirty && editServiceAlreadyExist"
            >Service name already exists</small
          >
        </div>

        <div class="form-group text-left mt-4">
          <label for="editServiceDescription">Description</label>
          <textarea
            type="text"
            id="editServiceDescription"
            class="form-control form-control-sm"
            formControlName="editDescription"
            rows="3"
          >
          </textarea>
        </div>

        <div class="mt-4 d-flex justify-content-between align-items-center">
          <div class="form-group">
            <div class="form-check">
              <input
                class="form-check-input"
                type="checkbox"
                id="editInternal"
                formControlName="editInternal"
              />
              <label class="form-check-label" for="editInternal">
                Internal Only?
              </label>
            </div>
          </div>

          <button
            [disabled]="!editServiceForm.valid || editServiceAlreadyExist"
            [ngStyle]="{'cursor': (!editServiceForm.valid || editServiceAlreadyExist) ? 'not-allowed' : 'pointer'}"
            class="btn btn-primary"
            type="submit"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteServiceAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to delete this service?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteService()">
          Delete
        </button>
      </div>
    </div>
  </div>
</swal>
