<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <span><h5 class="mb-0 font-weight-bold text-center">Settings</h5></span>
  <div class="container-fluid mt-4 contrast-img-bg pt-3">
    <div class="row">
      <div class="col-md">
        <h6 class="text-left font-weight-bold">Providers</h6>
        <ul class="text-left">
          <li *ngFor="let choice of settingsPageRoutesProviders">
            <a routerLink="{{choice.link}}" class="text-dark">
              {{choice.name}}</a
            >
          </li>
        </ul>
      </div>
      <div class="col-md">
        <!-- <div>
          <h6 class="text-left font-weight-bold">Families</h6>
          <ul class="text-left">
            <li>Family Questionnaire</li>
          </ul>
        </div> -->

        <div>
          <h6 class="text-left font-weight-bold">Configuration</h6>
          <ul class="text-left">
            <li><a routerLink="/regions" class="text-dark">Regions</a></li>
          </ul>
        </div>

        <div>
          <h6 class="text-left font-weight-bold">User Management</h6>
          <ul class="text-left">
            <li *ngFor="let choice of settingsPageRoutesUserManagement">
              <a routerLink="{{choice.link}}" class="text-dark">
                {{choice.name}}</a
              >
            </li>
          </ul>
        </div>
      </div>
      <div class="mr-4 col-md">
        <div>
          <h6 class="text-left font-weight-bold">Other</h6>
          <ul class="text-left">
            <li>
              <button
                class="btn btn-link text-dark p-0"
                (click)="editBackgroundImageModal.fire()"
              >
                Background Image
              </button>
            </li>
            <li>
              <button
                class="btn btn-link text-dark p-0"
                (click)="editSearchSupportNoteModal.fire()"
              >
                Search Support Note
              </button>
            </li>
            <li>
              <button
                class="btn btn-link text-dark p-0"
                (click)="editTechnicalSupportNoteModal.fire()"
              >
                Technical Support Note
              </button>
            </li>
            <li>
              <button
                class="btn btn-link text-dark p-0"
                (click)="editDisclaimerModal.fire()"
              >
                Disclaimer
              </button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #editBackgroundImageModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light">Edit Background Image</h4>

    <small>
      <form
        [formGroup]="editBackgroundImageForm"
        (ngSubmit)="editBackgroundImageSubmit()"
      >
        <div class="form-group required mt-4 text-left">
          <!-- <label for="backgroundImage">Background Image URL</label>
          <input
            type="text"
            id="backgroundImage"
            formControlName="editBackgroundImage"
            class="form-control form-control-sm"
          /> -->

          <div>
            <img
              class="profile-img"
              [src]="!imageBuffer ? previousBgImage : imageBuffer"
              alt="uploaded image"
            />
          </div>

          <div class="text-center mt-4">
            <input
              type="file"
              id="BtnBrowseHidden"
              name="files"
              style="display: none;"
              formControlName="editBackgroundImage"
              (change)="onSelectFile($event)"
            />
            <label for="BtnBrowseHidden" id="LblBrowse" class="btn btn-primary">
              Upload Image
            </label>
          </div>
        </div>

        <div class="mt-4">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!editBackgroundImageForm.valid"
            [ngStyle]="{'cursor': (!editBackgroundImageForm.valid) ? 'not-allowed' : 'pointer'}"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editSearchSupportNoteModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light">Edit Search Search Support Note</h4>

    <small>
      <form
        [formGroup]="editSearchSupportNoteForm"
        (ngSubmit)="editSearchSupportNoteSubmit()"
      >
        <div class="mt-4">
          <angular-editor
            id="editSearchSupportNote"
            formControlName="editSearchSupportNote"
            [config]="editorConfig"
          ></angular-editor>
        </div>

        <div class="mt-4">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!editSearchSupportNoteForm.valid"
            [ngStyle]="{'cursor': (!editSearchSupportNoteForm.valid) ? 'not-allowed' : 'pointer'}"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editTechnicalSupportNoteModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light">Edit Technical Support Note</h4>

    <small>
      <form
        [formGroup]="editTechnicalSupportNoteForm"
        (ngSubmit)="editTechnicalSupportNoteSubmit()"
      >
        <div class="mt-4">
          <angular-editor
            id="editTechnicalSupportNote"
            formControlName="editTechnicalSupportNote"
            [config]="editorConfig"
          ></angular-editor>
        </div>

        <div class="mt-4">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!editTechnicalSupportNoteForm.valid"
            [ngStyle]="{'cursor': (!editTechnicalSupportNoteForm.valid) ? 'not-allowed' : 'pointer'}"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #editDisclaimerModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light">Edit Disclaimer</h4>

    <small>
      <form
        [formGroup]="editDisclaimerForm"
        (ngSubmit)="editDisclaimerSubmit()"
      >
        <div class="mt-4">
          <angular-editor
            id="editDisclaimer"
            formControlName="editDisclaimer"
            [config]="editorConfig"
          ></angular-editor>
        </div>

        <div class="mt-4">
          <button
            type="submit"
            class="btn btn-primary"
            [disabled]="!editDisclaimerForm.valid"
            [ngStyle]="{'cursor': (!editDisclaimerForm.valid) ? 'not-allowed' : 'pointer'}"
          >
            Save
          </button>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>Error when trying to update settings...</small>
  </div>
</swal>
<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
