<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <div class="bk-btn" (click)="goBack()">
    <div class="bk-btn-triangle"></div>
    <div class="bk-btn-bar"></div>
  </div>
  <div class="container-fluid contrast-img-bg py-3">
    <div class="d-md-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <div class="mr-2">
          <img
            [src]="userViewDto.image"
            alt="User Profile Image"
            class="rounded-circle profile-img-small"
          />
        </div>
        <div>
          <h5 class="font-weight-bold">{{userViewDto.username}}</h5>
          <div>
            <button
              class="btn btn-warning btn-sm"
              type="button"
              (click)="changeUsernameModal.fire()"
              *ngIf="!userViewDto.rootAdmin"
            >
              Change Username
            </button>
          </div>
          <div class="mt-3">
            <a
              class="text-dark font-weight-bold"
              href="mailto:{{userViewDto.email}}"
              >{{userViewDto.email}}</a
            >
          </div>
          <div class="mt-2">
            <button
              class="btn btn-sm btn-primary"
              type="button"
              (click)="changeEmailModal.fire()"
            >
              Change Email
            </button>
          </div>
        </div>
      </div>

      <div class="mt-2 mt-md-0 text-right">
        <h6 class="font-weight-bold">
          {{userViewDto.firstName}} {{userViewDto.lastName}}
        </h6>

        <div
          *ngIf="userViewDto.enabled"
          class="mt-2 d-flex flex-row-reverse align-items-center w-100"
        >
          <button
            class="btn btn-sm btn-secondary"
            (click)="confirmDisableAlert.fire()"
            [disabled]="userViewDto.rootAdmin"
            [ngStyle]="{'cursor': userViewDto.rootAdmin ? 'not-allowed' : 'pointer'}"
          >
            Disable
          </button>
          <span class="text-primary mr-3 font-weight-bold">Active</span>
        </div>
        <div
          *ngIf="!userViewDto.enabled"
          class="d-flex flex-row-reverse align-items-center w-100"
        >
          <button
            class="btn btn-sm btn-primary"
            (click)="confirmEnableAlert.fire()"
          >
            Enable
          </button>
          <span class="text-secondary mr-3 font-weight-bold">Inactive</span>
        </div>
        <p class="mt-2 mb-2">Last Logged In: {{userViewDto.lastLoggedIn}}</p>
        <a
          routerLink="."
          (click)="changePasswordModal.fire()"
          class="font-weight-bold"
          [ngStyle]="{'cursor': userViewDto.rootAdmin ? 'not-allowed' : 'pointer',
                      'pointer-events': userViewDto.rootAdmin ? 'none' : 'auto'}"
          >Change User Password</a
        >
      </div>
    </div>

    <div class="w-100 table-wrapper mt-5">
      <span class="font-weight-bold">Linked Providers</span>
      <table class="table mt-2">
        <thead class="bg-gradient-primary-500">
          <tr>
            <th scope="col">Provider Name</th>
            <th scope="col">Location Count</th>
            <th scope="col">Service Count</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let provider of userViewDto.providers"
            class="bg-gradient-dark text-light"
          >
            <td valign="middle">
              <div class="d-flex align-items-start">
                <span>{{provider.providerName}}</span>
                <span
                  class="ml-2 badge badge-pill badge-warning font-italic p-2"
                  *ngIf="!provider.approved"
                  >Pending Approval</span
                >
              </div>
            </td>
            <td>{{provider.locationCount}}</td>
            <td>{{provider.serviceCount}}</td>
            <td>
              <div class="d-flex align-items-center">
                <div>
                  <fa-icon
                    [icon]="faEye"
                    [attr.data-providerinfoid]="provider.providerInfoId"
                    (click)="viewProviderByProviderInfoId($event)"
                    class="open-view-icon"
                  ></fa-icon>
                </div>

                <div>
                  <fa-icon
                    [icon]="faTrashAlt"
                    [attr.data-providerinfoid]="provider.providerInfoId"
                    (click)="unlinkProviderAccount($event)"
                    class="ml-3 delete-item-icon"
                  ></fa-icon>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-center mt-2" *ngIf="userViewDto.providers.length === 0">
        <p>There are currently no providers linked with this account...</p>
      </div>
    </div>

    <div class="mt-5">
      <div class="d-flex justify-content-between align-items-center">
        <span class="font-weight-bold">User Groups</span>
        <button
          class="btn btn-sm btn-primary"
          (click)="addGroupModal.fire()"
          [disabled]="userViewDto.rootAdmin"
          [ngStyle]="{'cursor': userViewDto.rootAdmin ? 'not-allowed' : 'pointer'}"
        >
          Add User To Group
        </button>
      </div>
      <div class="mt-2 w-100">
        <div
          class="bg-dark text-center py-2 px-3"
          *ngIf="userViewDto.groups.length === 0"
        >
          <p class="mb-0 text-light">This user is not in any group</p>
        </div>
        <div
          class="bg-dark text-light d-flex justify-content-between py-2 px-3"
          *ngFor="let group of userViewDto.groups"
        >
          <div>
            <p class="mb-0">
              {{group.groupDisplay}}
            </p>
          </div>
          <div
            *ngIf="!userViewDto.rootAdmin || group.group !== userViewDto.adminGroup"
          >
            <fa-icon
              [icon]="faTrashAlt"
              (click)="deleteUserGroup($event)"
              [attr.data-group]="group.group"
              class="delete-item-icon"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="d-flex justify-content-between align-items-center">
        <span class="font-weight-bold">User Permissions</span>
        <button
          class="btn btn-sm btn-primary"
          (click)="addPermissionModal.fire()"
          [disabled]="userViewDto.rootAdmin"
          [ngStyle]="{'cursor': userViewDto.rootAdmin ? 'not-allowed' : 'pointer'}"
        >
          Add User Permission
        </button>
      </div>

      <div class="mt-2 w-100">
        <div
          class="bg-dark text-light text-center py-2 px-3"
          *ngIf="userViewDto.permissions.length === 0"
        >
          <p class="mb-0">This user does not have non-inherited permissions</p>
        </div>
        <div
          class="bg-dark text-light d-flex justify-content-between py-2 px-3"
          *ngFor="let permission of userViewDto.permissions"
        >
          <div>
            <p class="mb-0">
              {{permission.permissionDisplay}}
            </p>
          </div>
          <div>
            <fa-icon
              [icon]="faTrashAlt"
              (click)="deleteUserPermission($event)"
              [attr.data-permission]="permission.permission"
              class="delete-item-icon"
            ></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div>
        <span class="font-weight-bold">Inherited Group Permissions</span>
        <div
          class="w-100 w-md-75 w-lg-50 mx-auto permission-warning text-center bg-warning text-dark p-3"
        >
          Note: Inherited Group Permissions cannot be modified on the User
          Profile page. In order to modify these permissions, remove the user
          from the group and assign the permission directly to the user.
        </div>
      </div>

      <div class="mt-2 w-100">
        <div
          class="bg-dark text-light text-center py-2 px-3"
          *ngIf="userViewDto.inheritedPermissionDtos.length === 0"
        >
          <p class="mb-0">This user does not have inherited permissions</p>
        </div>
        <div
          class="bg-dark text-light d-flex justify-content-between py-2 px-3"
          *ngFor="let ipermission of userViewDto.inheritedPermissionDtos"
        >
          <div>
            <p class="mb-0">
              {{ipermission.iPermissionDisplay}}
            </p>
          </div>
          <div>
            <p class="mb-0">
              {{ipermission.iGroupDisplay}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<swal #infoAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{serverMessage}}</small>
  </div>
</swal>
<swal #errorAlert [showConfirmButton]="false">
  <div *swalPortal>
    <small>{{errorMessage}}</small>
  </div>
</swal>

<swal #confirmDisableAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to disable this user?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDisable()">
          Disable
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #confirmEnableAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to enable this user?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmEnable()">
          Enable
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #changePasswordModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3 mb-4">Change User Password</h4>
    <small>
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="changePassword(changePasswordForm)"
        class="text-left"
      >
        <div class="changepassword-container">
          <div class="form-group required">
            <label for="newPassword">New Password</label>
            <input
              formControlName="newPassword"
              type="password"
              class="form-control"
              id="newPassword"
            />
            <small
              class="form-text text-danger"
              *ngIf="newPassword.dirty && newPassword.errors?.required"
              >Password is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="newPassword.errors?.minlength"
              >Password must be at least 8 characters</small
            >
            <small
              class="form-text text-danger"
              *ngIf="newPassword.dirty && newPassword.errors?.strong"
              >Password must contain at least 1 uppercase letter, 1 lowercase
              letter, 1 digit and no whitespace</small
            >
          </div>
          <div class="form-group required">
            <label for="confirmNewPassword">Confirm New Password</label>
            <input
              formControlName="confirmNewPassword"
              type="password"
              class="form-control"
              id="confirmNewPassword"
            />
            <small
              class="form-text text-danger"
              *ngIf="confirmNewPassword.dirty && !passwordsMatch"
              >Passwords must match</small
            >
          </div>
        </div>
        <div class="d-flex mt-4 justify-content-between">
          <div>
            <button class="btn btn-sm btn-primary" (click)="cancel()">
              Cancel
            </button>
          </div>
          <div>
            <button
              class="btn btn-sm btn-primary"
              [disabled]="!changePasswordForm.valid || !passwordsMatch"
              [ngStyle]="{'cursor': (!changePasswordForm.valid || !passwordsMatch) ? 'not-allowed' : 'pointer'}"
              type="submit"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteGroupAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to remove this group from this user?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteGroup()">
          Remove
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #confirmDeletePermissionAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to remove this permission from this user?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button
          class="btn btn-sm btn-danger"
          (click)="confirmDeletePermission()"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</swal>

<swal #addGroupModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Group</h4>
    <small>
      <div class="form-group text-left mt-4">
        <label for="accountGroupSelect">Select Group</label>
        <select
          [(ngModel)]="defaultGroupSelected"
          class="form-control form-control-sm"
          id="accountGroupSelect"
        >
          <option [value]="group.group" *ngFor="let group of notInGroups"
            >{{group.groupNameDisplay}}</option
          >
        </select>
      </div>
      <div class="mt-4">
        <button class="btn btn-primary" (click)="addGroupToUser()">Save</button>
      </div>
    </small>
  </div>
</swal>

<swal #addPermissionModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3">Permision</h4>
    <small>
      <div class="form-group text-left mt-4">
        <label for="accountPermissionSelect">Select Permission</label>
        <select
          [(ngModel)]="defaultPermissionSelected"
          class="form-control form-control-sm"
          id="accountPermissionSelect"
        >
          <option
            [value]="permission.permission"
            *ngFor="let permission of notInPermissions"
            >{{permission.permissionNameDisplay}}</option
          >
        </select>
      </div>
      <div class="mt-4">
        <button class="btn btn-primary" (click)="addPermissionToUser()">
          Save
        </button>
      </div>
    </small>
  </div>
</swal>

<swal #changeEmailModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3 mb-4">Change User Email</h4>
    <small>
      <form
        [formGroup]="changeEmailForm"
        (ngSubmit)="changeEmail(changeEmailForm)"
        class="text-left"
      >
        <div class="changepassword-container">
          <div class="form-group required">
            <label for="newEmail">New Email</label>
            <input
              formControlName="email"
              type="email"
              class="form-control"
              id="newEmail"
              (blur)="checkEmailAndEnabled()"
            />
            <small
              class="form-text text-danger"
              *ngIf="email.dirty && email.errors?.required"
              >Email is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="email.dirty && email.errors?.email"
              >Email must be valid</small
            >
            <small class="form-text text-danger" *ngIf="!emailAvailable"
              >This email is unavailable</small
            >
          </div>
        </div>
        <div class="d-flex mt-4 justify-content-between">
          <div>
            <button class="btn btn-sm btn-primary" (click)="cancel()">
              Cancel
            </button>
          </div>
          <div>
            <button
              class="btn btn-sm btn-primary"
              [disabled]="!changeEmailForm.valid || !emailAvailable"
              [ngStyle]="{'cursor': (!changeEmailForm.valid || !emailAvailable) ? 'not-allowed' : 'pointer'}"
              type="submit"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #changeUsernameModal [showConfirmButton]="false">
  <div *swalPortal>
    <h4 class="bg-dark text-light py-2 px-3 mb-4">Change Username</h4>
    <small>
      <form
        [formGroup]="changeUsernameForm"
        (ngSubmit)="changeUsername(changeUsernameForm)"
        class="text-left"
      >
        <div class="changepassword-container">
          <div class="form-group required">
            <label for="newUsername">New Username</label>
            <input
              formControlName="newUsername"
              type="text"
              class="form-control"
              id="newUsername"
              (blur)="checkUsername()"
            />
            <small
              class="form-text text-danger"
              *ngIf="newUsername.dirty && newUsername.errors?.required"
              >Username is required</small
            >
            <small
              class="form-text text-danger"
              *ngIf="newUsername.errors?.pattern"
              >Username must contain no special characters or whitespace</small
            >
            <small
              class="form-text text-danger"
              *ngIf="newUsername.errors?.maxlength"
              >Username must be 50 characters or less</small
            >
            <small class="form-text text-danger" *ngIf="!usernameAvailable">
              This username is unavailable
            </small>
          </div>
        </div>
        <div class="d-flex mt-4 justify-content-between">
          <div>
            <button class="btn btn-sm btn-primary" (click)="cancel()">
              Cancel
            </button>
          </div>
          <div>
            <button
              class="btn btn-sm btn-primary"
              [disabled]="!changeUsernameForm.valid || !usernameAvailable"
              [ngStyle]="{'cursor': (!changeUsernameForm.valid || !usernameAvailable) ? 'not-allowed' : 'pointer'}"
              type="submit"
            >
              Save
            </button>
          </div>
        </div>
      </form>
    </small>
  </div>
</swal>

<swal #confirmDeleteProviderAlert [showConfirmButton]="false">
  <div *swalPortal>
    <h6>Are you sure you want to unlink this provider and this account?</h6>
    <div class="row mt-4">
      <div class="col-12 col-md-6 text-center">
        <button class="btn btn-sm btn-primary" (click)="cancel()">
          Cancel
        </button>
      </div>
      <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
        <button class="btn btn-sm btn-danger" (click)="confirmDeleteProvider()">
          Unlink
        </button>
      </div>
    </div>
  </div>
</swal>
