// Font
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "./variables.scss";

@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";

$enable-gradients: true;
$enable-shadows: true;
$enable-responsive-font-sizes: true;

$theme-colors: (
  "primary": $app-primary,
  "danger": $app-danger,
  "warning": $app-warning,
  "dark": $app-dark,
  "secondary": $app-secondary,
  "primary-500": $app-primary-500,
  "light": $app-light
);

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// Global Styles
* {
  font-family: "Roboto", sans-serif;
}

h6.required::after {
  content: " *";
  color: $app-danger;
}

.form-group.required label:after {
  content: " *";
  color: $app-danger;
}

.page-view-container {
  padding-top: 160px; // +60px for navbar
  padding-bottom: 70px;
  min-height: calc(100vh - 80px);
}

.logo-img {
  width: 135px;
  height: 135px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-img {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.profile-img-small,
.logo-img-small {
  width: 50px;
  height: 50px;
}

.profile-img-xs {
  width: 35px;
  height: 35px;
}

.register-password-reset-related-container {
  width: 94vw;
  max-width: 500px;
  margin: 0 auto;
}

.show-info-icon {
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: map-get($map: $theme-colors, $key: "info");
  }
}

.approve-icon,
.open-view-icon,
.edit-view-icon,
.save-item-icon {
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $app-primary;
  }
}

.disapprove-icon,
.cancel-view-icon,
.delete-item-icon {
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $app-danger;
  }
}

.copy-item-icon {
  padding-right: 1em;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $app-primary;
  }
}

.edit-note-icon {
  padding-right: 1em;
  cursor: pointer;

  &:hover,
  &:active,
  &:focus {
    color: $app-primary;
  }
}

.img-bg {
  background: url("assets/images/bg1.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.contrast-img-bg {
  background: rgba(255, 255, 255, 0.9);
}

.table-wrapper {
  overflow-x: auto;
}

.table {
  width: 100%;
}

//backbutton
$bkBtnSize: 52px;

.bk-btn {
  cursor: pointer;
  height: $bkBtnSize;
  width: $bkBtnSize;
  background-color: $app-dark;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 3%;

  .bk-btn-triangle {
    position: relative;
    top: $bkBtnSize * 0.25;
    left: $bkBtnSize * 0.2;
    width: 0;
    height: 0;
    border-top: $bkBtnSize * 0.25 solid transparent;
    border-bottom: $bkBtnSize * 0.25 solid transparent;
    border-right: $bkBtnSize * 0.25 solid $app-light;
  }
  .bk-btn-bar {
    position: relative;
    background-color: $app-light;
    height: $bkBtnSize * 0.15;
    width: $bkBtnSize * 0.25;
    top: $bkBtnSize * -0.07;
    left: $bkBtnSize * 0.44;
  }

  &:hover,
  &:active,
  &:focus {
    background-color: $app-primary;
  }
}

// tooltip
.tooltip-inner {
  background-color: $app-dark;
  color: $app-light;
}
.tooltip.top .tooltip-arrow:before,
.tooltip.top .tooltip-arrow {
  border-top-color: $app-dark;
}

// select
select {
  cursor: pointer !important;
}

// multiselect
.multiselect-dropdown .dropdown-btn {
  border: 1px solid #ced4da !important;
  padding: 3.5px 2px !important;
  @extend .form-control;
  @extend .form-control-sm;
}

.multiselect-dropdown .dropdown-btn span.dropdown-down {
  border-top: 6.2px solid #545454 !important;
  border-left: 2.9px solid transparent !important;
  border-right: 2.9px solid transparent !important;
}

.multiselect-dropdown .dropdown-btn span.dropdown-up {
  border-bottom: 6.2px solid #545454 !important;
  border-left: 3px solid transparent !important;
  border-right: 3px solid transparent !important;
}

.selected-item {
  background: $app-secondary !important;
  border: 1px solid $app-dark !important;
}

.multiselect-item-checkbox input + div:before {
  background: $app-secondary !important;
  border: 1px solid $app-dark !important;
  animation: 0.2s ease-in !important;
}

.multiselect-item-checkbox * {
  color: #545454 !important;
}

// display location forms:
.form-field-background {
  background: rgba(255, 255, 255, 0.6);
}

// swal
.swal2-close {
  outline: none !important;
  box-shadow: none !important;

  &:hover {
    color: $app-danger !important;
  }
}

@include media-breakpoint-up(md) {
  .page-view-container {
    padding-left: 5%;
    padding-right: 5%;
  }

  .mx-md-6 {
    margin-left: ($spacer * 6);
    margin-right: ($spacer * 6);
  }

  .w-md-25 {
    width: 25% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .bk-btn {
    left: 1%;
  }
}

@include media-breakpoint-up(lg) {
  .mx-lg-10 {
    margin-left: ($spacer * 10);
    margin-right: ($spacer * 10);
  }

  .w-lg-initial {
    width: initial !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }
}
