// Theme variables
$app-primary: #97d700;
$app-danger: #ff0000;
$app-warning: #ffc107;
$app-dark: #343f49;
$app-secondary: #a0a1a1;
$app-primary-500: #bad69f;
$app-light: #f8f9fa;

// Media queries
$app-md: 768px;
$app-xl: 1200px;
