<div
  class="page-view-container img-bg"
  [style.background-image]="'url('+appBgImage+')'"
>
  <h3 class="text-center font-weight-bold">Groups</h3>
  <div class="container mt-4 pt-3 contrast-img-bg">
    <div>
      <div class="d-md-flex justify-content-between">
        <div>
          <label for="group-search">Search</label>
          <form
            [formGroup]="searchGroupForm"
            class="form-inline"
            (ngSubmit)="searchGroupsByName(searchGroupForm)"
          >
            <input
              class="form-control mr-sm-2"
              id="group-search"
              type="search"
              placeholder="Group Name"
              aria-label="Search"
              formControlName="groupName"
              (search)="searchGroupsByName(searchGroupForm)"
            />
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">
              <fa-icon [icon]="faSearch"></fa-icon>
            </button>
          </form>
        </div>
        <div>
          <button
            class="btn btn-primary d-flex align-items-center"
            (click)="createGroupModal.fire()"
          >
            <small><fa-icon [icon]="faPlus"></fa-icon></small
            ><span class="ml-1"> Create New Group</span>
          </button>
        </div>
      </div>
    </div>
    <div class="w-100 table-wrapper">
      <table class="table mt-4">
        <thead class="bg-secondary">
          <tr>
            <th scope="col">Group Name</th>
            <th scope="col">User Count</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let group of returnedGroups">
            <td>{{group.groupNameDisplay}}</td>
            <td>{{group.userCount}}</td>
            <td class="d-flex">
              <div class="mr-4">
                <fa-icon
                  [icon]="faEye"
                  [attr.data-group]="group.accountGroup"
                  (click)="openGroupView($event)"
                  class="open-view-icon"
                ></fa-icon>
              </div>
              <div *ngIf="group.userCount === 0">
                <fa-icon
                  [icon]="faTrashAlt"
                  (click)="deleteGroup($event)"
                  [attr.data-group]="group.accountGroup"
                  class="delete-item-icon"
                ></fa-icon>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="mt-4 w-100 d-flex justify-content-center">
      <pagination
        [totalItems]="groups.length"
        [itemsPerPage]="5"
        (pageChanged)="pageChanged($event)"
        [maxSize]="10"
        [boundaryLinks]="true"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      ></pagination>
    </div>

    <swal #createGroupModal [showConfirmButton]="false">
      <div *swalPortal>
        <h4 class="bg-dark text-light py-2 px-3">New Group</h4>
        <small>
          <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit()">
            <div class="form-group required text-left mt-4">
              <label for="createAccountGroup">Group Name</label>
              <input
                type="text"
                id="createAccountGroup"
                class="form-control form-control-sm"
                formControlName="accountGroup"
                placeholder="New Group"
              />
              <small
                class="form-text text-danger"
                *ngIf="accountGroup.dirty && accountGroup.errors?.required"
                >Group name is required</small
              >
              <small
                class="form-text text-danger"
                *ngIf="accountGroup.dirty && groupAlreadyExist"
                >Group name already exists</small
              >
            </div>
            <div class="mt-4">
              <button
                [disabled]="!createGroupForm.valid || groupAlreadyExist"
                [ngStyle]="{'cursor': (!createGroupForm.valid || groupAlreadyExist) ? 'not-allowed' : 'pointer'}"
                class="btn btn-primary"
                type="submit"
              >
                Add
              </button>
            </div>
          </form>
        </small>
      </div>
    </swal>
    <swal #infoAlert [showConfirmButton]="false">
      <div *swalPortal>
        <small>{{serverMessage}}</small>
      </div>
    </swal>
    <swal #errorAlert [showConfirmButton]="false">
      <div *swalPortal>
        <small>{{errorMessage}}</small>
      </div>
    </swal>
    <swal #confirmDeleteAlert [showConfirmButton]="false">
      <div *swalPortal>
        <h6>Are you sure you want to delete this group?</h6>
        <div class="row mt-4">
          <div class="col-12 col-md-6 text-center">
            <button
              class="btn btn-sm btn-primary"
              (click)="cancelDeleteGroup()"
            >
              Cancel
            </button>
          </div>
          <div class="col-12 col-md-6 text-center mt-2 mt-md-0">
            <button class="btn btn-sm btn-danger" (click)="confirmDelete()">
              Delete
            </button>
          </div>
        </div>
      </div>
    </swal>
  </div>
</div>
