<div class="page-view-container">
  <div [ngSwitch]="result" class="text-center">
    <div *ngSwitchCase="'success'">
      <div class="alert alert-primary" role="alert">
        Your account is enabled successfully.
      </div>
      <a href="#">Sign In</a>
    </div>
    <div *ngSwitchCase="'expiration'">
      <div class="alert alert-danger" role="alert">
        This link has expired.
      </div>
    </div>
    <div *ngSwitchDefault>
      <div class="alert alert-danger" role="alert">
        Failed to enable account.
      </div>
    </div>
  </div>
</div>
